#parse("/layout/projectMg/assistSys/summary/fillReviewCommon.vm")

<dl class="fn-mt20">
    <dd class="fn-p-reb">
        <table class="m-table m-tableBorderNone" border="0" cellspacing="0" cellpadding="0" style="border-width:0px;">
            <tbody>
                <tr>
                    <td class="fn-font-b2">客户名称</td>
                    <td>$!project.customerName</td>
                    <td class="fn-font-b2">授信品种</td>
                    <td colspan="2">$!project.busiTypeName</td>
                </tr>
                <tr>
                    <td class="fn-font-b2">
                    	#if($!projectUtil.isUnderwriting($!project.busiType))
                    		融资金额
                    	#elseif($!projectUtil.isLitigation($!project.busiType))
                    		保全金额
                    	#elseif($!projectUtil.isBond($!project.busiType))
                    		拟发行金额
                    	#else
                    		授信金额
                    	#end                    
                    </td>
                    <td>$!project.amount.toStandardString()元</td>
                    <td class="fn-font-b2"></td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </dd>
</dl>
<dl class="fn-mt20">
    <dt class="fn-pl30 fn-mb20">
    	项目纪要：
    	$!stringUtil.textareaString($!project.remark)
    </dt>
</dl>
      