<div class="m-invn">
    <h3 class="m-invndt fn-mt40 fn-ml20 ui-textarea-dt"><b>审核意见</b><i class="triangle-t"></i></h3>
    <dl class="fn-mt20">
    </dl>
    <h3 class="m-invndt fn-mt40 fn-ml20 ui-textarea-dt">
    </h3>
    <dl class="fn-mt20">
    </dl>
    <p class="fn-ml30 fn-mt20 fn-fs24 fn-f0">董事长白海对项目XXX、XXXXX执行了一票否决权！</p>
</div>
<div class="fn-tac fn-pt30 fn-pb30">
    <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5 fnNext" type="submit" value="通过">
    <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 fnNext" type="submit" value="不通过">
    <input class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 fnNext" type="button" value="返回">
</div>