#parse("/layout/projectMg/assistSys/summary/fillReviewCommon.vm")
<dl class="fn-mt20">
    <dd class="fn-p-reb">
        <table class="m-table m-tableBorderNone" border="0" cellspacing="0" cellpadding="0" style="border-width:0px;">
            <tbody>
                <tr>
                    <td class="fn-font-b2">客户名称</td>
                    <td>$!project.customerName</td>
                    <td class="fn-font-b2">授信品种</td>
                    <td>$!project.busiTypeName</td>
                </tr>
                <tr>
                    <td class="fn-font-b2">授信用途</td>
                    <td>$!project.loanPurpose</td>
                    <td class="fn-font-b2">授信期限</td>
                    <td>$!project.timeLimit $!project.timeUnit.viewName #if($!stringUtil.isNotBlank($!project.timeRemark))&nbsp;($!project.timeRemark)#end</td>
                </tr>
                <tr>
                    <td class="fn-font-b2">授信金额</td>
                    <td class="m-invndd-font">$!project.amount.toStandardString()元</td>
                    <td class="m-invndd-font" nowrap="nowrap" style="white-space: nowrap;">是否最高额授信 ： $!project.isMaximumAmount.message</td>
                    <td class="m-invndd-font">
                                                                是否南川分公司项目 ： $!project.belongToNc.message
                    </td>
                </tr>
                #foreach($!item in $!project.capitalChannels)
	                <tr>
	                    <td class="fn-font-b2">资金渠道</td>
	                    <td>$!item.channelName</td>
	                    <td class="fn-font-b2">二级资金渠道</td>
	                    <td>$!item.subChannelName</td>
	                </tr>
                #end
                <tr>
                    <td class="fn-font-b2">担保费用</td>
                    <td>
                    	#if($!project.guaranteeFeeType.code == "AMOUNT")
                    		$!moneyUtil.getMoney($!project.guaranteeFee).toStandardString()
                    	#else
                    		$!commonUtil.numberFormat($!project.guaranteeFee,2)
                    	#end
                    	$!project.guaranteeFeeType.unit
                    </td>
                    <td class="fn-font-b2">利率</td>
                    <td>$!project.interestRateFloat.symbol$!commonUtil.numberFormat($!project.interestRate,2)%</td>
                </tr>
                <tr>
                    <td class="fn-font-b2">其他费用</td>
                    <td>
                    	#if($!project.otherFeeType.code == "AMOUNT")
                    		$!moneyUtil.getMoney($!project.otherFee).toStandardString()
                    	#else
                    		$!commonUtil.numberFormat($!project.otherFee,2)
                    	#end
                    	$!project.otherFeeType.unit
                    </td>
                    <td class="fn-font-b2">总成本</td>
                    <td>
                    	#if($!project.totalCostType.code == "AMOUNT")
                    		$!moneyUtil.getMoney($!project.totalCost).toStandardString()
                    	#else
                    		$!commonUtil.numberFormat($!project.totalCost,2)
                    	#end
                    	$!project.totalCostType.unit
                    </td>
                </tr>
                <tr>
                    <td class="fn-font-b2"><em class="remind">*</em>保证金</td>
                    <td class="m-invndd-font">
                        #if($!{project.depositType.code}=="AMOUNT")
                            $!moneyUtil.getMoney($!{project.deposit}).toStandardString()元
                        #else
                            $!rateUtil.formatRate($!{project.deposit})%
                        #end
                    </td>
                    <td class="fn-font-b2">保证金存入账户名</td>
                    <td>$!project.depositAccount</td>
                </tr>
            </tbody>
        </table>
    </dd>
</dl>
<dl class="fn-mt20">
    <dt class="fn-pl30 fn-mb20">
        项目纪要：
        $!stringUtil.textareaString($!project.remark)
    </dt>
</dl>
	#parse("/layout/projectMg/assistSys/summary/viewChargeWayBaseNew.vm")

<h3 class="m-invndt fn-mt20 fn-ml30 fn-mt40"><b>授信前提条件</b></h3>
#set($coucilSummaryProjectCode = $!project.projectCode)
#parse("/layout/common/viewCounterGuaranteeCommon.vm")

