<div class="m-invn fn-ml30">
    <div class="fn-clear fn-mt20 selectTimeParent" style="margin-left:-80px;">
        <div class="m-item fn-left fnChangeApply" style="padding-left: 147px;">
            <label class="m-label fnChangeLabel"><em class="remind">*</em>收费方式：</label>
            <select class="ui-select3 selectTime fnChangeInput" name="chargeWay">
                <option value="ONE" #if($!project.chargeWay.code == "ONE")selected="selected"#end>一次</option>
                <option value="MULTI" #if($!project.chargeWay.code == "MULTI")selected="selected"#end>多次</option>
            </select>
        </div>
        <div class="fn-lh26 fn-left fnChangeApply">
            <label class="fnChangeLabel">先收后收：</label>
            <span>
                <label class="fn-csp"><input class="fn-mr5 fnChangeInput" type="radio" name="chargePhase" value="BEFORE" #if($!project.chargePhase.code == "BEFORE")checked="checked"#end>先收</label>
                <label class="fn-csp"><input class="fn-ml5 fn-mr5 fnChangeInput" type="radio" name="chargePhase" value="AFTER" #if($!project.chargePhase.code != "BEFORE")checked="checked"#end>后收</label>
            </span>
        </div>
    </div>
    <ul>
        #if($!project.chargeWayList && $!project.chargeWayList.size() > 0)

            #if($!project.chargeWay.code == "ONE") ##一次收费
                <li class="fn-mb20 fn-mt10 fnChangeApplys" style="margin-left: 67px;">
                    <div class="fnSelectTimeUlLi">
                        #foreach($chargeWay in $!project.chargeWayList )
                        <p orderName="chargeWayOrder" class="fnChangeItem">
                            <label class="fnChangeLabel fn-hide">收费计划</label>
                            自
                            #*
                            <select class="ui-select3 fnChangeInput" name="phase">
                                <option value="BEFORE_FIRST_LOAN" #if($!chargeWay.phase.code == "BEFORE_FIRST_LOAN")selected="selected"#end>首次放款</option>
                                <option value="BEFORE_FIRST_USE" #if($!chargeWay.phase.code == "BEFORE_FIRST_USE")selected="selected"#end>首次用款</option>
                                <option value="AMOUNT_CONFIRM" #if($!chargeWay.phase.code == "AMOUNT_CONFIRM")selected="selected"#end>发行金额确认</option>
                            </select>
                            *#
                            出具担保函<em class="chargePhaseChange">前</em>
                            <input class="ui-text fn-w90 fnChangeInput" type="text" name="beforeDay" value="$!chargeWay.beforeDay">
                            天内收取
                        </p>
                        #end
                    </div>
                </li>
                <li class="fn-mb20 fn-mt10 fnChangeApplys" style="margin-left: 67px;">
                    <div class="fnSelectTimeUlLi">
                        <p orderName="chargeWayOrder" class="fnChangeItem">
                            <label class="fnChangeLabel fn-hide">收费计划</label>
                            以后各担保年度的担保费/服务费按照
                            <input class="ui-text fn-w90 changePrevTarget fnChangeInput" type="text" name="amount">
                            <select class="ui-select3 fn-w40 changePrev fnChangeInput" name="amountType">
                                <option value="PERCENT">%</option>
                                <option value="AMOUNT">元</option>
                            </select>
                            /年、当年度担保金额或还款计划确定的当年度担保金额计算，于上一个担保年度结束前
                            <input class="ui-text fn-w40 fnChangeInput" type="text" name="beforeDay">
                            个工作日内一次性支付
                        </p>
                    </div>
                </li>
            #else ##多次收费
                <li class="fn-mb20 fn-mt10 fnChangeApplys" style="margin-left: 67px;">
                    <div class="fnSelectTimeUlLi">
                        <p orderName="chargeWayOrder" class="fnChangeItem">
                            <label class="fnChangeLabel fn-hide">收费计划</label>
                            #*
                            自
                            <select class="ui-select3 fnChangeInput" name="phase">
                                <option value="BEFORE_FIRST_LOAN">首次放款</option>
                                <option value="BEFORE_FIRST_USE">首次用款</option>
                                <option value="AMOUNT_CONFIRM">发行金额确认</option>
                            </select>
                            *#
                            出具担保函<em class="chargePhaseChange">前</em>
                            <input class="ui-text fn-w90 fnChangeInput" type="text" name="beforeDay">
                            天内收取
                       </p>
                    </div>
                </li>
                <li class="fn-mb20 fn-mt10 fnChangeApplys" style="margin-left: 67px;">
                    <div class="fnSelectTimeUlLi">
                        #foreach($chargeWay in $!project.chargeWayList )
                            <p orderName="chargeWayOrder" class="fnChangeItem">
                                <label class="fnChangeLabel fn-hide">收费计划</label>
                                以后各担保年度的担保费/服务费按照
                                <input class="ui-text fn-w90 changePrevTarget fnChangeInput" type="text" name="amount" value="$!chargeWay.amount">
                                <select class="ui-select3 fn-w40 changePrev fnChangeInput" name="amountType">
                                    <option value="PERCENT" #if($!chargeWay.amountType.code == "PERCENT")selected="selected"#end>%</option>
                                    <option value="AMOUNT" #if($!chargeWay.amountType.code == "AMOUNT")selected="selected"#end>元</option>
                                </select>
                                /年、当年度担保金额或还款计划确定的当年度担保金额计算，于上一个担保年度结束前
                                <input class="ui-text fn-w40 fnChangeInput" type="text" name="beforeDay" value="$!chargeWay.beforeDay">
                                个工作日内一次性支付
                            </p>
                        #end
                    </div>
                </li>
            #end
        #else
            <li class="fn-mb20 fn-mt10 fnChangeApplys" style="margin-left: 67px;">
                <div class="fnSelectTimeUlLi">
                    <p orderName="chargeWayOrder" class="fnChangeItem">
                        <label class="fnChangeLabel fn-hide">收费计划</label>
                        #*
                        自
                        <select class="ui-select3 fnChangeInput" name="phase">
                            <option value="BEFORE_FIRST_LOAN">首次放款</option>
                            <option value="BEFORE_FIRST_USE">首次用款</option>
                            <option value="AMOUNT_CONFIRM">发行金额确认</option>
                        </select>
                        *#
                        出具担保函<em class="chargePhaseChange">前</em>
                        <input class="ui-text fn-w90 fnChangeInput" type="text" name="beforeDay">
                        天内收取
                   </p>
                </div>
            </li>
            <li class="fn-mb20 fn-mt10 fnChangeApplys" style="margin-left: 67px;">
                <div class="fnSelectTimeUlLi">
                    <p orderName="chargeWayOrder" class="fnChangeItem">
                        <label class="fnChangeLabel fn-hide">收费计划</label>
                        以后各担保年度的担保费/服务费按照
                        <input class="ui-text fn-w90 changePrevTarget fnChangeInput" type="text" name="amount">
                        <select class="ui-select3 fn-w40 changePrev fnChangeInput" name="amountType">
                            <option value="PERCENT">%</option>
                            <option value="AMOUNT">元</option>
                        </select>
                        /年、当年度担保金额或还款计划确定的当年度担保金额计算，于上一个担保年度结束前
                        <input class="ui-text fn-w40 fnChangeInput" type="text" name="beforeDay">
                        个工作日内一次性支付
                    </p>
                </div>
            </li>
        #end
    </ul>
</div>
<dl class="fn-pl30 fnChangeApply">
    <dt class="fn-lh60">收费方式备注：</dt>
    <dd class="fn-p-reb">
        <textarea class="ui-textarea2 fn-w500 fn-ml30 fnMakeUE fnChangeInput" name="chargeRemark" placeholder="请控制在1000文字之内">$!project.chargeRemark</textarea>
    </dd>
</dl>