/* eryue */
/*placeholder属性兼容*/
/* WebKit browsers */
.networkInfoList ::-webkit-input-placeholder{color: #666;position: relative;}
/* Mozilla Firefox 4 to 18 */
.networkInfoList input:-moz-placeholder{color: #666;opacity: 1;}
/* Mozilla Firefox 19+ */
.networkInfoList ::-moz-placeholder{color: #666;opacity: 1;}
/* Internet Explorer 10+ */
.networkInfoList input:-ms-input-placeholder{color: #666;position: absolute;}
.fn-dischoose{-webkit-user-select:none;  -moz-user-select:none;  -ms-user-select:none;  user-select:none;  }
.m-item3 .m-label{margin-left:0;position: static;width: 170px;display: inline-block;zoom: 1;*display: inline;_display: inline;}
.m-item3.fnUpAttach .fnUpAttachUl{margin-left:170px;}
.m-item3.fnUpAttach .fnUpAttachUl .fileItems{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;display: inline-block;zoom: 1;*display: inline;_display: inline;max-width: 75%;width: 110px;}
.m-item3.fnUpAttach .fn-blank5{display: none;}
.m-item-half-1{min-width:290px;}
.hiddenMax{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;  }
/*.ui-text.disabled,.ui-text:read-only{ border-color: #ccc; background-color: transparent; color: #161717; }*/
.viewRalateVideoDtl{cursor: pointer;}
.ralatevideolistItem span{width:40%;padding:0 5%;}
/* 抵押资产查看页面 */
.m-border{border:1px solid #dedede;}
/* 表格 */
.m-table-view{width:90%;margin:0 5%;}
.m-table-view td{border:1px solid #dedede;overflow:hidden;text-align:center;position:relative;}
.m-table-view .fn-tal { text-align: left; }
.m-table-view input[type=text]{width:90%;}
.m-table-view .ui-text{border:0;}
.fn-mw230{max-width:230px;}
.tableList .m-required{color:#f30;}
.m-lbs .m-required{color:#f30;margin-right:4px;}
.m-clos8 input[type=radio]{margin:6px 5px;}
/* .m-table-view i{position:absolute;top:0;right:0;line-height:26px;height:100%;font-style:normal;border-left:1px solid #dedede;} */
.item-unit{color:#ccc;}
.item-files{height:26px;line-height:26px;}
.fnUpAttach .viewDaliog{padding: 0 10px 0 0;}
.ui-btn-edit.ui-btn-blue-1{background-color: #00b7ee; border-color: #00a0e9;}
.ui-btn-blue-1{background-color: #00b7ee; border-color: #00a0e9;height:22px;line-height: 22px; width:60px;border-radius: 4px; color: #fff; cursor: pointer;margin-top:2px;margin-right:10px;}
.fn-ti1{text-indent:10px;}
.m-textarea{width:90%;font-size:0;}
.m-textarea .ui-textarea{width:60%;height:300px;font-size:12px;}
.table-ttl{margin:30px auto 10px auto;}
.table-ttl label{color:#FF5C33;font-size:12px;}
.ui-select-1{position:relative;}
.selectRslt{z-index:999;display:block;left:170px;top:42px;background:#fff;width:210px;border:1px solid #dedede;cursor:pointer;overflow:hidden;}
.selectRslt{display:none;}
.showBox{display:block !important;}
.selectRslt p{border-top:1px solid #dedede;position:relative;margin-top:-1px;padding-top:3px;padding-bottom:3px;}
.selectRslt p:hover{background:#91c7ae;color:#fff;}
.selectRslt div{display:none;}
.selectRslt div.isShow{display:block !important;}
.loadType .loadType{background:#EBEBEB;}
.icon-select-left{position:absolute;top:5px;left:0;display: inline-block;zoom: 1; vertical-align: top;*display: inline;top:11px;width:12px;height:12px;background:url('img/project/select-arrow.png') no-repeat 0 -13px;background-size:12px 24px;}
.icon-select-left.down{left:0;width:10px;height:10px;background:url('img/project/select-arrow.png') no-repeat 0 0;background-size:8px 35px;overflow:hidden;}
tr[seconditem]{background: #FAFAFA;}
/* 资产抵押申请 */
.fn-upfile em{margin-left:20px;color:#f30;font-size:12px;}
.capital-file a{margin:0 10px;color:#00a0e9;text-decoration:underline;}
.ui-btn-fill-4{padding:0 4px;}
.hiddenTable{visibility: hidden;}

/* 资产抵押类型 */
.mortgageTypeAdd{min-width:1080px;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
.m-table-1{width:100%;margin-bottom:20px;}
.m-table-1 td{padding:5px;border:1px solid #dedede;overflow:hidden;position:relative;}
.optionSelect{overflow:hidden;}
.toCopyBtn{width:80px;height: 40px;line-height: 40px;text-align: center;color: #fff;font-size: 16px;background: #FF6633;padding-left: 20px;}
.toCopyBtn:hover{color:#fff;}
/*.m-item.optionSelect{position: relative;width: 320px;}*/
/*.optionSelect b.error-tip{position: absolute;right: -20px;top:11px;}*/
.optionSelect b.error-tip,
.m-item-half b.error-tip,
.m-item-half-1 b.error-tip,
.tableList b.error-tip{display: block;}
.m-item-half b.error-tip{margin-top:-8px;}
/*.mortgageTypeAdd .delete-btn{margin-top:3px;border-radius: 27px;text-align:center;height: 19px;width: 22px;background:#d9534f;padding: 2px 0;}*/
.mortgageTypeAdd .delete-btn{margin-top:0;padding:0 6px;color: #f30;font-style: normal;display: inline-block;width: 30px;text-align: center;vertical-align: top;}
.mortgageTypeAdd .delete-btn i{font-style: inherit;}
/*.mortgageTypeAdd .dis-delete-btn{background: #ccc}*/
.mortgageTypeAdd .dis-delete-btn{color: #ccc;/*cursor: none;*/}
.optionSelect .new-option{display:none;}
.optionSelect .show{display:inline-block !important;}
.optionSelect .toHidden{display:none;}
.listItems tr,
.networkInfoList .isloction{height:40px;}
.listItems tr td,
.networkInfoList .isloction td{text-align:left;padding: 0 5px 0 10px;}
.listItems tr td .m-required,
.networkInfoList .isloction{width:10px;}
.listItems .areaChoose select{margin-right:20px;}
.listItems .radiosBox input{margin-left:10px;}
.split{width:100%;overflow:hidden;}
.m-item.split{width:100%;}
.regster-now{text-decoration:none;color:#f30;font-size:14px;margin-top:160px;}
.m-label .rltItem{color: #999;}
.imgText{border-bottom: 1px solid #dedede;width: 100%;padding:10px 0;max-width: 400px !important;}
.fn-mw300{max-width: 400px !important;width: 400px !important;min-width: 200px !important;}
.fnUpAttach{padding: 10px;}
.fnUpAttach1{width:95%;}
/*.to-line-op{width: 20px;height: 20px;border-radius: 20px;text-align: center;line-height: 20px;display: inline-block;position: absolute;font-weight: bold;color: #fff;cursor: pointer;background: #47a55c;z-index: 99;}*/
.to-line-op{display: inline-block;position: absolute;color: #fff;cursor: pointer;color: #47a55c;z-index: 99;}
.toDeleteLine{color: #f30;}
.new-line{right: 5px;top: 10px;}
.less-line{right: 5px;top: 10px;}
.targetInput{margin: 5px;}
/* 地图组件 */
.map-box{width: 100%;}
.all-map{width: 90%;height: 500px;margin: 20px 0 40px 5%;display: inline-block;vertical-align: top;border: 2px solid #ccc;}
.link-list{margin:0 5%;}
.link-list a{font-size:12px;color:#00b7ee;text-decoration:underline;margin-bottom: 10px;}
.link-list > div{margin-bottom: 10px;}
.map-location .get-location{margin-left: 50px;color:#00b7ee;text-decoration:underline;vertical-align: bottom;}
.isMapHide{display: none;}
.isMapLocation{height: 48px;}

/* 聚焦框 */

.focusInput{/* display:none; */position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -999;border: none;background: none;appearance: none;-moz-appearance: none;-webkit-appearance: none;}

/* 报表 */
.tabel-info{font-size:0;}
.tabel-info > div{width:50%;}
.tabel-info P{font-weight: bold;padding:4px;font-size: 14px;}
.tabel-info span{display: inline-block;width: 250px;text-align: left;padding-left: 4px;font-weight: normal;}
.report-table .fn-parent{padding-left: 10px;font-weight: bold;min-width: 80px;text-align: left;width: 300px;}
.report-table .fn-children1{padding-left: 25px;background: #FAFAFA;text-align: left;/* width:400px; */}
.report-table .fn-children2{padding-left: 40px;color: #999;text-align: left;/* width:400px; */}
.report-table .root-style{width: 20px;}
.report-table .text{border: 1px solid #fff; width: 80%; border-bottom: 1px solid #b9e2d4; outline: none;}
.tableList .inputLineText{border: 1px solid #fff; width: 80%; border-bottom: 1px solid #b9e2d4; outline: none;}
.report-table .text:focus{ border-bottom-color: #3dc496;}
.td-name{font-weight: bold;}
.table-infos{margin: 20px 0;font-size: 0;}
.table-infos span{width:25%;font-size: 14px;font-weight: bold;}
.table-infos label{font-weight: normal;}
.specialTbale{border-top: 0;}
.specialTbale tr{height: 35px;}
.specialTbale thead td{text-align: center !important;font-weight: bold;height: 40px;border-top: 0;}
.chooseBox .m-required{vertical-align: middle; color: #f30; margin-right: 5px;}
.report-table tr.fn-tal{text-align: left;}
.report-table tr td.fn-tac{text-align: center;}
.tab-mod textarea[disabled]{background: #fff;}

/*自定义报表*/
.apply-step{ background-color: #fff;}
.apply-step .item{ float: left; width: 140px; margin-left: 10px; text-align: center; cursor: pointer; color: #161717;}
.apply-step .icon{ width: 35px; height: 35px; margin-top: 20px; background-image: url(img/project/icon_view_report.png); background-repeat: no-repeat;}
.apply-step .icon-s1{ background-position: 0 0;}
.apply-step .icon-s2{ background-position: 0 -40px;}
.apply-step .icon-s3{ background-position: 0 -80px;}
.apply-step .icon-s4{ background-position: 0 -120px;}
.apply-step .icon-s5{ background-position: 0 -160px;}
.apply-step .icon-s6{ background-position: 0 -200px;}
.apply-step .icon-s7{ background-position: 0 -240px;}
.apply-step .step-line{ position: absolute; margin-top: -68px; margin-left: 140px; width: 0px; height: 60px; border-right: 1px solid #d6d0d0;}
.apply-step .step-line2{ position: absolute; height: 3px; width: 80px;}
.apply-step .item.active .step-line{ width: 10px; border-right: 0; background: url(img/project/apply_step_line.jpg) 50% 50% no-repeat;}
.apply-step .item.active .step-line2{ background-color: #77c188; margin-top: -78px; margin-left: 30px;}
.apply-step .item.active{ color: #77c188; font-weight: 700;}
.apply-step .item.active .icon{ background-image: url(img/project/icon_view_report.png);}

.tab-search{display: none;}
.tab-search.active{display: inline-block;}
#fnReportTableBar > p.active{display: block;}
.tabCh .tab-mod{display: none;}
.tabCh .tab-mod.active{display: block;}
.tab-mod .table-ttl{color: #666;}

/*新增自定义报表*/
.set-box{margin: 0 50px;border: 1px solid #BFBFBF;}
.set-box span{box-sizing: border-box;font-size: 16px;}
.set-ttl{border-bottom: 1px solid #BFBFBF;height: 45px;line-height: 45px;text-align: center;font-weight: bold;}
/*.set-ttl-left{width:20%;max-width: 200px;}*/
/*.set-ttl-right{width:80%;max-width: 800px;}*/
.set-ttl-left,
.set-content-left{width:20%;border-right: 1px solid #BFBFBF;}
.set-ttl-right,
.set-content-right{width:80%;}
.set-content-left label{height: 35px;line-height: 35px;color:#666;border-bottom: 1px solid #dedede;cursor: pointer;}
.set-content-left label:hover{background: #91c7ae;color: #fff;}
.set-content-right{padding:20px 5%;}
.set-content-right-b{border-top: 1px solid #dedede;border-left: 1px solid #dedede;width: 100%;}
.set-content-right label{position: relative;width:20%;height:30px;line-height:30px;font-size: 14px;border-right: 1px solid #dedede;border-bottom: 1px solid #dedede;box-sizing: border-box;}
.set-content-right label i{position: absolute;right:0;top: 0;width:15px;height: 15px;line-height: 15px;color: #fff;background: #f30;font-style: normal;display: none;}
.set-content-right label[flag]:hover i{display: inline-block;cursor: pointer;}
/*弹窗*/
.set-data-table{min-width:400px;width: 70%;min-height: 240px;max-height: 700px;background: #fff;border-radius: 5px;border: 1px solid #ccc; overflow: hidden;}
.set-data-table .view-files-body{overflow: hidden;overflow-y: auto;max-height: 450px;border: 1px solid #dedede;}
.set-data-table [tochoosedata]{cursor: pointer;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -o-user-select: none;}
.set-data-table [tochoosedata]:hover{background: #AFF0D1;}
.set-data-table [tochoosedata].isChoosed{background: #91c7ae;color: #fff;}
.set-data-table .choosed-num-tips{padding: 10px 5%;font-size: 16px;}
.set-data-table .choosed-num-tips em{color:#f30;padding:0 3px;}
.set-data-table .btns input{line-height: 35px;height: 35px;}

/*风险处置*/
.riskManagement .delete-btn{margin-top:3px;border-radius: 27px;text-align:center;height: 19px;width: 22px;background:#d9534f;padding: 2px 0;}
.riskManagement .add-item-btn{margin-top:3px;border-radius: 27px;text-align:center;height: 19px;width: 22px;background:#6db97e;padding: 2px 0;}
.riskManagement .add-item-btn .icon-add{display: inline-block;zoom: 1; vertical-align: top;*display: inline;background: url('img/btn_fill_icon.png') no-repeat 0 0;width:19px;height:19px;margin-left: -1px;}
.summary_item{position: relative;margin-bottom: 40px;}
.summary_item_btn{position: absolute;top:0;left: 75%;}
.summary_item textarea{margin-bottom: 30px;}
.summary_item,.summary_item .m-item{position: relative;}
.summary_item b.error-tip{z-index: 666;position: absolute;top:208px;left:50px;display: block;width: 60px;height: 30px;line-height: 30px;text-align: left;font-size:14px;}
.summary_item .m-item b.error-tip{position: static !important;display: inline-block;}
body .m-item b.error-tip{color:#f30 !important;font-family:'Microsoft YaHei';}
/*复评*/
#toReviews{border-bottom: 0;}
#form{border-bottom: 0;}
/*#optBtn{border-bottom: 1px solid #e5e1e1;}*/
.assetTypeFlag{padding:0 6px;color:#fff;font-size: 12px;text-align: center;line-height: 25px;height:25px;background: #f30;border-radius: 10px;margin-left:10px;}

/*上会*/
.notInsteadPay td{position: relative;}
/*.notInsteadPay td [name]{position: relative;z-index: 1000;}*/
.notInsteadPay b.error-tip{z-index: 666;/*position: absolute;top:100%;left:10px;*/display: block;width: 60px;height: 30px;line-height: 30px;margin-top: -15px;text-align: left;}
.notInsteadPayHead b.error-tip{position: absolute;left:100px;top:50px;}
.notInsteadPayHead .m-item.m-item-half,
.projectRiskReport .m-item.m-item-half{width: 320px;position: relative;}

/*comm*/
.tips-999{color: #999;}

/*appdownload*/
.downloadCrnVer{padding: 0 10px;height: 30px;line-height: 30px;background: #00b7ee;color: #fff;border-radius: 5px;}
.downloadCrnVer:hover{color: #fff;}
.configApp .fnUpAttach{margin-top: 0;padding: 0;}
.fnUpAttach .fnUpAttachUl .imgPreItem img,
.logoPreArea img{width: 250px;height: auto;}
.apply-step{margin-left:100px;margin-bottom:30px;}
.apply-step .andriod_icon{ width: 35px; height: 42px; margin-top: 20px; background: url(img/project/andriod_icon.png); background-repeat: no-repeat;}
.apply-step .apple_icon{ width: 35px; height: 42px; margin-top: 20px; background: url(img/project/apple_icon.png); background-repeat: no-repeat;}
.apply-step .item{width:140px;margin-left:0;    position: relative;}
.apply-step .item a{ display:block; width:100%; height:100%;position: relative;}
.apply-step .item.active a{color:#77c188;}
.apply-step .item.active .step-line2{width:100%;margin: 0;top:0;}

/*关联视频*/
.chooseVideoBox{height: 500px;}
/*更新附件*/
.updateFiles .m-required{color:#f30;}
.updateFiles .m-label{display: inline-block;vertical-align: top;}
.updateFiles .fnUpAttach{display: inline-block;vertical-align: top;padding-top:0;}
.updateFiles .m-submit-btn{text-align: center;border-top:1px solid #eee;padding:20px 0 15px 0;}
.updateFiles .m-submit-btn input{padding:3px 15px;line-height: auto;height: auto;}

/*解保申请*/
.decodeAcrrodItems1{margin:0 50px 0 170px;}

/* public */
.newIcon{display: inline-block;zoom: 1; vertical-align: top;*display: inline;}
.icon-select-down{display: inline-block;zoom: 1; vertical-align: top;*display: inline;position:absolute;right:3px;top:8px;width:10px;height:10px;background:url('img/project/select-arrow.png') no-repeat 0 0;background-size:8px 35px;overflow:hidden;}
.icon-select-up{display: inline-block;zoom: 1; vertical-align: top;*display: inline;background:url('img/project/select-arrow.png') no-repeat 0 -10px;background-size:8px 35px;}
.icon-sort{display: inline-block;zoom: 1; vertical-align: top;*display: inline;background:url('img/project/sort-icon.png') no-repeat 0 0;background-size:100% auto;width:20px;height:20px;}
.icon-sort-up{display: inline-block;zoom: 1; vertical-align: top;*display: inline;background:url('img/project/sort-icon.png') no-repeat 0 -20px;background-size:100% auto;width:20px;height:20px;margin-left: 8px;}
/*.icon-del-1{display: inline-block;zoom: 1; vertical-align: top;*display: inline;background: url('img/btn_fill_icon.png') no-repeat 0 -20px;width:19px;height:19px;    margin-left: -1px;}*/
/*.dis-delete-btn{background: #999}*/
.radio-no{display: inline-block;zoom: 1; /* vertical-align: top; */*display: inline;width:13px;height:13px;background:url('img/project/radioBtn.png') no-repeat 0 0;background-size:13px auto;overflow:hidden;font-style: normal;padding-left: 3px;cursor: pointer;margin-left: 5px;}
.radio-checked{background:url('img/project/radioBtn.png') no-repeat 0 -13px;background-size:13px auto;}
.icon-export{display: inline-block;zoom: 1; vertical-align: top;*display: inline;min-width:20px;height:20px;background:#f3753d url('img/project/icon_export.png') no-repeat 0 0;background-size:20px auto;background-position: 5px 5px;cursor: pointer;border-radius: 5px;padding: 5px 10px 5px 30px;font-style: normal;color: #fff;}
.icon-print{display: inline-block;zoom: 1; vertical-align: top;*display: inline;min-width:20px;height:20px;background:#f3753d url('img/project/icon_print.png') no-repeat 0 0;background-size:20px auto;background-position: 5px 5px;cursor: pointer;border-radius: 5px;padding: 5px 10px 5px 30px;font-style: normal;color: #fff;}
.icon-saveAll{min-width:20px;height:20px;background:#f3753d url('img/project/icon_saveAll.png') no-repeat 0 0;background-size:20px auto;background-position: 5px 5px;cursor: pointer;border-radius: 5px;padding: 5px 10px 5px 30px;font-style: normal;color: #fff;}
.icon-copy{background:#00b7ee url('img/project/icon_copy.png') no-repeat 15px center;background-size:20px auto;}


/*报表*/
#formTable{overflow: auto;max-height: 650px;}
.m-required{color: #f30;}