#本系统的访问地址[前缀],最后带/
capitalpool.url=http://internetplus.cqbornsoft.com/

#编号与服务器映射关系[解决负载均衡情况下生成重复流水的问题],perfix长度为1较合适
capitalpool.serial.mapping=[{"ip":"10.19.55.15","perfix":"5"},{"ip":"10.19.55.16","perfix":"6"}]

#异步通知类型[0偶数,1奇数,2全部]
internetplus.cs.mapping=[{"ip":"10.19.55.15","type":"1"},{"ip":"10.19.55.16","type":"0"}]

#internetplus_key
internetplus.appointed.signature.des.key=0FBORN94

#导出提现或充值报表临时目录
capitalpool.export.temp.dir=/opt/apache-tomcat-7.0.39-capitalpool/webapps/ROOT/temp

#导出提现或充值报表存放目录
capitalpool.export.save.dir=/var/www/upload/image2/capitalpool/reportForms

#导出提现或充值报表访问目录
capitalpool.export.view.dir=http://image4.yiji.com/image2/capitalpool/reportForms