#本系统的访问地址[前缀],最后带/
capitalpool.url=http://assembleapi.yijifu.net//

#编号与服务器映射关系[解决负载均衡情况下生成重复流水的问题],perfix长度为1较合适
capitalpool.serial.mapping=[{"ip":"127.0.0.1","perfix":"1"},{"ip":"127.0.0.1","perfix":"3"}]

#异步通知类型[0偶数,1奇数,2全部]
internetplus.cs.mapping=[{"ip":"192.168.45.195","type":"2"}]

#internetplus_key
internetplus.appointed.signature.des.key=0FBORN2F

#导出提现或充值报表临时目录
capitalpool.export.temp.dir=/opt/apache-tomcat-7.0.39-20160816_assembleApi/webapps/tmp

#导出提现或充值报表存放目录
capitalpool.export.save.dir=/opt/apache-tomcat-7.0.39-20160816_assembleApi/webapps/ROOT/export

#导出提现或充值报表访问目录
capitalpool.export.view.dir=http://assembleapi.yijifu.net/export/