<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project1.css" rel="stylesheet">
<link type="text/css" href="/styles/tmbp/project3.css" rel="stylesheet">
<title>项目基本情况</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;授信后管理&nbsp;&gt;&nbsp;报告填写&nbsp;&gt;&nbsp;通用类
</div>

<h2 class="m-h2-title">保后检查报告</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff" id="fnEdit">

    #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonBar.vm")

    ## 项目基本情况 start

    #parse("/projectMg/afterLoanMg/afterConfirminSpect/baseInfo.vm")

    ## 项目基本情况 end

    ## 监管类容 start

    <form class="fnStep fn-hide" id="jgnr" action="/projectMg/afterwardsCheck/saveContent.json">
        #if($!formInfo)
        <input type="hidden" name="formId" value="$!formInfo.formId">
        <input type="hidden" name="checkStatus" value="$!formInfo.checkStatus.charAt(2)">
        #end
        #if($!contentInfo)
        <input type="hidden" name="contentId" value="$!contentInfo.contentId">
        #end
        
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">(一)授信的用途、还息及纳税检查</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="m-item fn-mt30">
                <label class="m-label">检查情况：</label>
                <textarea class="ui-textarea2 fn-w500 fnInput2222222" name="useWayConditions" placeholder="请控制在1000字之内">$!contentInfo.useWayConditions</textarea>
            </div>
        </div>
    
        <div class="m-blank fn-mt20"></div>    
        <div class="m-invn fnWriteBox">
            <h3 class="m-invndt fn-mt40 fn-fontw100 m-h2" id="fnReport"><span>（二）财务状况检查（核实过程中可根据实际情况增减科目）</span>
                #if ($!oldTemplateType)
           		<a class="fn-ml20 fn-link" href="/projectMg/afterwardsCheck/downloadModel.htm?type=$!oldTemplateType">表格模板下载</a>
           		#else
                <a class="fn-ml20 fn-link" href="/projectMg/afterwardsCheck/downloadModel.htm?type=$!templateType">表格模板下载</a>
           		#end
                ##上传地址:/projectMg/afterwardsCheck/uploadFinancial.htm
                <a class="fn-ml20 fnUpFileJGNR fn-link">数据导入</a>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "FINANCIAL_STATEMENT")
                #set($amRemark = "$!contentInfo.notCollected.FINANCIAL_STATEMENT")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonAmType.vm")
            </h3>
            ##财务报表
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/financialKpi.vm")

        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <div class="pb25 fn-addtab fnTableList fnWriteBox" addid="add1" id="add1">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（1）企业资产情况调查工作底稿（调查科目、核实过程可根据实际情况进行调整填写）</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "DRAFT_CAPITAL")
                #set($amRemark = "$!contentInfo.notCollected.DRAFT_CAPITAL")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonAmType.vm")
                <div class="fn-fr fn-right">
                    <a class="ui-btn ui-btn-fill ui-btn-green fn-ml30 fn-addbtn"><i class="icon icon-add"></i>增加科目</a>
                </div>

            </div>
            <div class="fn-mt20 fn-mb20"></div>
            #set($capitals = ["应收账款", "其他应收账款", "存货", "预付账款"])
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonCapital_balance.vm")
            
        </div>      
        
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <div class="pb25 fn-addtab fnTableList fnWriteBox" addid="add2" id="add2">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（2）企业负债调查情况工作底稿（调查科目、核实过程可根据实际情况进行调整填写）</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "DRAFT_DEBT")
                #set($amRemark = "$!contentInfo.notCollected.DRAFT_DEBT")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonAmType.vm")                
                <div class="fn-fr fn-right">
                    <a class="ui-btn ui-btn-fill ui-btn-green fn-ml30 fn-addbtn"><i class="icon icon-add"></i>增加科目</a>
                </div>
            </div>
            <div class="fn-mt20 fn-mb20"></div>
            
            #set($debts = ["应付账款", "其他应付账款", "应付票据", "预收账款"])
            #set($baseCount = 4)
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonDebt_balance.vm")
            
        </div>
        
        <div class="fnWriteBox">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">银行贷款及其他融资</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "BANK_LOAN")
                #set($amRemark = "$!contentInfo.notCollected.BANK_LOAN")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonAmType.vm")                
            </div>
            <div class="pb25 fn-addtab fnTableList fnHeji">
                ## #set($baseCount = 1)
                ## #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonLoan_not_input.vm")

                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonCustomerCreditStatus_not_input.vm")

            </div>
        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <div class="fnWriteBox">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（3）企业收入核实情况工作底稿（调查科目、核实过程可根据实际情况进行调整填写;每项调查科目中,若存在'不相符'项,说明项必填）</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "DRAFT_INCOME")
                #set($amRemark = "$!contentInfo.notCollected.DRAFT_INCOME")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonAmType.vm")                
            </div>
            <div class="fn-mt20 fn-mb20"></div>
    
            #set($incomes = ["纳税申报表","银行流入","主营业务收入"])
            #set($baseCount = 3)
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonIncome_not_input.vm")
        </div>
        
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <div class="fnWriteBox">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（4）企业成本核实情况工作底稿（调查科目、核实过程可根据实际情况进行调整填写）</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "DRAFT_COST")
                #set($amRemark = "$!contentInfo.notCollected.DRAFT_COST")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonAmType.vm")                
            </div>
    
            #set($costs = ["成本","费用"])      
            #set($baseCount = 2)
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonCost_not_input.vm")          
        </div>


        ## 2017.01.10 新增富文本框
        <div class="m-blank fn-mt20 fn-mb20"></div>
        
        <div class="fn-m20">
            <textarea class="fnMakeUE ui-textarea fn-w500" name="projectFinishDesc">$!contentInfo.projectFinishDesc</textarea>
        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">（三）重大经营管理事项检查</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="m-item fn-mt30">
                <label class="m-label">检查情况：</label>
                <textarea class="ui-textarea2 fn-w500 fnInput2222222" name="managementMatters" placeholder="请控制在1000字之内">$!{contentInfo.managementMatters}</textarea>
            </div>
        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div class="fnWriteBox">
            <div class="fn-mt20 fn-mb20 fn-clear">
                <h3 class="m-h2 fn-left">（四）（反）担保措施检查</h3>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "COUNTER_CHECK")
                #set($amRemark = "$!contentInfo.notCollected.COUNTER_CHECK")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonAmType.vm")                
            </div>
    
            <div class="border fn-ml30 fn-mr30 fnTableList">
                <div class="fn-mt30">               
                    #set($counters = [
                        "抵押物是否出租、转租、赠予，形态是否完整，价值、权属是否有变动等",
                        "(反）担保企业资产、信用、财务状况是否恶化，反保能力是否下降",
                        "(反）担保个人是否有经济、诉讼案件，大额财产是否有变化",
                        "(反）担保股权权属和比重是否发生变动",
                        "保证金是否挪用",
                        "是否足额",
                        "其他："
                    ])      
                    #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonCounter_not_input.vm")
                    <div class="m-item fn-mt30">
                        <label class="m-label">其他事项说明：</label>
                        <textarea class="ui-textarea2 fn-w500" name="counterCheck" placeholder="请控制在1000字之内"> $!{contentInfo.counterCheck}</textarea>
                    </div>
                </div>
            </div>

        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">（五）关联企业检查情况</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="fn-mt30">
                <div class="m-item fn-mt30">
                    <label class="m-label">检查情况：</label>
                    <textarea class="ui-textarea2 fn-w500 fnInput2222222" name="relatedEnterprise" placeholder="请控制在1000字之内">$!{contentInfo.relatedEnterprise}</textarea>
                </div>
            </div>
        </div>        
    
        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div class="fnWriteBox">
            <div class="fn-mt20 fn-mb20 fn-clear">
                <h3 class="m-h2 fn-left">（六）其他重要事项核查（根据项目具体情况可做调整,选项必填）</h3>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "OTHER_CHECK")
                #set($amRemark = "$!contentInfo.notCollected.OTHER_CHECK")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonAmType.vm")                
            </div>
            #set($others = [
                "通过当地信用网站、工商网站、法院系统网站及其他网站或个人查询企业、主要控制人（或股东）是否有诉讼、纠纷、被处罚或其他负面消息",
                "审计报告真伪查询（登录企业所在地会计师协会网站或注册会计师网等查询审计报告真伪；若第三方查询出现问题或者无可用系统时，可直接询问出具审计报告的会计师事务所）"
            ])      
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonOthers_not_input.vm")

        </div>      
        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div class="fnWriteBox">
            <div class="fn-mt20 fn-mb20 fn-clear">
                <h3 class="m-h2 fn-left">（七）预警信号或关注事项(检查情况选择'是'，原因项必填)</h3>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "WARNING_AND_ATTENTION")
                #set($amRemark = "$!contentInfo.notCollected.WARNING_AND_ATTENTION")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonAmType.vm")                
            </div>
        
            #set($warnings = [
                "财务报表是否明显不实",
                "应收账款是否大幅增加，收回拖延",
                "存货是否较大，有无突然增加",
                "银行债务或者或有负债是否大量增加",
                "资产负债结构是否有重大变化",
                "流动比是否远低于正常值",
                "是否成本上升或利润下降",
                "短借长用情况是否显著",
                "货币基金余额是否不断下降",
                "是否拖延支付利息或费用",
                "是否有民间融资",
                "其他："
            ])
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonWarning_not_input.vm")

        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">（八）其他需说明的事项</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="fn-mt30">
                <div class="m-item fn-mt30">
                    <label class="m-label">其他事项说明：</label>
                    <textarea class="ui-textarea2 fn-w500 fnMakeUE fnInput2222222" name="otherExplain" placeholder="请控制在1000字之内">$!{contentInfo.otherExplain}</textarea>
                </div>
            </div>
        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">（九）分析及结论（客户对外担保风险较大的需对被担保方进行分析）</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="fn-mt30">
                <div class="m-item fn-mt30">
                    <label class="m-label"><span class="m-required">*</span>分析及结论：</label>
                    <textarea class="ui-textarea2 fn-w500 fnInput fnMakeUE" name="analysisConclusion" placeholder="请控制在1000字之内">$!{contentInfo.analysisConclusion}</textarea>
                </div>
            </div>
        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">（十）附件上传</h3>
    
        <div class="border fn-ml30 fn-mr30 fnUpAttach">
            #set($attachmentTitle="附件上传")
            #set($attachmentNameAttr="pathName_CONTENT_ATTACHMENT")
            #set($hiddenUrls = "")
            #set($hiddenUrls = $!{hiddenUrls_CONTENT_ATTACHMENT})
            #set($attachments = "")
            #set($attachments = $!{attaches_CONTENT_ATTACHMENT})
            #parse("/layout/common/uploadAttachment.vm")
        </div>
    
        ## <div class="fn-tac fn-pt10 fn-pb20">
        ##     <input type="hidden" class="step" value="2">
        ##     <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5" type="button" value="保存并提交" id="submit">
        ##     <a href="/projectMg/afterwardsCheck/list.htm" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        ## </div>
        #parse("/projectMg/afterLoanMg/afterConfirminSpect/editCommonButton.vm")
        #*
        <div class="fn-tac fn-pt20 fn-pb20">
            <input type="hidden" class="step" value="2">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 fnNext" type="submit" value="下一步">
            
            <a href="/projectMg/afterwardsCheck/list.htm" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        </div>
        *#
    </form>
    
    ## 监管类容 end

    ## 客户资料
    #parse("/projectMg/afterLoanMg/afterConfirminSpect/editCustomer.vm")

</div>


#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
#parse("/layout/common/commonue.vm")

<script src="/js/laydate/laydate.js"></script>

<script>
    seajs.use($_GLOBAL.zyw+'/project/afcg.edit.base');
</script>

</body>
</html>