<div class="m-main border ui-bg-fff">

    #parse("/projectMg/afterLoanMg/afterConfirminSpect/commonBar.vm")

    ## 项目基本情况 start

    #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewBaseInfo.vm")

    ## 项目基本情况 end   
    
    ## 监管类容 start

    <form class="fnStep fn-hide" id="jgnr" action="/projectMg/afterwardsCheck/saveContent.json">
        #if($!form)
        <input type="hidden" name="formId" value="$!form.formId">
        <input type="hidden" name="checkStatus" value="$!form.checkStatus.charAt(2)">
        #end
        <input type="hidden" name="contentId" value="$!contentInfo.contentId">
        
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">(一)授信的用途、还息及纳税检查</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="m-item fn-mt30">
                <label class="m-label">检查情况：</label>
                <div class="alltext">
                    <p class="hh fn-pr30">$!contentInfo.useWayConditions.replaceAll("\n","</br>").replaceAll(" ","&nbsp;")</p>
                </div>
            </div>
        </div>
    
        <div class="m-blank fn-mt20"></div>    
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-fontw100 m-h2" id="fnReport"><span>（二）财务状况检查（核实过程中可根据实际情况增减科目）</span>
                <a class="fn-ml20 fn-link" href="/projectMg/afterwardsCheck/downloadModel.htm?type=$!downLoadType">表格模板下载</a>
                ##上传地址:/projectMg/afterwardsCheck/uploadFinancial.htm
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "FINANCIAL_STATEMENT")
                #set($amRemark = "$!contentInfo.notCollected.FINANCIAL_STATEMENT")              
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </h3>
            ##财务报表
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewFinancialKpi.vm")
        </div>
        
        ## 2017.01.11 添加富文本框
        <div class="contract-text" style="padding-left: 2%;">
            $!contentInfo.contentRemark1
        </div>			
    
        <div class="m-blank fn-mt20 fn-mb20"></div>

        <h3 class="m-h2 fn-mt20 fn-mb20">（三）重要事项检查（根据项目具体情况可做调整，有重大变化的需说明）</h3>

        <div class="pb25 fn-addtab fnTableList">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（1）主要承包项目结构</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "CONTRACT_PROJECT")
                #set($amRemark = "$!contentInfo.notCollected.CONTRACT_PROJECT")             
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
            <div class="fn-mt20 fn-mb20"></div>
            #if($listUtil.isNotEmpty($!contentInfo.contractProjects))
                #set($index = 1)
                #foreach($item in $!contentInfo.contractProjects)
                <div class="box rel">
                    <table class="m-table borderB0 #if($index != 1) borderT0 #end" border="1">
                        <tbody class="fn-testtable">
                            #if($index == 1)
                            <tr class="fn-tac fn-fwb fn-666">
                                <td colspan="5">科目名称</td>
                            </tr>
                            #end
                            <tr class="fn-tac fn-666" >
                                <td width="20%" rowspan="3">
                                    $!item.kpiName
                                    <input type="hidden" name="contractProjects[$foreach.index].kpiName" value="$!item.kpiName" />
                                    <input type="hidden" name="contractProjects[$foreach.index].kpiId" value="$!item.kpiId" />
                                </td>
                                <td width="15%">工程量</td>
                                <td colspan="3">$!item.kpiValue1</td>
                            </tr>
                            <tr class="fn-tac fn-666" >
                                <td width="15%">建设进度</td>
                                <td colspan="3">$!item.kpiValue2</td>
                            </tr>
                            <tr class="fn-tac fn-666" >
                                <td width="15%">合同总价（元）</td>
                                <td width="25%">$!moneyUtil.getMoney($!item.kpiValue3).toStandardString()</td>
                                <td width="15%">已收款比例（%）</td>
                                <td width="25%">$rateUtil.formatRateStr($!item.kpiValue4)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                #set($index = $index + 1)
                #end
            #else
                #set($contractProjects = ["房地产类（一类）", "基础设施类（二类）", "厂房建筑类（三类）", "水利施工类（三类）"])
                #set($index = 1)
                #foreach($item in $!contractProjects)
                <div class="box rel">
                    <table class="m-table borderB0 #if($index != 1) borderT0 #end" border="1">
                        <tbody class="fn-testtable">
                            #if($index == 1)
                            <tr class="fn-tac fn-fwb fn-666">
                                <td colspan="5">科目名称</td>
                            </tr>
                            #end
                            <tr class="fn-tac fn-666" >
                                <td width="20%" rowspan="3">
                                    $!item
                                    <input type="hidden" name="contractProjects[$foreach.index].kpiName" value="$!item" />
                                </td>
                                <td width="15%">工程量</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr class="fn-tac fn-666" >
                            <td width="15%">建设进度</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr class="fn-tac fn-666" >
                            <td width="15%">合同总价（元）</td>
                                <td width="25%"></td>
                                <td width="15%">已收款比例（%）</td>
                                <td width="25%"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                #set($index = $index + 1)
                #end
            #end

        </div>

        <div class="pb25 fn-addtab">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（2）成本结构及变动情况</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "COST_CONSIST")
                #set($amRemark = "$!contentInfo.notCollected.COST_CONSIST")             
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
            <div class="fn-mt20 fn-mb20"></div>
            <div class="fnTableList">
                <div class="box rel">
                    <table class="m-table borderB0" border="1">
                        <thead>
                            <tr>
                                <th width="16%">成本构成分析</th>
                                <th width="28%">一类施工项目(%)</th>
                                <th width="28%">二类施工项目(%)</th>
                                <th width="28%">三类施工项目(%)</th>
                            </tr>
                        </thead>
                        <tbody class="fn-testtable">
                        #if($listUtil.isNotEmpty($!contentInfo.costConsists1))
                            #set($index = 1)
                            #foreach($item in $!contentInfo.costConsists1)
                            <tr orderName="costConsists1">
                                <td width="16%">
                                    #if($index==2) 其中： #end $!item.itemName
                                    <input type="hidden" name="itemName" value="$!item.itemName" />
                                    <input type="hidden" name="itemId" value="$!item.itemId" />
                                </td>
                                <td width="28%">$rateUtil.formatRateStr($!item.itemValue1)</td>
                                <td width="28%">$rateUtil.formatRateStr($!item.itemValue2)</td>
                                <td width="28%">$rateUtil.formatRateStr($!item.itemValue3)</td>
                            </tr>
                            #set($index = $index + 1)
                            #end
                        #else
                            <tr orderName="costConsists1">
                                <td width="16%">
                                    材料成本
                                    <input type="hidden" name="itemName" value="材料成本" />
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                            <tr orderName="costConsists1">
                                <td width="16%">
                                    其中：<input type="text" name="itemName" class="border0 lh24 fn-w100 fnInput" />
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                        #end
                        </tbody>
                    </table>
                    ##<a href="javascript:void(0)" class="add-btn fn-addline"></a>
                </div>
            </div>

            <div class="fnTableList">            
                <div class="box">
                    <table class="m-table borderB0 borderT0" border="1">
                        <tbody class="fn-testtable">
                        #if($listUtil.isNotEmpty($!contentInfo.costConsists2))
                            #foreach($item in $!contentInfo.costConsists2)
                            <tr orderName="costConsists2">
                                <td width="16%">
                                    $!item.itemName
                                    <input type="hidden" name="itemName" value="$!item.itemName" />
                                    <input type="hidden" name="itemId" value="$!item.itemId" />
                                </td>
                                <td width="28%">$rateUtil.formatRateStr($!item.itemValue1)</td>
                                <td width="28%">$rateUtil.formatRateStr($!item.itemValue2)</td>
                                <td width="28%">$rateUtil.formatRateStr($!item.itemValue3)</td>
                            </tr>
                            #end
                        #else                           
                            <tr orderName="costConsists2">
                                <td width="16%">
                                    人工成本
                                    <input type="hidden" name="itemName" value="人工成本" />
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                        #end
                        </tbody>
                    </table>
                </div>
            </div>

            #set($lastItem = "")
            <div class="fnTableList">
                <div class="box rel">
                    <table class="m-table borderT0" border="1">
                        <tbody class="fn-testtable">
                        #if($listUtil.isNotEmpty($!contentInfo.costConsists3))
                            #set($index = 1)
                            #foreach($item in $!contentInfo.costConsists3)
                                #if($index == $!contentInfo.costConsists3.size())
                                    #set($lastItem = $item)
                                #else
                                <tr orderName="costConsists3">
                                    <td width="16%">
                                        $!item.itemName
                                        <input type="hidden" name="itemName" value="$!item.itemName" />
                                        <input type="hidden" name="itemId" value="$!item.itemId" />
                                    </td>
                                    <td width="28%">$rateUtil.formatRateStr($!item.itemValue1)</td>
                                    <td width="28%">$rateUtil.formatRateStr($!item.itemValue2)</td>
                                    <td width="28%">$rateUtil.formatRateStr($!item.itemValue3)</td>
                                </tr>
                                #end
                            #set($index = $index + 1)
                            #end
                        #else                           
                            <tr orderName="costConsists3">
                                <td width="16%">
                                    费用成本
                                    <input type="hidden" name="itemName" value="费用成本" />
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                            <tr orderName="costConsists3">
                                <td width="16%">
                                    其中：折旧
                                    <input type="hidden" name="itemName" value="其中：折旧" />
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                        #end
                        </tbody>
                    </table>
                    ##<a href="javascript:void(0)" class="add-btn fn-addline"></a>
                </div>
                <table class="m-table borderT0" border="1">
                    <tbody>
                        <tr orderName="costConsists3" class="fn-tac">
                            <td width="16%">
                                合计
                                <input type="hidden" name="itemName" value="合计" />
                                #if($!lastItem && $!lastItem != "")
                                    <input type="hidden" name="itemId" value="$!lastItem.itemId" />
                                #else
                                    #set($lastItem = "")
                                #end
                            </td>
                            <td width="28%">$rateUtil.formatRateStr($!lastItem.itemValue1)</td>
                            <td width="28%">$rateUtil.formatRateStr($!lastItem.itemValue2)</td>
                            <td width="28%">$rateUtil.formatRateStr($!lastItem.itemValue3)</td>
                        </tr>
                    </tbody>
                </table>
            </div> 

            ## 2017.01.11 添加富文本框
            <div class="contract-text">
                $!contentInfo.decisionWay
            </div>

        </div>

        <div class="pb25 fn-addtab fnTableList">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（3）项目分包商</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "SUB_CONTRACTOR")
                #set($amRemark = "$!contentInfo.notCollected.SUB_CONTRACTOR")               
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
            <div class="fn-mt20 fn-mb20"></div>
            <div class="box rel">
                <table class="m-table" border="1">
                    <thead>
                        <tr>
                            <th width="20%">分包商</th>
                            <th width="16%">关系年限</th>
                            <th width="16%">是否关联企业</th>
                            <th width="16%">占整体施工比例（%）</th>
                            <th width="16%">付款期限</th>
                            <th width="16%">付款方式</th>
                        </tr>
                    </thead>
                    <tbody class="fn-testtable">
                    #if($listUtil.isNotEmpty($!contentInfo.subContractors))
                        #foreach($item in $!contentInfo.subContractors)                     
                        <tr orderName="subContractors">
                            <td width="20%">$!item.capitalItem</td>
                            <td width="16%">$!item.capitalValue1</td>
                            <td width="16%">$!item.capitalValue2</td>
                            <td width="16%">$rateUtil.formatRateStr($!item.capitalValue3)</td>
                            <td width="16%">$!item.capitalValue4</td>
                            <td width="16%">$!item.capitalValue5</td>
                            <input type="hidden" name="kpiId" value="$!item.kpiId" />
                        </tr>
                        #end
                    #else
                        <tr orderName="subContractors">
                            <td width="20%"></td>
                            <td width="16%"></td>
                            <td width="16%"></td>
                            <td width="16%"></td>
                            <td width="16%"></td>
                            <td width="16%"></td>
                        </tr>
                    #end
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pb25 fn-addtab fnTableList">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（4）存货</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "INVENTORY")
                #set($amRemark = "$!contentInfo.notCollected.INVENTORY")                
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
            <div class="fn-mt20 fn-mb20"></div>
            <div class="fnTableList">
                <div class="box rel">
                    <table class="m-table borderB0" border="1">
                        <thead>
                            <tr>
                                <th width="16%">存货构成分析</th>
                                <th width="28%">当期</th>
                                <th width="28%">近期变动情况及原因分析</th>
                                <th width="28%">跌价损失</th>
                            </tr>
                        </thead>
                        <tbody class="fn-testtable">
                        #if($listUtil.isNotEmpty($!contentInfo.inventories1))
                            #set($index = 1)
                            #foreach($item in $!contentInfo.inventories1)                           
                            <tr orderName="inventories1">
                                <td width="16%">
                                    #if($index == 2) 其中： #end $!item.itemName
                                    <input type="hidden" name="itemName" value="$!item.itemName" />
                                    <input type="hidden" name="itemId" value="$!item.itemId" />
                                </td>
                                <td width="28%">$!moneyUtil.getMoney($!item.itemValue1).toStandardString()</td>
                                <td width="28%">$!item.itemValue2</td>
                                <td width="28%">$!moneyUtil.getMoney($!item.itemValue3).toStandardString()</td>
                            </tr>
                            #set($index = $index + 1)
                            #end
                        #else
                            <tr orderName="inventories1">
                                <td width="16%">
                                    原材料
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                            <tr orderName="inventories1">
                                <td width="16%">
                                    其中：
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                        #end
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="fnTableList">
                <div class="box">
                    <table class="m-table borderB0 borderT0" border="1">
                        <tbody class="fn-testtable">
                        #if($listUtil.isNotEmpty($!contentInfo.inventories2))
                            #set($index = 1)
                            #foreach($item in $!contentInfo.inventories2)
                            <tr orderName="inventories2">
                                <td width="16%">
                                    #if($index == 2) 其中： #end $!item.itemName
                                    <input type="hidden" name="itemName" value="$!item.itemName" />
                                    <input type="hidden" name="itemId" value="$!item.itemId" />
                                </td>
                                <td width="28%">$!moneyUtil.getMoney($!item.itemValue1).toStandardString()</td>
                                <td width="28%">$!item.itemValue2</td>
                                <td width="28%">$!moneyUtil.getMoney($!item.itemValue3).toStandardString()</td>
                            </tr>
                            #set($index = $index + 1)
                            #end
                        #else                           
                            <tr orderName="inventories2">
                                <td width="16%">
                                    在产品
                                    <input type="hidden" name="itemName" value="在产品" />
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                        #end                            
                        </tbody>
                    </table>
                </div>
            </div>

            #set($lastItem = "")
            <div class="fnTableList">
                <div class="box rel">
                    <table class="m-table borderT0" border="1">
                        <tbody class="fn-testtable">
                        #if($listUtil.isNotEmpty($!contentInfo.inventories3))
                            #set($index = 1)
                            #foreach($item in $!contentInfo.inventories3)
                                #if($index == $!contentInfo.inventories3.size())
                                    #set($lastItem = $item)
                                #else
                                <tr orderName="inventories3">
                                    <td width="16%">
                                        #if($index == 2) 其中： #end $!item.itemName
                                        <input type="hidden" name="itemName" value="$!item.itemName" />
                                        <input type="hidden" name="itemId" value="$!item.itemId" />
                                    </td>
                                    <td width="28%">$!moneyUtil.getMoney($!item.itemValue1).toStandardString()</td>
                                    <td width="28%">$!item.itemValue2</td>
                                    <td width="28%">$!moneyUtil.getMoney($!item.itemValue3).toStandardString()</td>
                                </tr>
                                #end
                            #set($index = $index + 1)
                            #end
                        #else                           
                            <tr orderName="inventories3">
                                <td width="16%">
                                    已完工未决算
                                    <input type="hidden" name="itemName" value="已完工未决算" />
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                            <tr orderName="inventories3">
                                <td width="16%">
                                    其中：
                                </td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                                <td width="28%"></td>
                            </tr>
                        #end
                        </tbody>
                    </table>
                    ##<a href="javascript:void(0)" class="add-btn fn-addline"></a>
                </div>
                <table class="m-table borderT0" border="1">
                    <tbody>
                        <tr orderName="inventories3" class="fn-tac">
                            <td width="16%">
                                合计
                                <input type="hidden" name="itemName" value="合计" />
                                #if($!lastItem && $!lastItem != "")
                                    <input type="hidden" name="itemId" value="$!lastItem.itemId" />
                                #else
                                    #set($lastItem = "")
                                #end
                            </td>
                            <td width="28%">$!moneyUtil.getMoney($!lastItem.itemValue1).toStandardString()</td>
                            <td width="28%">—— ——</td>
                            <td width="28%">$!moneyUtil.getMoney($!lastItem.itemValue3).toStandardString()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            ## 2017.01.11 添加富文本框
            <div class="contract-text">
                $!contentInfo.projectFinishDesc
            </div>
        </div>

        <div class="pb25 fn-addtab fnTableList">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（5）在建项目情况表（至少列出合同金额排前十大在建项目;至少必填一行）</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "PROJECTING")
                #set($amRemark = "$!contentInfo.notCollected.PROJECTING")               
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
            <div class="fn-mt20 fn-mb20"></div>
            #set($lastItem="")
            <div class="box rel">
                <table class="m-table borderB0" border="1">
                    <thead>
                        <tr>
                            <th width="15%">在建项目名称</th>
                            <th width="10%">业主名称</th>
                            <th width="10%">是否关联企业</th>
                            <th width="10%">计划完成日期</th>
                            <th width="10%">施工进度（%）</th>
                            <th width="12.5%">施工合同总金额（万元）</th>
                            <th width="12.5%">已收到工程款金额（万元）</th>
                            <th width="10%">结算周期</th>
                            <th width="10%">结算方式</th>
                        </tr>
                    </thead>
                    <tbody class="fn-testtable">
                    #if($listUtil.isNotEmpty($!contentInfo.projectings))
                        #set($index=1)
                        #foreach($item in $!contentInfo.projectings)    
                            #if($index==$!contentInfo.projectings.size())
                                #set($lastItem=$item)
                            #else
                            <tr orderName="projectings">
                                <td width="15%">$!item.capitalItem</td>
                                <td width="10%">$!item.capitalValue1</td>
                                <td width="10%">$!item.capitalValue2</td>
                                <td width="10%">$!item.capitalValue3</td>
                                <td width="10%">$rateUtil.formatRateStr($!item.capitalValue4)</td>
                                <td width="12.5%">$!moneyUtil.getMoney($!item.capitalValue5).toStandardString()</td>
                                <td width="12.5%">$!moneyUtil.getMoney($!item.capitalValue6).toStandardString()</td>
                                <td width="10%">$!item.capitalValue7</td>
                                <td width="10%">$!item.capitalValue8</td>
                                <input type="hidden" name="capitalId" value="$!item.capitalId" class="text fnInput">
                            </tr>
                            #end
                        #set($index=$index+1)
                        #end
                    #else
                        <tr orderName="projectings">
                            <td width="15%"></td>
                            <td width="10%"></td>
                            <td width="10%"></td>
                            <td width="10%"></td>
                            <td width="10%"></td>
                            <td width="12.5%"></td>
                            <td width="12.5%"></td>
                            <td width="10%"></td>
                            <td width="10%"></td>
                        </tr>
                    #end
                    </tbody>
                </table>
                ##<a href="javascript:void(0)" class="add-btn fn-addline"></a>
            </div>
            <table class="m-table borderT0" border="1">
                <tbody>
                    <tr orderName="projectings" class="fn-tac">
                        <td width="15%">合计</td>
                        <input type="hidden" name="capitalItem" value="合计" class="text fnInput">
                        #if($!lastItem&&$!lastItem!="")
                            <input type="hidden" name="capitalId" value="$!lastItem.capitalId" class="text fnInput">
                        #end
                        <td width="10%">—— ——</td>
                        <td width="10%">—— ——</td>
                        <td width="10%">—— ——</td>
                        <td width="10%">—— ——</td>
                        <td width="12.5%">$!moneyUtil.getMoney($!lastItem.capitalValue5).toStandardString()</td>
                        <td width="12.5%">$!moneyUtil.getMoney($!lastItem.capitalValue6).toStandardString()</td>
                        <td width="10%">—— ——</td>
                        <td width="10%">—— ——</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pb25 fn-addtab fnTableList">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（6）已中标未开工项目情况表（至少列出中标金额排前十大的项目）(至少必填一行)</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "SUCCESSFUL_PROJECT")
                #set($amRemark = "$!contentInfo.notCollected.SUCCESSFUL_PROJECT")               
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
            <div class="fn-mt20 fn-mb20"></div>
            #set($lastItem="")
            <div class="box rel">
                <table class="m-table borderB0" border="1">
                    <thead>
                        <tr>
                            <th width="20%">中标项目名称</th>
                            <th width="16%">业主名称</th>
                            <th width="16%">是否关联企业</th>
                            <th width="16%">计划开工日期</th>
                            <th width="16%">计划完工日期</th>
                            <th width="16%">中标金额（万元）</th>
                        </tr>
                    </thead>
                    <tbody class="fn-testtable">
                    #if($listUtil.isNotEmpty($!contentInfo.successfulProjects))
                        #set($index=1)
                        #foreach($item in $!contentInfo.successfulProjects) 
                            #if($index==$!contentInfo.successfulProjects.size())                        
                                #set($lastItem=$item)
                            #else
                            <tr orderName="successfulProjects">
                                <td width="20%">$!item.capitalItem</td>
                                <td width="16%">$!item.capitalValue1</td>
                                <td width="16%">$!item.capitalValue2</td>
                                <td width="16%">$!item.capitalValue3</td>
                                <td width="16%">$!item.capitalValue4</td>
                                <td width="16%">$!moneyUtil.getMoney($!item.capitalValue5).toStandardString()</td>
                                <input type="hidden" name="capitalId" value="$!item.capitalId" class="text fnInput">
                            </tr>
                            #end
                            #set($index=$index + 1)
                        #end
                    #else
                        <tr orderName="successfulProjects">
                            <td width="20%"></td>
                            <td width="16%"></td>
                            <td width="16%"></td>
                            <td width="16%"></td>
                            <td width="16%"></td>
                            <td width="16%"></td>
                        </tr>
                    #end
                    </tbody>
                </table>
                ##<a href="javascript:void(0)" class="add-btn fn-addline"></a>
            </div>
            <table class="m-table borderT0" border="1">
                <tbody>
                    <tr orderName="successfulProjects" class="fn-tac">
                        <td width="20%">合计</td>
                        <input type="hidden" name="capitalItem" value="合计" class="text fnInput">
                        #if($!lastItem&&$!lastItem!="")
                            <input type="hidden" name="capitalId" value="$!lastItem.capitalId" class="text fnInput">
                        #end                        
                        <td width="16%">—— ——</td>
                        <td width="16%">—— ——</td>
                        <td width="16%">—— ——</td>
                        <td width="16%">—— ——</td>
                        <td width="16%">$!moneyUtil.getMoney($!lastItem.capitalValue5).toStandardString()</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pb25">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（7）客户资信情况</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "CREDIT")
                #set($amRemark = "$!contentInfo.notCollected.CREDIT")               
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
            <div class="pb25 fn-addtab fnTableList">
                ## #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonLoan.vm")
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonCustomerCreditStatus.vm")
            </div>
        </div>

        <div class="pb25 fn-addtab fnTableList" addid="add2" id="add2">
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（8）其他科目情况（大额明细罗列，可根据实际情况进行调整）</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "OTHER_DEBT")
                #set($amRemark = "$!contentInfo.notCollected.OTHER_DEBT")               
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
                ## <div class="fn-fr fn-right">
                ##     <a class="ui-btn ui-btn-fill ui-btn-green fn-ml30 fn-addbtn"><i class="icon icon-add"></i>增加科目</a>
                ## </div>
            </div>
            <div class="fn-mt20 fn-mb20"></div>    
            #set($debts = ["应收账款", "其他应收账款", "应付账款", "其他应付账款"])
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonDebt.vm")
            ## 2017.01.11 添加富文本框
            <div class="contract-text">
                $!contentInfo.incomeCheckDesc
            </div>
            
        </div>
    
        <div>
            <div class="fn-clear fn-ml30 fn-mr30 fn-mb20">
                <b class="fn-fs14 fn-left fn-666 lh32">（9）核实收入（每项调查科目中,若存在'不相符'项,说明项必填）</b>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "DRAFT_INCOME")
                #set($amRemark = "$!contentInfo.notCollected.DRAFT_INCOME")             
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
            <div class="fn-mt20 fn-mb20"></div>
    
            #set($incomes = ["增值税缴纳凭证","银行流入","开票金额","主营业务收入"])
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonIncome.vm")
        </div>

        ## 2017.01.11 添加富文本框
        <div class="contract-text" style="padding-left: 2%;">
            $!contentInfo.contentRemark2
        </div>			
		
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">（四）重大经营管理事项检查</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="m-item fn-mt30">
                <label class="m-label">检查情况：</label>
                ## 2017.01.11 添加富文本框
                <div class="contract-text">
                    $!contentInfo.managementMatters
                </div>
                ## <div class="alltext">
                ##     <p class="hh fn-pr30">$!{contentInfo.managementMatters.replaceAll("\n","</br>").replaceAll(" ","&nbsp;")}</p>
                ## </div>
            </div>
        </div>

        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <div>
            <div class="fn-mt20 fn-mb20 fn-clear">
                <h3 class="m-h2 fn-left">（五）（反）担保措施检查</h3>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "COUNTER_CHECK")
                #set($amRemark = "$!contentInfo.notCollected.COUNTER_CHECK")                
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
    
            <div class="border fn-ml30 fn-mr30 fnTableList">
                <div class="fn-mt30">               
                    #set($counters = [
                        "抵押物是否出租、转租、赠予，形态是否完整，价值、权属是否有变动等",
                        "(反）担保企业资产、信用、财务状况是否恶化，反保能力是否下降",
                        "(反）担保个人是否有经济、诉讼案件，大额财产是否有变化",
                        "(反）担保股权权属和比重是否发生变动",
                        "保证金是否挪用",
                        "是否足额",
                        "其他："
                    ])      
                    #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonCounter.vm")
                    <div class="m-item fn-mt30">
                        <label class="m-label">其他事项说明：</label>
                        <div class="alltext">
                            <p class="hh fn-pr30">$!{contentInfo.counterCheck.replaceAll("\n","</br>").replaceAll(" ","&nbsp;")}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="m-blank fn-mt20 fn-mb20"></div>

        <h3 class="m-h2 fn-mt20 fn-mb20">（六）关联企业检查情况</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="fn-mt30">
                <div class="m-item fn-mt30">
                    <label class="m-label">检查情况：</label>
                    ## 2017.01.11 添加富文本框
                    <div class="contract-text">
                        $!contentInfo.relatedEnterprise
                    </div>
                    ## <div class="alltext">
                    ##     <p class="hh fn-pr30">$!{contentInfo.relatedEnterprise.replaceAll("\n","</br>").replaceAll(" ","&nbsp;")}</p>
                    ## </div>
                </div>
            </div>
        </div>

        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div>
            <div class="fn-mt20 fn-mb20 fn-clear">
                <h3 class="m-h2 fn-left">（七）其他重要事项核查（根据项目具体情况可做调整，选项必填）</h3>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "OTHER_CHECK")
                #set($amRemark = "$!contentInfo.notCollected.OTHER_CHECK")              
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>

            #set($others = [
                "通过当地信用网站、工商网站、法院系统网站及其他网站或个人查询企业、主要控制人（或股东）是否有诉讼、纠纷、被处罚或其他负面消息",
                "审计报告真伪查询（登录企业所在地会计师协会网站或注册会计师网等查询审计报告真伪；若第三方查询出现问题或者无可用系统时，可直接询问出具审计报告的会计师事务所）"
            ])      
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonOthers.vm")

        </div>      
        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div>
            <div class="fn-mt20 fn-mb20 fn-clear">
                <h3 class="m-h2 fn-left">（八）预警信号或关注事项(检查情况选择'是'，原因项必填)</h3>
                #set($amType = "")
                #set($amRemark = "")
                #set($amType = "WARNING_AND_ATTENTION")
                #set($amRemark = "$!contentInfo.notCollected.WARNING_AND_ATTENTION")                
                #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonAmType.vm")
            </div>
        
            #set($warnings = [
                "财务报表是否明显不实",
                "应收账款是否大幅增加，收回拖延",
                "存货是否较大，有无突然增加",
                "银行债务或者或有负债是否大量增加",
                "资产负债结构是否有重大变化",
                "流动比是否远低于正常值",
                "短借长用情况是否显著",
                "是否严重拖欠分包商工程款或应付款项",
                "其他：（或有负债）"
            ])
            #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonWarning.vm")
        </div>        

    
        <h3 class="m-h2 fn-mt20 fn-mb20">（九）其他需说明的事项</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="fn-mt30">
                <div class="m-item fn-mt30">
                    <label class="m-label">其他事项说明：</label>
                    ## 2017.01.11 添加富文本框
                    <div class="contract-text">
                        $!contentInfo.otherExplain
                    </div>
                    ## <div class="alltext">
                    ##     <p class="hh fn-pr30">$!contentInfo.otherExplain.replaceAll("\n","</br>").replaceAll(" ","&nbsp;")</p>
                    ## </div>
                </div>
            </div>
        </div>

        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">（十）分析及结论（客户对外担保风险较大的需对被担保方进行分析）</h3>
    
        <div class="border fn-ml30 fn-mr30">
            <div class="fn-mt30">
                <div class="m-item fn-mt30">
                    <label class="m-label">分析及结论：</label>
                    <div class="alltext">
                        <p class="hh fn-pr30">$!{contentInfo.analysisConclusion.replaceAll("\n","</br>").replaceAll(" ","&nbsp;")}</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        <h3 class="m-h2 fn-mt20 fn-mb20">（十一）附件上传</h3>
    
        <div class="border fn-ml30 fn-mr30 fnUpAttach">
            #set($attachmentTitle="附件上传")
            #set($attachmentNameAttr="pathName_CONTENT_ATTACHMENT")
            #set($hiddenUrls = "")
            #set($hiddenUrls = $!{hiddenUrls_CONTENT_ATTACHMENT})
            #set($attachments = "")
            #set($attachments = $!{attaches_CONTENT_ATTACHMENT})
            #parse("/layout/common/viewAttachment.vm")
    
        </div>
    
        <div class="m-blank fn-mt20 fn-mb20"></div>
    
        #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCommonButton.vm")
        #*
        <div class="fn-tac fn-pt10 fn-pb20">
            <input type="hidden" class="step" value="2">
            ##<input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5" type="button" value="保存并提交" id="submit">
            <a href="/projectMg/afterwardsCheck/list.htm" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        </div>     
        *#
    </form>

    ## 监管类容 end
    <input type="hidden" id="viewAudit" value="1">
        
    ## 客户资料
    #parse("/projectMg/afterLoanMg/afterConfirminSpect/viewCustomer.vm")        

</div>
