<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    #parse("/layout/common/head.vm")
    #set($reportTitle = "客户基本情况表")
    <link type="text/css" href="/styles/tmbp/project4.css" rel="stylesheet">
    <title>$!reportTitle</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;数据分析&nbsp;&gt;&nbsp;内部报表&nbsp;&gt;&nbsp;基层定期报表&nbsp;&gt;&nbsp;$reportTitle
</div>

<h2 class="m-h2-title">新增自定义报表</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    <form class="m-main ui-bg-fff fn-ml20" action="/reportMg/report/save.json" method="POST">
        <p class="fn-tac fn-fs20 fn-pt20 fn-pb20 fn-font-b">第一步：请先定义报表基本信息</p>
        <div class="fn-clear">

            <div class="m-item m-item-half">
                <label class="m-label"><span class="m-required">*</span>报表编码：</label>
                <input class="ui-text fn-w200 fnInput" type="text" value="">
            </div>

            <div class="m-item m-item-half">
                <label class="m-label"><span class="m-required">*</span>报表名称：</label>
                <input class="ui-text fn-w200 fnInput" type="text" value="">
            </div>
            <div class="m-item">
                <label class="m-label fn-dib">备注：</label>
                <textarea class="ui-textarea audit-textarea"></textarea>
            </div>

        </div>
        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div class="fn-tac fn-pt20 fn-pb20">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 fnSubmit" type="button" value="暂存">
            <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5 fnSubmit fnPost" type="button" value="保存并进入下一步">
            <a href="javascript:void(0);" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5" onclick="">返回</a>
        </div>

    </form>

</div>

    #parse("/layout/common/footer.vm")
    #parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/report/report.set.table');
</script>

</body>
</html>