   ## 制表人信息
	<p class="table-infos">
        <span class="fn-dib">部门负责人：<label>$!{fzr}</label></span>
        <span class="fn-dib">填表人：<label>$!{user}</label></span>
        <span class="fn-dib">联系电话：<label>$!{mobile}</label></span>
        <span class="fn-dib">报出日期：<label>$!dateUtil.simpleDateFormatmdhChinese($!{date})</label></span>
    </p>