<h2 class="fn-tac apply-h2 fn-mt45"><span class=" #if($!cmp.riskAnalysis) $!cmpClassNoTd #end">九、风险点分析</span></h2>
<div class="m-blank fn-mt20 fn-mb20"></div>
<div class="m-invn">
    <dl class="fn-mt20">
        <dd class="fn-p-reb">
            <div class="contract-text">
				$!{baseObj.riskAnalysis}
			</div>					
        </dd>
    </dl>
</div>
<h2 class="fn-tac apply-h2 fn-mt45"><span class=" #if($!cmp.conclusion) $!cmpClassNoTd #end">十、结论意见</span></h2>
<div class="m-blank fn-mt20 fn-mb20"></div>
<div class="m-invn">
    <dl class="fn-mt20">
        <dd class="fn-p-reb">
            <div class="contract-text">
				$!{baseObj.conclusion}
			</div>
        </dd>
    </dl>
</div>

<div class="m-blank fn-mt20 fn-mb20"></div>
<dl class="fn-ml30 fn-mt20">
    <dd class="fn-p-reb fn-mt10">
        <div class="fnUpAttach">
        <label class="m-label"><span class=" #if($!cmp.FORM_ATTACH) $!cmpClassNoTd #end">附件：</span></label>
            #set($attachmentTitle="相关附件")
            #set($attachmentNameAttr="pathName_FORM_ATTACH")
            #set($hiddenUrls = "")
            #set($hiddenUrls = $!{baseObj.attachmentMap.FORM_ATTACH.hiddenUrls})
            #set($attachments = "")
            #set($attachments = $!{baseObj.attachmentMap.FORM_ATTACH.attachmentInfos})
            #parse("/layout/common/viewAttachment.vm")
        </div>
    </dd>
</dl>
	
#set($customizeVariable="formRemark$toIndex")
#set($viewFormCustomizeField=true)
#parse("/layout/common/formCustomizeField.vm")