<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    #parse("/layout/common/head.vm")
    <link type="text/css" href="/styles/tmbp/project3.css" rel="stylesheet">
    <title>用印申请审核</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;辅助系统 &nbsp;&gt;&nbsp;用印申请
</div>

<div class="m-main border ui-bg-fff">
    
    ## 判断条件
    ## 有关于审核配置
        <form class="fn-pt20 m-audit" id="auditForm">
            
            #parse("/layout/common/audit.vm")
            
        </form>
    <div class="fn-blank20"></div>

    ## 遍历数据
    <table class="m-table fn-tac">
        <colgroup>
            <col width="20%">
            <col width="27%">
            <col width="20%">
            <col width="33%">
        </colgroup>
        <thead>
            <tr>
                <th colspan="4" align="center">用印申请表</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fn-fwb">申请单编号</td>
                <td class="fn-tal" colspan="3">$!{applyInfo.applyCode}</td>
            </tr>
            <tr>
                <td class="fn-fwb">文件名称</td>
                <td class="fn-tal">$!{applyInfo.fileName}</td>
                <td class="fn-fwb">文件接收单位</td>
                <td class="fn-tal">$!{applyInfo.receiver}</td>
            </tr>
            <tr>
                <td class="fn-fwb" colspan="2">公司</td>
                <td colspan="2">
                    $!{applyInfo.orgNames}
                </td>
            </tr>
            #set($i=0)
            #set($j=1)
            #foreach($!ffile in $!applyInfo.files)
                    <td class="fn-fwb">文件($!numberUtil.parseNumToChinese($j))名称<input type="hidden" name="files[$i].id" value="$!ffile.id"></td>
                    <td class="fn-tal">$!{ffile.fileName}</td>
                    <td colspan="4" class="fn-tal">
                        <div class="fnUpAttach fn-tal">
                            <div class="m-attach fnUpAttachUl">
                            ## 暂存数据还原
                            #set( $thisAttachVal = '' )
                            #set( $thisAttachVal = $!{ffile.fileConent} )
                            #set( $thisAttachIsUp = $isEdit )
                            #parse('/layout/common/viewAttachUl.vm')
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fn-fwb">印章类型</td>
                    <td colspan="3" class="fn-tal">
                        <label class="fn-mr10"><input type="checkbox" class="fn-mr5" name="legalChapter" value="1" disabled="disabled" #if($!{ffile.legalChapterNum}!=0) checked="cehcked"#end>法人章</label>
                        $!{ffile.legalChapterNum} 份

                        <label class="fn-ml20 fn-mr10"><input type="checkbox" class="fn-mr5" name="cachet" value="1" disabled="disabled" #if($!{ffile.cachetNum}!=0) checked="cehcked"#end>公章</label>
                        $!{ffile.cachetNum} 份

                    </td>
                </tr>
                #set($i=$i+1)
                #set($j=$j+1)
            #end

        </tbody>
    </table>
        #set($customizeVariable="formRemark_StampBasicDataApply")
        #set($viewFormCustomizeField=true)
        #parse("/layout/common/formCustomizeField.vm")
    <div class="m-blank fn-mt20 fn-mb20"></div>

    <div class="fn-tac fn-pt10 fn-pb20">
        <a class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5" href="javascript:history.go(-1)">返回</a>
    </div>

</div>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")

<script>
    seajs.use($_GLOBAL.zyw+'/project/assistsys.slmg.basic.data.list');
</script>

</body>
</html>