<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<title>印章配置 - 用印管理</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;辅助系统 &nbsp;&gt;&nbsp;印章配置
</div>

<h2 class="m-h2-title">印章配置</h2>

<div class="fn-blank20"></div>

<form class="m-main border ui-bg-fff" id="form" action="/projectMg/stampapply/saveConfig.json">

    <div class="fn-p20" style="padding-right: 50px;">

        <table class="m-table m-table-list">
            
            <thead>
                <tr>
                    <th><span class="fn-f30 fn-mr5">*</span>公司</th>
                    <th width="30%"><span class="fn-f30 fn-mr5">*</span>公章</th>
                    <th width="30%"><span class="fn-f30 fn-mr5">*</span>法人章</th>
                </tr>
            </thead>

            <tbody id="fnListTbody">
            #if($!view) ##查看
                #if( $!configInfo.size() > 0 )
                    #foreach($!item in $!configInfo)
                    <tr diyname="listOrder">
                        <td>
                            $!item.orgName
                        </td>
                        <td>
                            $!item.gzRoleCode
                        </td>
                        <td>
                           $!item.frzRoleCode
                        </td>
                    </tr>
                    #end
                #else
                <td colspan="3">
                    暂无数据
                </td>
                    #end

                #else ##编辑
                #if( $!configInfo.size() > 0 )

                    #foreach($!item in $!configInfo)
                        <tr diyname="listOrder">
                            <td>
                                <input type="hidden" name="id" value="$!item.id">
                                <input type="text"  class="text fnInput fnErrorAfter fnCompanyName" name="orgName" value="$!item.orgName" maxlength="50">
##                                <p class="fn-mt5 fn-tar">
##                                    <span class="ui-btn ui-btn-fill ui-btn-blue fnCompanyBtn">选择</span>
##                                    <input type="hidden" name="orgId" class="fnCompanyId" value="$!item.orgId"> ## 公司/部门 id
##                                </p>
                            </td>
                            <td>
                                <input type="text" class="text fnInput" name="gzRoleCode" value="$!item.gzRoleCode" maxlength="50">
                            </td>
                            <td class="fn-pr">
                                <input type="text" class="text fnInput" name="frzRoleCode" value="$!item.frzRoleCode" maxlength="50">
                                <a style="position: absolute; right: -30px; top: 50%; margin-top: -10px;" href="javascript:void(0);" class="m-table-btn m-table-btn-del fnListDel"></a>
                            </td>
                        </tr>

                    #end

                #else

                    <tr diyname="listOrder">
                        <td>
                            <input type="text" class="text fnInput fnErrorAfter fnCompanyName" name="orgName" > ## 公司/部门 中文名称
##                            <p class="fn-mt5 fn-tar">
##                                <span class="ui-btn ui-btn-fill ui-btn-blue fnCompanyBtn">选择</span>
##                                <input type="hidden" name="orgId" class="fnCompanyId" value="20000007372067"> ## 公司/部门 id
##                            </p>
                        </td>
                        <td>
                            <input type="text" class="text fnInput" name="gzRoleCode" value="" maxlength="50">
                        </td>
                        <td class="fn-pr">
                            <input type="text" class="text fnInput" name="frzRoleCode" value="" maxlength="50">
                            <a style="position: absolute; right: -30px; top: 50%; margin-top: -10px;" href="javascript:void(0);" class="m-table-btn m-table-btn-del fnListDel"></a>
                        </td>
                    </tr>
                #end
            #end
            </tbody>

        </table>

        <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-green fn-mt20" id="fnListAdd"><i class="icon icon-add"></i>增加一行</a>

    </div>

    <div class="m-blank fn-mt20 fn-mb20"></div>

    <div class="fn-tac fn-pt10 fn-pb20">
        <input type="submit" class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5" value="保存">
        ## <a href="javascript: void(0);" class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5" id="doSubmit">保存</a>
        ## <a class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5" href="javascript:history.go(-1)">返回</a>
    </div>

</form>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")

<script>
    seajs.use($_GLOBAL.zyw+'/project/assistsys.slmg.config');
</script>

</body>
</html>