<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project3.css" rel="stylesheet">
<title>用印明细</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;辅助系统 &nbsp;&gt;&nbsp;用印明细
</div>

<form class="m-main border ui-bg-fff" action="/projectMg/stampapply/list.htm?rePage=seal" id="fnListSearchForm" method="POST">

    ## search start
        <input  type="hidden" id="rePage" value="$!rePage">
    <div class="m-search fn-clear">
        <div class="item">
            客户名称
            <input class="ui-text fn-w90" type="text" name="customerName" value="$!conditions.customerName">
        </div>

        <div class="item">
            申请单编号
            <input class="ui-text fn-w90" type="text" name="applyCode" value="$!conditions.applyCode">
        </div>

        <div class="item">
            文件名称
            <input class="ui-text fn-w90" type="text" name="fileName" value="$!conditions.fileName">
        </div>

        <div class="item">
            项目编号
            <input class="ui-text fn-w90" type="text" name="projectCode" value="$!conditions.projectCode">
        </div>

        <div class="item">
            <a class="ui-btn ui-btn-fill ui-btn-seek" id="fnListSearchBtn">搜索</a>
        </div>

    </div>

    ## search end

    <div class="fn-pl15 fn-pr15">   
        
       <div class="fn-mb20 fn-mt20">
           ## #if($!dataPermissionUtil.isBusiManager())
           ##     <a class="ui-btn ui-btn-fill ui-btn-green-empty fn-mr20" href="/projectMg/stampapply/addStampApply.htm"><b>+</b>申请用印&nbsp;</a>
           ##     <a class="ui-btn ui-btn-fill ui-btn-danger" href="javascript:void(0);" id="fnReplace">申请替换</a>
           ## #end
       </div>
        
        ## list start

        <table class="m-table m-table-list fn-tac" id="list">

            <thead>
                <tr>
                    ##<th><input type="checkbox" class="fnCheckAll"></th>
                    <th sortcol="file_name">文件名称</th>
                    <th sortcol="apply_code">申请单编号</th>
                    <th sortcol="customer_name">客户名称</th>
                    <th sortcol="project_code">项目编号</th>
                    ##<th sortcol="f.user_name">申请人</th>
                    <th width="100px" sortcol="cachet_num,legal_chapter_num">用印情况</th>
                    <th width="80px" sortcol="raw_add_time">申请时间</th>
##                    #if($!dataPermissionUtil.isBusiManager())
##                        <th width="100px">操作</th>
##                    #end
                </tr>
            </thead>
            <tbody>

                #foreach($!apply in $!page.result)
                    <tr>
                      ##  <td><input type="checkbox" class="fn-csp fnCheck fnCheckItem"  #if((!$!apply.replaceFormStatus)&&($!sessionLocal.userId == $!apply.formUserId)&&$!apply.source.code=="OTHER") #else disabled="disabled" #end projectCode="$!apply.projectCode" applyid="$!apply.applyId" itemid="$!apply.fileId" value="$!apply.fileId"></td>
                        <td>$!apply.fileName</td>
                        <td>$!apply.applyCode</td>
                        <td>$!apply.customerName</td>
                        <td>$!apply.projectCode</td>
                        ##<td>$!apply.formUserName</td>
                        <td class="fn-tar">公章<span class="red fn-ml5 fn-mr5">$!apply.cachetNum</span>份<br>法人章<span class="red fn-ml5 fn-mr5">$!apply.legalChapterNum</span>份</td>
                        <td>$!dateUtil.simpleFormat($!apply.rawAddTime)</td>
##                        #if($!dataPermissionUtil.isBusiManager())
##                            <td>
##
##                                #if((!$!apply.replaceFormStatus)&&($!sessionLocal.userId == $!apply.formUserId)&&$!apply.source.code=="OTHER")
##                                    <a href="/projectMg/stampapply/viewStampApply.htm?id=$!{apply.applyId}&fileIds=$!{apply.fileId}&toPage=replace">申请替换</a>
##                                #elseif($!apply.formStatus=="APPROVAL"&&$!apply.formCode=="STAMP_APPLY"&&$!apply.replaceFormStatus=="APPROVAL")
##                                    已替换
##                                #elseif($!apply.formStatus=="APPROVAL"&&$!apply.formCode=="STAMP_APPLY"&&$!apply.replaceFormStatus)
##                                    替换中
##                                #elseif($!apply.formStatus=="APPROVAL"&&$!apply.formCode=="REPLACE_STAMP_APPLY"&&($!sessionLocal.userId == $!apply.formUserId))
##                                #else
##
##                                #end
##
##                            </td>
##                        #end
                    </tr>
                #end

            </tbody>
        </table>

        ## list end

        ## page start

        #parse("/layout/common/pages.vm")

        ## page end

    </div>

</form>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/project/assistsys.slmg.list');
    // function toPage(totalPage, pageNo){
    //     if(totalPage<pageNo){
    //         return false;
    //     }
    //     $("input[name=pageNumber]").val(pageNo);
    //     $("#searchForm").submit();
    // }
</script>

</body>
</html>