<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project3.css" rel="stylesheet">
<title>$!exInfo.exType.message</title>
</head>
<body>

## 通过类型 显示不同文字
## 是否是 审计工作底稿
#set( $isAuditWorkPapers = true )

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;合规检查管理&nbsp;&gt;&nbsp;$!exInfo.exType.message
</div>

<h2 class="m-h2-title">$!exInfo.exType.message</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">
    #if($webNodeInfo.bpmButtonInfos && $webNodeInfo.bpmButtonInfos.size() > 0)
        <form class="fn-pt20 m-audit" id="auditForm">
            #if($!uploadAttach && $!uploadAttach == "YES")
                 <div class="fnUpAttach">
                    附件上传：
                    #set($hiddenUrls = $!{myAttachUrl})
                    #set($attachments = $!{myAttachList}) 
                    #parse("/layout/common/uploadAttachmentForm.vm")
                </div>
                <input type="hidden" name="uploadAttach" value="YES">
            #end
            #parse("/layout/common/audit.vm")
        </form>
    #end

    <h2 class="m-htitle fn-mb20"><span>基本信息</span></h2>

    <div class="m-item">
        <label class="m-label">请选择本次审计部门：</label>
        $!exInfo.deptNames
    </div>

    <div class="m-item">
        <label class="m-label">请选择本次审计人员：</label>
        $!exInfo.users
    </div>

    ## 是否是 合规检查报告
    #if($!exInfo.exType.code() == "REPORT_DELI")
        <div class="m-item">
            <label class="m-label">是否需要整改：</label>
            $!exInfo.needFeedback.message
        </div>
        <div class="m-item #if($!exInfo.needFeedback.code != 'YES') fn-hide #end">
            <label class="m-label">整改意见反馈时间：</label>
            $!dateUtil.dtSimpleFormat($!exInfo.feedbackTime)
        </div>
    #else
        <div class="m-item">
            <label class="m-label">意见反馈时间：</label>
            $!dateUtil.dtSimpleFormat($!exInfo.feedbackTime)
        </div>
    #end

    <h2 class="m-htitle fn-mb20 fn-mt20"><span>$!exInfo.exType.message</span></h2>

    <div class="m-item">
        <label class="m-label">说明：</label>
        #if($!exInfo.remark)
            $!exInfo.remark.replaceAll("\n","</br>").replaceAll(" ","&nbsp;")
        #else
            无
        #end
    </div>

    <div class="m-item fnUpAttach">
        <label class="m-label">附件：</label>
        <div class="m-attach fnUpAttachUl">
            #set($attachList = $!allAttachList)
            #if($!editMyAttach)
                #set($attachList = $!otherAttachList)
            #end
            #foreach( $item in $attachList)
                <p>
                    <span class="attach-item fnAttachItem" val="$!item.fileName,$!item.filePhysicalPath,$!item.requestPath">
                        #if( $item.fileName.endsWith(".jpg") || $item.fileName.endsWith(".JPG") ||
                            $item.fileName.endsWith(".png") || $item.fileName.endsWith(".PNG") ||
                            $item.fileName.endsWith(".jpeg") || $item.fileName.endsWith(".JPEG") ||
                            $item.fileName.endsWith(".bmp") || $item.fileName.endsWith(".BMP") )
                            <i class="icon icon-img"></i><span class="fnAttachView fn-csp">$item.fileName</span>
                        #else
                            <i class="icon icon-file"></i><a title="点击下载" target="_blank" href="/baseDataLoad/downLoad.htm?fileName=$!stringUtil.encodeURI($item.fileName)&path=$item.filePhysicalPath&id=0">$item.fileName</a>
                        #end
                    </span>
                    由 $!item.uploaderName上传于$!dateUtil.simpleFormat($!item.rawAddTime)
                </p>
            #end
        </div>
    </div>

    <div class="m-blank fn-mt20 fn-mb20"></div>
    <div class="fn-tac fn-pt10 fn-pb20">
        <a class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5" href="javascript:history.go(-1)">返回</a>
    </div>
</div>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")

<script>
    seajs.use($_GLOBAL.zyw+'/project/assistsys.iamg');
</script>

</body>
</html>