<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">

#set($formTitle = "付款单")
#if($!paymentInfo.isSimple == "IS")
  #set($formTitle = "被扣划单")
#end

<title>$!formTitle</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;资金管理&nbsp;&gt;&nbsp;$!formTitle
</div>


<div class="fn-blank20"></div>

<div id="div_print" class="m-main border ui-bg-fff">
    #if($webNodeInfo.bpmButtonInfos && $webNodeInfo.bpmButtonInfos.size() > 0)
        <form class="noprint fn-pt20 m-audit" id="auditForm" noreason="#if($!dataPermissionUtil.isFinancialPersonnel()) ui-btn-gray #end">
            <input type="hidden" name="_SYSNAME" value="FM"/>
            #parse("/layout/common/audit.vm")
        </form>
    #end
    <form class="fnStep" action="/fundMg/payment/apply/save.htm" method="post" id="form">

        <input type='hidden' name='formId' value='$!form.formId' />

        <h2 class="fn-tac apply-h2 fn-mt45">$!formTitle</h2>

        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div class="m-item fn-mb20" style="margin-left:-75px;">
            <label class="m-label"><em class="remind">*</em> 付款来源：</label>
            <input type="hidden" name="formSource" value="$!paymentInfo.formSource.code"/>
            <span>
                 #if($!paymentInfo.formSource.code == "FORM")关联单据#end
                 #if($!paymentInfo.formSource.code == "OTHER")其他#end
            </span>

        </div>


        <div class="m-invn">
            <dl class="choice">
                <dd #if($!paymentInfo.formSource.code != "FORM")style="display:none"#end>
                    <input type='hidden' name='sourceFormSys' value='$!paymentInfo.sourceFormSys.code' />
                    <input type='hidden' name='sourceForm' value='$!paymentInfo.sourceForm.code' />
                    <input type='hidden' name='sourceFormId' value='$!paymentInfo.sourceFormId' />
                    <table class="m-table" border="1">
                        <tbody>
                            #if($!projectUtil.isFinancial($!paymentInfo.projectCode))
                               <tr>
                                    <td class="fn-font-b2" width="13%">关联单据类型</td>
                                    <td class="m-invndd-font onbreak">
                                        $!paymentInfo.sourceForm.message
                                        <input type="hidden" name="relevance" value="$!paymentInfo.sourceForm.message">
                                    </td>
                                    <td class="fn-font-b2" width="13%">关联项目</td>
                                    <td class="m-invndd-font onbreak" >$!paymentInfo.projectName（$!paymentInfo.projectCode）</td>
                                </tr>
                                <tr class="fnNewLine">
                                    <td class="fn-font-b2">经办人</td>
                                    <td class="m-invndd-font onbreak">
                                        $!paymentInfo.applyUserName
                                    </td>
                                    <td class="fn-font-b2">部门</td>
                                    <td class="onbreak">$!paymentInfo.applyDeptName</td>
                                </tr>
							#elseif($!paymentInfo.sourceForm.code == "INNER_LOAN")
                              <tr>
                                    <td class="fn-font-b2" width="13%">关联单据类型</td>
                                    <td class="m-invndd-font onbreak">
                                        $!paymentInfo.sourceForm.message
                                        <input type="hidden" name="relevance" value="$!paymentInfo.sourceForm.message">
                                    </td>
                   					<td class="fn-font-b2">经办人</td>
                                    <td class="m-invndd-font onbreak">$!paymentInfo.applyUserName</td>
                                    <td class="fn-font-b2">部门</td>
                                    <td class="onbreak">$!paymentInfo.applyDeptName</td>
                                </tr>							                                
                            #else
                              <tr>
                                    <td class="fn-font-b2" width="13%">关联单据类型</td>
                                    <td class="m-invndd-font onbreak">
                                        $!paymentInfo.sourceForm.message
                                        <input type="hidden" name="relevance" value="$!paymentInfo.sourceForm.message">
                                    </td>
                                    <td class="fn-font-b2" width="13%">项目编号</td>
                                    <td class="m-invndd-font onbreak" >
                                        #if($!paymentInfo.projectCode)$!paymentInfo.projectCode#end
                                    </td>
                                    <td class="fn-font-b2" width="13%">项目名称</td>
                                    <td class="m-invndd-font onbreak" >
                                        $!paymentInfo.projectName 
                                    </td>
                                </tr>
                                <tr class="fnNewLine">
									## 客户经理
                                    <td class="fn-font-b2">客户经理</td>
                                    <td class="m-invndd-font onbreak">$!paymentInfo.applyUserName</td>
                                    <td class="fn-font-b2">部门</td>
                                    <td class="onbreak">$!paymentInfo.applyDeptName</td>
                                    <td class="fn-font-b2"  width="13%">客户名称 </td>
                                    <td class="onbreak">$!paymentInfo.customerName</td>									
                                </tr>
                            #end
                        </tbody>
                    </table>
                </dd>
                <dd #if($!paymentInfo.formSource.code == "FORM")style="display:none"#end>
                    <table class="m-table" border="1">
                        <tbody>
                            <tr>
                                <td class="fn-font-b2"><em class="remind">*</em> 经办人</td>
                                <td class="m-invndd-font">$!paymentInfo.applyUserName
                                    <input class="text" type="hidden" name="applyUserId" id="handleNameID" value="$!paymentInfo.applyUserId">
                                    <input class="text" type="hidden" name="applyUserAccount" id="handleAcc" value="$!paymentInfo.applyUserAccount">
                                </td>
                                <td class="fn-font-b2"><em class="remind">*</em> 经办人部门</td>
                                <td>
                                    <input class="text" type="hidden" name="applyDeptId" id="applyDeptId" value="$!paymentInfo.applyDeptId">
                                    <input class="text" type="hidden" name="applyDeptName" id="applyDeptName" value="$!paymentInfo.applyDeptName">
                                    $!paymentInfo.applyDeptName
                                </td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2"><em class="remind">*</em> 收款事由:</td>
                                <td colspan="3" style="padding:0">#if($!paymentInfo.formSource.code != "FORM")$!paymentInfo.remark#end</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            #if($!onlyChangeDetailList == 'YES')<input type="hidden" name="onlyChangeDetailList" value="YES"/> #end
            <input type="hidden" name="paymentId" value="$!paymentInfo.paymentId"/>
            <div class="choiceList">
                <dl class="fn-mt20" #if($!paymentInfo.formSource.code != "FORM")style="display:none"#end>
                    <dt class="fn-pl30 fn-lh60">合计付款金额：<span class="totalAmount" id="totalAmount">$!paymentInfo.amount.toStandardString()</span>元</dt>
                    <dd class="fn-p-reb">
                        <table class="m-table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>付款种类</th>
                                    <th>付款金额（元）</th>
                                    <th>#if($!onlyChangeDetailList == 'YES')<span class="fn-f30">*</span>#end 付款账户</th>
                                    <th>#if($!onlyChangeDetailList == 'YES')<span class="fn-f30">*</span>#end 付款日期</th>
                                    <th>收款账户</th>
                                    <th>收款人</th>
                                    <th>开户行</th>
                                    <th>会计科目</th>
                                </tr>
                            </thead>
                            <tbody id="test1">
                                #if($!listUtil.isNotEmpty($!paymentInfo.feeList))
                                    #foreach($!fee in $!paymentInfo.feeList)
                                        <tr class="fnNewLine" orderName="feeOrder">
                                            <td class="fn-text-c testNum">$!foreach.count</td>
                                            <td>$!fee.feeType.message</td>
                                            <td>$!fee.amount</td>
                                            #if($!onlyChangeDetailList == 'YES')
                                                <td class="m-invndd-font">
                                                    <input class="text fnBankAccount feeTypePrev clearContentTarget vali" type="text" name="paymentAccount" value="$!fee.paymentAccount" readonly>
                                                    <a class="ui-btn ui-btn-fill ui-btn-blue paymentBtn" style="right:60px;">选择</a>
                                                    <a class="ui-btn ui-btn-fill ui-btn-gray clearContent">清除</a>
                                                </td>
                                                <td class="m-invndd-font">
                                                    <input class="text laydate-icon vali" onclick="laydate()" type="text" name="paymentDateStr" value="$!dateUtil.formatDay($!fee.paymentDate)">
                                                </td>
                                            #else
                                                <td class="m-invndd-font">$!fee.paymentAccount</td>
                                                <td class="m-invndd-font">$!dateUtil.formatDay($!fee.paymentDate)</td>
                                            #end
                                            <td class="m-invndd-font">$!fee.receiptAccount</td>
                                            <td class="m-invndd-font">$!fee.receiptName</td>
                                            <td class="m-invndd-font">$!fee.bankName</td>
                                            <td class="m-invndd-font">$!fee.atCode $!fee.atName</td>
                                        </tr>
                                    #end
                                #else
                                    <tr orderName="feeOrder">
                                        <td class="fn-text-c testNum">1</td>
                                        <td>$!fee.feeType.message</td>
                                        <td></td>
                                        <td class="m-invndd-font">$!item.paymentAccount</td>
                                        <td class="m-invndd-font">$!dateUtil.formatDay($!fee.paymentDate)</td>
                                        <td class="m-invndd-font">$!item.receiptAccount</td>
                                        <td class="m-invndd-font">$!item.receiptName</td>
                                        <td class="m-invndd-font">$!item.bankName</td>
                                        <td class="m-invndd-font"></td>
                                    </tr>
                                #end
                            </tbody>
                        </table>
                    </dd>
                </dl>
                <dl class="fn-mt20" #if($!paymentInfo.formSource.code == "FORM")style="display:none"#end>
                    <dd class="fn-p-reb">
                        <table class="m-table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>付款种类</th>
                                    <th>付款金额（元）</th>
                                    <th>#if($!onlyChangeDetailList == 'YES')<span class="fn-f30">*</span>#end 付款账户</th>
                                    <th>#if($!onlyChangeDetailList == 'YES')<span class="fn-f30">*</span>#end 付款日期</th>
                                    <th>收款账户</th>
                                    <th>收款人</th>
                                    <th>开户行</th>
                                    <th>会计科目</th>
                                </tr>
                            </thead>
                            <tbody id="test2">
                                #if($!listUtil.isNotEmpty($!paymentInfo.feeList))
                                    #foreach($!fee in $!paymentInfo.feeList)
                                        <tr diyname="feeOrder">
                                            <td class="fn-text-c testNum">
                                                $!foreach.count
                                                <input type="hidden" name="id" value="$!fee.id"/>
                                            </td>
                                            <td>$!fee.feeType.message</td>
                                            <td>$!fee.amount</td>
                                            #if($!onlyChangeDetailList == 'YES')
                                                <td class="m-invndd-font">
                                                    <input class="text fnBankAccount feeTypePrev clearContentTarget vali" type="text" name="paymentAccount" value="$!fee.paymentAccount" readonly>
                                                    <a class="ui-btn ui-btn-fill ui-btn-blue paymentBtn" style="right:60px;">选择</a>
                                                    <a class="ui-btn ui-btn-fill ui-btn-gray clearContent">清除</a>
                                                </td>
                                                <td class="m-invndd-font">
                                                    <input class="text laydate-icon vali" onclick="laydate()" type="text" name="paymentDateStr" value="$!dateUtil.formatDay($!fee.paymentDate)">
                                                </td>
                                            #else
                                                <td class="m-invndd-font">$!fee.paymentAccount</td>
                                                <td class="m-invndd-font">$!dateUtil.formatDay($!fee.paymentDate)</td>
                                            #end
                                            <td class="m-invndd-font">$!fee.receiptAccount</td>
                                            <td class="m-invndd-font">$!fee.receiptName</td>
                                            <td class="m-invndd-font">$!fee.bankName</td>
                                            <td class="m-invndd-font">$!fee.atCode $!fee.atName</td>
                                        </tr>
                                    #end
                                #else
                                    <tr orderName="feeOrder">
                                        <td class="fn-text-c testNum">1</td>
                                        <td>$!fee.feeType.message</td>
                                        <td></td>
                                        <td class="m-invndd-font"></td>
                                        <td class="m-invndd-font">$!item.paymentAccount</td>
                                        <td class="m-invndd-font">$!dateUtil.formatDay($!fee.paymentDate)</td>
                                        <td class="m-invndd-font">$!item.receiptAccount</td>
                                        <td class="m-invndd-font">$!item.receiptName</td>
                                        <td class="m-invndd-font">$!item.bankName</td>
                                        <td class="m-invndd-font"></td>
                                    </tr>
                                #end
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
	    <div class="fn-blank20"></div>
	    <div class="fn-hide printshow">
	    	#parse("/layout/common/auditHisList.vm")
		</div>
        <div class="noprint fn-tac fn-pt10 fn-pb20">
            <a class="fnAddLine ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 fn-csp" href="javascript:history.go(-1)">返回</a>
        	<a target="_blank" class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5" id="fnPrint" href="javascript:void(0)">打印</a>
        </div>
    </form>

    #parse("/layout/fundMg/fme.applyAddPopupCommom.vm")
</div>


#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/fund/fme.viewApplyAddCommom.js');
</script>

</body>
</html>