
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project1.css" rel="stylesheet">
<title>查看历史结息记录 - 应收利息计提台账</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;理财项目管理&nbsp;&gt;&nbsp;应收利息计提台账&nbsp;&gt;&nbsp;查看历史结息记录
</div>

<h2 class="m-h2-title">查看历史计提记录</h2>

<div class="fn-blank20"></div>

<form class="m-main border ui-bg-fff" action="/projectMg/financialProject/receiptWithdrawingList.htm" id="fnListSearchForm" method="POST">
	
	<input type="hidden" name="queryHistory" value="yes"/>
	<input type="hidden" name="projectCode" value="$!queryOrder.projectCode"/>
    ## search start

    <div class="m-search fn-clear">

        <div class="item">
            产品名称
            <input class="ui-text fn-w160" type="text" name="productName" value="#if($!queryOrder.productName)$!queryOrder.productName#else$!withdrawProject.productName#end" readonly="readonly">
        </div>

        <div class="item">
            查询时间
            <input class="ui-text fn-w150 laydate-icon fnInputTime" type="text" name="withdrawMonthStart" value="$!queryOrder.withdrawMonthStart">
            -
            <input class="ui-text fn-w150 laydate-icon fnInputTime" type="text" name="withdrawMonthEnd" value="$!queryOrder.withdrawMonthEnd">
        </div>

        <div class="item">
            <a class="ui-btn ui-btn-fill ui-btn-seek" id="fnListSearchBtn">搜索</a>
        </div>

    </div>

    ## search end
    
    <div class="fn-pl15 fn-pr15">

        <p class="fn-mt20">
            <span class="fn-mr20">预期收益率：$!withdrawProject.interestRate  %</span>
            <span class="fn-mr20">购买时间：$!dateUtil.dtSimpleFormat($!withdrawProject.buyDate)</span>
            <span class="fn-mr20">实时计息时间：$!withdrawProject.withdrawDay</span>
            <span class="fn-mr20">累计计息金额：$!withdrawProject.totalInterest.add($!withdrawProject.withdrawingInterest).toStandardString() 元</span>
        </p>

        <p class="fn-mt20 fn-mb20">历史计提记录：</p>

        ## list start

        <table class="m-table m-table-list fn-tac">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>计提时间</th>
                    <th>计提金额（元）</th>
                </tr>
            </thead>
            <tbody>
                #foreach($!item in $!page.result)
                    <tr>
                        <td>$!foreach.count</td>
                        <td>#if($!item.withdrawedDate)$!dateUtil.dtSimpleFormat($!item.withdrawedDate)#else-#end</td>
                        <td>$!item.withdrawedInterest.toStandardString()</td>
                    </tr>
                #end
            </tbody>
        </table>
        
        ## list end

    </div>

    <div class="m-blank fn-mt20 fn-mb20"></div>
    <div class="fn-hide">
     	#parse("/layout/common/pages.vm")
	</div>
    <div class="fn-tac fn-pt20 fn-pb20">
        <a href="/projectMg/financialProject/receiptWithdrawingList.htm" class="ui-btn ui-btn-submit ui-btn-back diy-back fn-ml5 fn-mr5">返回</a>
    </div>
    
</form>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/project/flmg.query');
</script>

</body>
</html>