<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project1.css" rel="stylesheet">
<title>理财项目 - 理财项目结息维护</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;理财项目管理&nbsp;&gt;&nbsp;理财项目结息维护
</div>

<h2 class="m-h2-title">理财项目结息维护</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    <form id="form" action="/projectMg/financialProject/settlement.json" method="post">

        <input type="hidden" id="projectCode" name="projectCode" value="$!project.projectCode">

        <div class="fn-blank20"></div>

        <div class="m-item">
            <label class="m-label"><span class="m-required">*</span>产品名称：</label>
            <input type="text" class="ui-text fn-w200 disabled fnInput" readonly="readonly" id="productName" value="$!project.productName"/>
            <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-blue" id="chooseBtn">选择</a>
        </div>

        <div class="m-item">
            <label class="m-label">产品类型：</label>
            $!project.productType.message
        </div>
        
        <div class="m-item">
            <label class="m-label">期限类型：</label>
           $!project.termType.message
        </div>
        
        <div class="m-item">
            <label class="m-label">收益类型：</label>
           $!project.interestType.message
        </div>
        
        <div class="m-item">
            <label class="m-label">发行机构：</label>
            $!project.issueInstitution
        </div>
        
        <div class="m-item">
            <label class="m-label">产品年限：</label>
            $!project.timeLimit $!project.timeUnit.viewName
        </div>
        
        
        <div class="m-item">
            <label class="m-label">结息方式：</label>
            $!project.interestSettlementWay.message
        </div>
        
        <div class="m-item">
            <label class="m-label">年化收益率：</label>
            $!numberUtil.formatDouble2($!project.interestRate) %
        </div>
        
        <div class="m-item">
            <label class="m-label">计息天数：</label>
            $!project.yearDayNum 天/年
        </div>
        
        <div class="m-item">
            <label class="m-label">实际申购日：</label>
            <span id="SJSGR">$!dateUtil.dtSimpleFormat($!project.actualBuyDate)</span>
        </div>
        <div class="m-item">
            <label class="m-label">到期日：</label>
            <span>$!project.expireDate</span>
        </div>
        <div class="m-item">
            <label class="m-label">实际申购份数：</label>
            $!moneyUtil.getMoney($!project.actualBuyNum).toStandardString()
        </div>
        <div class="m-item">
            <label class="m-label">票面单价：</label>
            $!project.price.toStandardString() 元
        </div>
        
        <div class="m-item">
            <label class="m-label">是否可提前赎回：</label>
            $!project.canRedeem.message
        </div>
        
        <div class="m-item">
            <label class="m-label">累计结息：</label>
            $!project.settlementAmount.toStandardString()
        </div>
        
        <div class="m-item">
            <label class="m-label">是否滚动：</label>
            $!project.isRoll.message
        </div>
        
        <div class="m-item">
            <label class="m-label"><span class="m-required">*</span>结息金额：</label>
            <input class="ui-text fn-w200 fnInput fnMakeMoney fnMakeMicrometer" type="text" name="settlementAmount" value=""> 元
        </div>
        
        <div class="m-item">
            <label class="m-label"><span class="m-required">*</span>结息时间：</label>
            <input class="ui-text fn-w200 fnInput laydate-icon" style="width:186px;"  type="text" id="settlementTime" name="settlementTime" value="" onclick="laydate({min: document.getElementById('SJSGR').innerHTML, max: laydate.now()})">
        </div>
        
        <div class="fn-tac fn-pt20 fn-pb20">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5" type="submit" value="保存">
            <a href="javascript:history.go(-1);" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        </div>

    </form>

</div>

#parse("/layout/common/footer.vm")

#parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/project/flmg.settlement');
</script>

</body>
</html>