<div class="fn-mb20 apply-step" id="step">
    <ul class="ul fn-clear">
        <li class="item icon-s1 active" ftf="qyjbqk">
            <i class="icon icon-s1"></i>
            <p>企业基本情况</p>
            <div class="step-line"></div>
            <div class="step-line2"></div>
        </li>
        <li class="item icon-s2" ftf="gqjg">
            <i class="icon icon-s2"></i>
            <p>股权结构</p>
            <div class="step-line"></div>
            <div class="step-line2"></div>
        </li>
        <li class="item icon-s5" ftf="sqdkdbqk">
            <i class="icon icon-s5"></i>
            <p>承销信息</p>
            <div class="step-line2"></div>
        </li>
    </ul>
</div>

## 企业基本情况 start

<form class="fnStep" id="qyjbqk" needVerify="needVerify" action="/projectMg/setUp/saveCustomerBaseInfo.htm" method="post">
    
    #set($thisType = "CX")
    ## 基本信息 大致相同
    #parse("/layout/projectMg/beforeLoanMg/setUp/view_apply_base.vm")
    
    <div class="m-blank fn-mt20 fn-mb20"></div>

    <div class="fn-tac fn-pt10 fn-pb20">
        <input type="hidden" class="step" value="1">
        <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 fnNext" type="button" value="下一步">
        <input class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 fnGOBack" type="button" value="返回">
    </div>
    
</form>

## 企业基本情况 end

## 股权结构 start

<form class="fn-hide fnStep" id="gqjg" action="/projectMg/setUp/saveEquityStructure.htm" method="post">

    <div class="m-blank fn-mt20 fn-mb20"></div>

    #parse("/layout/projectMg/beforeLoanMg/setUp/view_apply_equity.vm")

    <div class="m-blank fn-mt20 fn-mb20"></div>

    <div class="fn-tac fn-pt10 fn-pb20">
        <input type="hidden" class="step" value="2">
        <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 fnNext" type="button" value="下一步">
        <input class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 fnGOBack" type="button" value="返回">
    </div>

</form>

## 股权结构 end


## 申请贷款/担保情况 start

<form class="fn-hide fnStep" id="sqdkdbqk" needVerify="needVerify" action="/projectMg/setUp/saveUnderwritingProject.htm" method="post">

    <div class="m-blank fn-mb20"></div>
    ##<div class="m-item m-item2">
 	##	<input type="checkbox" disabled="disabled" value="YES" name="belongToNc" #if($!project.belongToNc.code == "YES") checked="checked" #end> 是否南川分公司项目
    ##</div>
    <div class="m-item m-item2">
        <label class="m-label">项目名称：</label>
        $!project.projectName
    </div>

    ##<div class="m-item m-item2">
    ##    <label class="m-label">本次申请融资金额：</label>
    ##    $!project.amount.toStandardString()元
    ##</div>
    <div class="m-item m-item2">
        <label class="m-label"><span class="m-required">*</span>本次申请融资金额：</label>
        #if($!project.foreignAmount)$!project.foreignAmount#else$!project.amount.toStandardString()#end
        #if($!project.foreignCurrencyCode)$!project.foreignCurrencyName#else元#end
        <input type="hidden" class="fnForeignCurrencyName" name="foreignCurrencyName" value="$!project.foreignCurrencyName"/>            
        <input type="hidden" class="fnExchangeRate" name="exchangeRate" value="$!project.exchangeRate"/>            
        <input type="hidden" class="fnEchangeUpdateTime" name="exchangeUpdateTime" value="$!dateUtil.simpleFormat($!project.exchangeUpdateTime)"/> 
        <div class='fnExchangeInfo #if(!$project.foreignCurrencyCode || $!project.foreignCurrencyCode == "CNY" || !$project.foreignAmount)fn-hide#end'>折合人民币&nbsp;<span class='fnCnyAmountShow'>$!project.amount.toStandardString()</span>&nbsp;元 ，基于&nbsp;<span class="fnExchangeUpdateTime">$!dateUtil.simpleDate($!project.exchangeUpdateTime)</span>&nbsp;汇率，1<span class="fnForeignCurrencyName">$!project.foreignCurrencyName</span>=<span class="fnExchangeRate">$!project.exchangeRate</span>人民币元</div>           
    </div>    

    <div class="m-item m-item2">
        <label class="m-label">本次申请融资期限：</label>
        $!project.timeLimit $!project.timeUnit.message
    </div>

    <div class="m-item m-item2">
        <label class="m-label">合作机构：</label>
        $!project.coInstitutionName
    </div>

    <div class="m-item m-item2">
        <label class="m-label">还款资金来源：</label>
        $!project.repaySource
    </div>

    <div class="m-item m-item2">
        <label class="m-label">是否财政支持：</label>
        $!project.hasFinancialSupport.message
    </div>

    <div class="m-item m-item2">
        <label class="m-label">担保函出具机构：</label>
        $!project.letterInstitutionName
    </div>
    
	#set($customizeVariable="formRemark_project")
	#set($viewFormCustomizeField=true)
	#parse("/layout/common/formCustomizeField.vm")    

    <div class="fn-hide printshow">
    	#parse("/layout/common/auditHisList.vm")
	</div>
	
    <div class="m-blank fn-mt20 fn-mb20"></div>

    <div class="fn-tac fn-pt10 fn-pb20">
        <input type="hidden" class="step" value="3">
        #if($!form.status == 'APPROVAL')
            <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5 fnPrint" type="button" value="打印">
        #end
        <input class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 fnGOBack" type="button" value="返回">
    </div>

</form>