<input type="hidden" name="reportName" value="融资性担保机构业务情况（表一）" />
<div class="fn-ml15 fn-mr15 fn-mt20 fn-mb20 hiddenTable">
    <div class="fn-mb20 fn-mt20 tabel-info">
        <p class="fn-tar">填报单位：<span>重庆进出口信用担保有限公司</span></p>
        <p class="fn-tar">单位：<span>万元</span></p>
    </div>

    <table class="m-table m-table-list fn-tac report-table">
        <thead>
        <tr>
            <th class="fn-w100" rowspan="2">序号</th>
            <th colspan="2" rowspan="2" class="fn-w600">项目</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
        </tr>
        <tr>
            <th>年初数</th>
            <th>本年度增加</th>
            <th>本年度减少/解除</th>
            <th>期末数</th>
        </tr>
        </thead>
        <tbody>
            #if(!$!items)
            <tr>
                <td class="td-name">1</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.1.1 流动资金贷款</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">2</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.1.2 承兑汇票担保</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">2</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.1.3 固定资产融资</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">3</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.1.4 信用证担保</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">4</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.1.5 其他融资性担保项</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">5</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.1.6 债券发行担保</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">6</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.1 担保金额小计</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">7</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.2 担保户数</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">8</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.3 代偿金额</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">9</td>
                <td class="fn-parent root1">1.融资性担保业务</td>
                <td class="fn-parent">1.4 损失金额</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>


            <tr>
                <td class="td-name">10</td>
                <td class="fn-parent root1">2.非融资性担保业务</td>
                <td class="fn-parent">2.1.1 诉讼保全担保</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">11</td>
                <td class="fn-parent root1">2.非融资性担保业务</td>
                <td class="fn-parent">2.1.2 履约担保</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">12</td>
                <td class="fn-parent root1">2.非融资性担保业务</td>
                <td class="fn-parent">2.1.3 其他非融资性担保</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">13</td>
                <td class="fn-parent root1">2.非融资性担保业务</td>
                <td class="fn-parent">2.1 担保金额小计</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">14</td>
                <td class="fn-parent root1">2.非融资性担保业务</td>
                <td class="fn-parent">2.2 代偿金额</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">15</td>
                <td class="fn-parent root1">2.非融资性担保业务</td>
                <td class="fn-parent">2.3 损失金额</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>

            <tr>
                <td class="td-name">16</td>
                <td class="fn-parent root1">3.再担保</td>
                <td class="fn-parent">3.1 担保金额</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">17</td>
                <td class="fn-parent root1">3.再担保</td>
                <td class="fn-parent">3.2 代偿金额</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">18</td>
                <td class="fn-parent root1">3.再担保</td>
                <td class="fn-parent">3.3 损失金额</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>

            <tr>
                <td class="td-name">16</td>
                <td class="fn-parent root1">4.担保业务合计</td>
                <td class="fn-parent">4.1 担保金额合计</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">17</td>
                <td class="fn-parent root1">4.担保业务合计</td>
                <td class="fn-parent">4.2 代偿金额合计</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            <tr>
                <td class="td-name">18</td>
                <td class="fn-parent root1">4.担保业务合计</td>
                <td class="fn-parent">4.3 损失金额合计</td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
                <td class="td-name"></td>
            </tr>
            #else
                #set($index=1)
                #foreach ($item in $!items)
                <tr>
                    <td class="td-name">$index</td>
                    <td class="fn-parent root1 root-style fn-w300" >$item.data1</td>
                    <td class="fn-parent">$item.data3</td>
                    #if($item.data3=="担保户数")
                       <td class="fn-tac">$item.data4</td>
                       <td class="fn-tac">$item.data5</td>
                       <td class="fn-tac">$item.data6</td>
                       <td class="fn-tac">$item.data7</td>
                        #else
                            <td class="fn-tac">$!moneyUtil.formatW($!moneyUtil.getMoney($item.data4))</td>
                            <td class="fn-tac">$!moneyUtil.formatW($!moneyUtil.getMoney($item.data5))</td>
                            <td class="fn-tac">$!moneyUtil.formatW($!moneyUtil.getMoney($item.data6))</td>
                            <td class="fn-tac">$!moneyUtil.formatW($!moneyUtil.getMoney($item.data7))</td>
                    #end
                </tr>
                    #set($index=$index+1)
                #end
            #end
        </tbody>

    </table>
    <p class="table-infos">
        <span class="fn-dib">单位负责人：<label></label></span>
        <span class="fn-dib">统计负责人：<label></label></span>
        <span class="fn-dib">填表人：<label></label></span>
        <span class="fn-dib">报出日期：<label></label></span>
    </p>

</div>