<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project1.css" rel="stylesheet">
<title>到期解保 - 审核申请</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;授信后管理 &nbsp;&gt;&nbsp;到期解保
</div>

<h2 class="m-h2-title">解除（反）担保审查表</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    <form class="fn-pt20 m-audit" id="auditForm">
        #if($webNodeInfo.bpmButtonInfos && $webNodeInfo.bpmButtonInfos.size() > 0)
            #if($!chooseBusiManagerb && $!chooseBusiManagerb == "YES")
                <div class="m-item">
                    <label class="m-label">业务经理B角：</label>
                    <input class="ui-text fn-w200" type="text" name="busiManagerbName" id="manager"><a class="ui-btn ui-btn-fill ui-btn-blue" id="managerBtn" href="javascript: void(0);">选择</a>
                    <input type="hidden" name="busiManagerbAccount" id="managerAccount" value="testAccount">
                    <input type="hidden" name="busiManagerbId" id="managerID" value="-1">
                    <input type="hidden" name="chooseBusiManagerb" value="YES">
                </div>
            #end

            #if($!chooseRiskManager && $!chooseRiskManager == "YES")
                <div class="m-item">
                    <label class="m-label">风险经理：</label>
                    <input class="ui-text fn-w200" type="text" name="riskManagerName" id="manager"><a class="ui-btn ui-btn-fill ui-btn-blue" id="managerBtn" href="javascript: void(0);">选择</a>
                    <input type="hidden" name="riskManagerAccount" id="managerAccount" value="testAccount">
                    <input type="hidden" name="riskManagerId" id="managerID" value="-1">
                    <input type="hidden" name="chooseRiskManager" value="YES">
                </div>
            #end

            #if($!evaluateCompany)
                <div class="m-item">
                    <label class="m-label">评估公司：</label>
                    <input class="ui-text fn-w200" type="text" name="evaluateCompanyName" id="manager"><a region="$!evaluateCompany.code()" class="ui-btn ui-btn-fill ui-btn-blue" id="managerBtn" href="javascript: void(0);">选择</a>
                    <input type="hidden" name="evaluateCompanyId" id="managerAccount" value="-1">
                    <input type="hidden" name="evaluateCompany" value="$!evaluateCompany.code()">
                </div>
            #end
            #parse("/layout/common/audit.vm")
        #end
        
    </form>
    #parse("/layout/projectMg/afterLoanMg/timeOutProject/viewApply.vm")
    #*
    <form id="form">


        <div class="m-blank fn-mt20 fn-mb20"></div>

        <h3 class="m-h2 fn-mt20 fn-mb20">审批意见</h3>

        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div class="m-item">
            <label class="m-label">审批意见：</label>
            <textarea class="ui-textarea fn-w500" name="" id="idea"></textarea>
        </div>

        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div class="fn-tac fn-pt20 fn-pb20">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5" id="pass" type="button" value="通过">
            <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5 back" type="button" value="转回到指定人员">
            <input class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 reject" type="button" value="驳回">
        </div>

    </form>
    *#
</div>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")

<script>
    seajs.use($_GLOBAL.zyw+'/project/afcg.topj.audit');
</script>

</body>
</html>