<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
<title>授信调查报告</title>
</head>
<body>
<div>
    <div class="ui-breadcrumb">
        &nbsp;项目管理&nbsp;&gt;&nbsp;授信前管理&nbsp;&gt;&nbsp;尽职声明
    </div>
    <h2 class="m-h2-title">新增尽职调查报告</h2>
</div>
<div class="m-container border ui-bg-fff">
	<h2>尽职调查报告</h2>
    <form id="form" action="/projectMg/investigation/saveDeclare.json" edit="">
		<input type="hidden" id="amount" name="amount" value="$!info.amount" />
		<input type="hidden" id="show" name="show" value="$!show" />
		<input type="hidden" name="version" value="$!session.getAttribute("version")" id="version" />
        #parse("/projectMg/beforeLoanMg/investigation/investigationCommon2.vm")

        #parse("/projectMg/beforeLoanMg/investigation/editDeclareCommon.vm")
		<input type="hidden" id="copiedFormId" name="copiedFormId" value="0" />

        <div class="fn-tac fn-pt30 fn-pb20">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 fnNext" type="button" value="下一步" id="submit">
			#if($!projectUtil.isLitigation($!{info.busiType}) || $!projectUtil.isUnderwriting($!{info.busiType}))
			#else
            <input class="ui-btn ui-btn-submit ui-btn-blue fn-ml5 fn-mr5 fnNext relevanceBtn" type="button" value="复制历史尽职调查">
			#end
        </div>
    </form>
</div>
<script type="text/html" id="newPopupScript">
<div class="newPopup newPopupMeat">
    <dl>
        <dt><span>尽职声明</span></dt>
        <dd>
            <ul>
                <li>调查人员按照《重庆进出口信用担保有限公司尽职调查操作办法》的各项要求，根据客户提供的资料和调查人员搜集的材料，经调查、核实、分析后完成了《授信调查报告》。报告全面反映了客户最主要、最基本的信息，<b>调查人员对报告内容涉及的可能影响授信决策重大因素的真实性，准确性，完整性及所作判断的合理性负全部责任。</b></li>
                <li>本人声明：</li>
                <li class="li">
                    <label class="fn-csp fn-mr20"><input class="radio" type="radio" name="radio1" value="Y">是</label><label class="fn-csp"><input class="radio" type="radio" name="radio1" value="N">否</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与客户的主要决策人，融资负责人存在亲戚、朋友、同学或其他较密切关系的;
                </li>
                <li class="li">
                    <label class="fn-csp fn-mr20"><input class="radio" type="radio" name="radio2" value="Y">是</label><label class="fn-csp"><input class="radio" type="radio" name="radio2" value="N">否</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;曾在客户单位工作过的;
                </li>
                <li class="li">
                    <label class="fn-csp fn-mr20"><input class="radio" type="radio" name="radio3" value="Y">是</label><label class="fn-csp"><input class="radio" type="radio" name="radio3" value="N">否</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人或亲属与客户存在业务往来、资金融通等经济利益关系的.
                </li>
            </ul>
            <div class="fn-text-c">
                <a class="ui-btn ui-btn-fill ui-btn-gray fn-mt10 close"><em></em>秒后可勾选声明条款</a>
            </div>
       </dd>
   </dl>
</div>
</script>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>

<script>

    seajs.use($_GLOBAL.zyw+'/project/bfcg.itn.declare.edit');
</script>

</body>
</html>