<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
<title>担保/委贷业务项目调查（客户经营能力评价）</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;授信前管理&nbsp;&gt;&nbsp;担保/委贷业务项目调查（客户经营能力评价）
</div>
<h2 class="m-h2-title">新增尽职调查报告</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    #parse("/layout/projectMg/beforeLoanMg/investigation/tabNav.vm")

    <form class="fnStep" id="form" action="/projectMg/investigation/saveFInvestigationOpabilityReviewSubmit.htm">
		#parse("/projectMg/beforeLoanMg/investigation/investigationCommon2.vm")
		#if($!{info})
    	<input type="hidden" name="opReviewId" value="$!{info.opReviewId}" />
		#end

        <h2 class="fn-tac apply-h2 fn-mt45">四、客户经营能力评价</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
        <div class="fn-clear">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-left"><b><em class="remind">*</em>（一）客户发展战略及市场定位</b></h3>
        </div>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <div class="fn-mr20 fn-ml20">
                        <textarea class="ui-textarea2 fn-w500 fn-ml30 fnMakeUE" maxlength="9999999" name="strategyMarketpos" placeholder="请控制在10000文字之内">$!{info.strategyMarketpos}</textarea>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <div class="fn-clear">
                <h3 class="m-invndt fn-mt40 fn-ml20 fn-left"><b><em class="remind">*</em>（二）客户所在行业的宏观环境分析</b></h3>
            </div>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <div class="fn-mr20 fn-ml20">
                        <textarea class="ui-textarea2 fn-w500 fn-ml30 fnMakeUE" maxlength="9999999" name="industryEnv" placeholder="请控制在10000文字之内">$!{info.industryEnv}</textarea>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <div class="fn-clear">
                <h3 class="m-invndt fn-mt40 fn-ml20 fn-left"><b><em class="remind">*</em>（三）客户核心竞争力评价、主要竞争对手基本情况</b></h3>
            </div>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <div class="fn-mr20 fn-ml20">
                        <textarea class="ui-textarea2 fn-w500 fn-ml30 fnMakeUE" maxlength="9999999" name="competitivenessRival" placeholder="请控制在10000文字之内">$!{info.competitivenessRival}</textarea>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（四）客户主要上下游情况</b>（城投类客户根据实际情况可不填写）</h3>
            <dl class="fn-mt20">
                <dt class="fn-ml20 fn-mt20 fn-mb20">（1）客户上游情况（提示：对方名称请填全称）</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr orderName="investigationOpabilityReviewUpdownStream">
                                <th><em class="remind">*</em>对方名称</th>
                                <th><em class="remind">*</em>结算方式</th>
                                <th><em class="remind">*</em>帐期</th>
                                <th><em class="remind">*</em>期末余额（元）</th>
                                <th>备注（产品种类、合作年限等）</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="test45" class="test">
        				#if($listUtil.isNotEmpty($!{info.upStreams}))
        					#set($index = 1)
        					#foreach($item in $!{info.upStreams})
                            <tr class="fnNewLine" orderName="upStreams">
                                <td><input class="text requiredUp" type="text" name="name" value="$!{item.name}"></td>
                                <td><input class="text" type="text" name="clearingForm" value="$!{item.clearingForm}"></td>
                                <td><input class="text" type="text" name="paymentTerms" value="$!{item.paymentTerms}"></td>
                                <td class="endingBalanceStr"><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="endingBalanceStr" value="$!{item.endingBalance.toStandardString()}"></td>
                                <td><input class="text" type="text" name="remark" value="$!{item.remark}"></td>
        						###if($index <= 5)
                                ##<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        						###else
								<td class="fn-text-c"><a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除</a></td>
        						###end
                            </tr>
    						#set($index = $index + 1)
        					#end
        				#else
        					#*
							#set($five = [1..5])
							#foreach($item in $five)
                            <tr orderName="upStreams">
                                <td><input class="text requiredUp" type="text" name="name"></td>
                                <td><input class="text" type="text" name="clearingForm"></td>
                                <td><input class="text" type="text" name="paymentTerms"></td>
                                <td class="endingBalanceStr"><input class="text fnMakeMoney" type="text" name="endingBalanceStr"></td>
                                <td><input class="text" type="text" name="remark"></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
            				#end
            				*#
        				#end
                        </tbody>

                        <tbody #if(!$listUtil.isNotEmpty($!{info.upStreams})) class="fn-hide" #end>
                            <tr>
                                <td class="fn-text-c">合计</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="endingBalanceStr">
									$!{info.totalUpBalance.toStandardString()}
								</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>

                    </table>
                </dd>
            </dl>
            <a class="ui-btn ui-btn-fill ui-btn-green fnAddLine fn-ml30 fn-mt20 fnAddLineStater" tplID="t-test45" cttID="test45"><i class="icon icon-add"></i>增加一行</a>
            <script type="text/html" id="t-test45">
                <tr class="fnNewLine" orderName="upStreams">
                    <td><input class="text requiredUp" type="text" name="name"></td>
                    <td><input class="text" type="text" name="clearingForm"></td>
                    <td><input class="text" type="text" name="paymentTerms"></td>
                    <td class="endingBalanceStr"><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="endingBalanceStr"></td>
                    <td><input class="text" type="text" name="remark"></td>
                    <td class="fn-text-c"><a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除</a></td>
                </tr>
            </script>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">备注：</dt>
                <dd class="fn-p-reb">
                     <div class="fn-mr20 fn-ml20">
                        <textarea class="ui-textarea2 fn-w500 fn-ml30 fnMakeUE" maxlength="9999999" name="upDesc" placeholder="请控制在10000文字之内">$!{info.upDesc}</textarea>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            ##<h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（五）客户主要下游情况</b>（城投类客户根据实际情况可不填写）</h3>
           <dl class="fn-mt20">
                <dt class="fn-ml20 fn-mt20 fn-mb20">（2）客户下游情况（提示：对方名称请填全称）</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr orderName="investigationOpabilityReviewUpdownStream">
                                <th><em class="remind">*</em>对方名称</th>
                                <th><em class="remind">*</em>结算方式</th>
                                <th><em class="remind">*</em>帐期</th>
                                <th><em class="remind">*</em>期末余额（元）</th>
                                <th>备注（产品种类、合作年限等）</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="test46" class="test">
        				#if($listUtil.isNotEmpty($!{info.downStreams}))
        					#set($index = 1)
        					#foreach($item in $!{info.downStreams})
                            <tr class="fnNewLine" orderName="downStreams">
                                <td><input class="text requiredUp" type="text" name="name" value="$!{item.name}"></td>
                                <td><input class="text" type="text" name="clearingForm" value="$!{item.clearingForm}"></td>
                                <td><input class="text" type="text" name="paymentTerms" value="$!{item.paymentTerms}"></td>
                                <td class="endingBalanceStr"><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="endingBalanceStr" value="$!{item.endingBalance.toStandardString()}"></td>
                                <td><input class="text" type="text" name="remark" value="$!{item.remark}"></td>
        						###if($index <= 5)
                                ##<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        						###else
								<td class="fn-text-c"><a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除</a></td>
        						###end
                            </tr>
    						#set($index = $index + 1)
        					#end
        				#else
        					#*
							#set($five = [1..5])
							#foreach($item in $five)
                            <tr orderName="downStreams">
                                <td><input class="text requiredUp" type="text" name="name"></td>
                                <td><input class="text" type="text" name="clearingForm"></td>
                                <td><input class="text" type="text" name="paymentTerms"></td>
                                <td class="endingBalanceStr"><input class="text fnMakeMoney" type="text" name="endingBalanceStr"></td>
                                <td><input class="text" type="text" name="remark"></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
            				#end
            				*#
        				#end
                        </tbody>
                        <tbody #if(!$listUtil.isNotEmpty($!{info.downStreams})) class="fn-hide" #end>
                            <tr>
                                <td class="fn-text-c">合计</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="endingBalanceStr">
									$!{info.totalDownBalance.toStandardString()}
								</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <a class="ui-btn ui-btn-fill ui-btn-green fnAddLine fn-ml30 fn-mt20 fnAddLineStater" tplID="t-test46" cttID="test46"><i class="icon icon-add"></i>增加一行</a>
            <script type="text/html" id="t-test46">
                <tr class="fnNewLine" orderName="downStreams">
                    <td><input class="text requiredUp" type="text" name="name"></td>
                    <td><input class="text" type="text" name="clearingForm"></td>
                    <td><input class="text" type="text" name="paymentTerms"></td>
                    <td class="endingBalanceStr"><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="endingBalanceStr"></td>
                    <td><input class="text" type="text" name="remark"></td>
                    <td class="fn-text-c"><a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除</a></td>
                </tr>
            </script>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">备注：</dt>
                <dd class="fn-p-reb">
                     <div class="fn-mr20 fn-ml20">
                        <textarea class="ui-textarea2 fn-w500 fn-ml30 fnMakeUE" maxlength="9999999" name="downDesc" placeholder="请控制在10000文字之内">$!{info.downDesc}</textarea>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（五）客户主要产品结构</b>（城投类客户根据实际情况可不填写）</h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
							#set($reportPeriod1 = "")
							#set($reportPeriod2 = "")
							#set($reportPeriod3 = "")
							#if($listUtil.isNotEmpty($!{info.productStructures}))
            					#set($index = 1)
            					#foreach($item in $!{info.productStructures})
									#if($index == 1)
										#set($reportPeriod1 = $!{item.reportPeriod1})
            							#set($reportPeriod2 = $!{item.reportPeriod2})
            							#set($reportPeriod3 = $!{item.reportPeriod3})
									#end
								#end
							#end
                            <tr orderName="productStructures">
                                <th rowspan="2">主要产品</th>
                                <th colspan="2"><input class="text laydate-icon" type="text" id="id" name="reportPeriod1" value="$!{reportPeriod1}"  placeholder="报告期（XXX年X月）"></th>
                                <th colspan="2"><input class="text laydate-icon" type="text" name="reportPeriod2" value="$!{reportPeriod2}"  placeholder="XXX年（上一年)" readonly></th>
                                <th colspan="2"><input class="text laydate-icon" type="text" name="reportPeriod3" value="$!{reportPeriod3}"  placeholder="XXX年（上二年)" readonly></th>
                                <th rowspan="2">操作</th>
                            </tr>
                            <tr>
                                <th>收入（元）</th>
                                <th>占比（%）</th>
                                <th>收入（元）</th>
                                <th>占比（%）</th>
                                <th>收入（元）</th>
                                <th>占比（%）</th>
                            </tr>
                        </thead>
                        <tbody id="test1">
        				#if($listUtil.isNotEmpty($!{info.productStructures}))
        					#set($index = 1)
        					#foreach($item in $!{info.productStructures})
                            <tr orderName="productStructures" class="fnNewLine">
                                <td><input class="text" type="text" name="name" value="$!{item.name}"></td>
                                <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="income1Str" value="$!{item.income1.toStandardString()}"></td>
                                <td><input class="text" type="text" name="incomeRatio1" value="$!rateUtil.formatRate($!{item.incomeRatio1})"></td>
                                <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="income2Str" value="$!{item.income2.toStandardString()}"></td>
                                <td><input class="text" type="text" name="incomeRatio2" value="$!rateUtil.formatRate($!{item.incomeRatio2})"></td>
                                <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="income3Str" value="$!{item.income3.toStandardString()}"></td>
                                <td><input class="text" type="text" name="incomeRatio3" value="$!rateUtil.formatRate($!{item.incomeRatio3})"></td>
        						#if($index == 1)
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        						#else
								<td class="fn-text-c"><a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除</a></td>
        						#end
                            </tr>
        						#set($index = $index + 1)
        					#end
        				#else
                            <tr orderName="productStructures">
                                <td><input class="text" type="text" name="name"></td>
                                <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="income1Str"></td>
                                <td><input class="text" type="text" name="incomeRatio1"></td>
                                <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="income2Str"></td>
                                <td><input class="text" type="text" name="incomeRatio2"></td>
                                <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="income3Str"></td>
                                <td><input class="text" type="text" name="incomeRatio3"></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
        				#end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <a class="ui-btn ui-btn-fill ui-btn-green fnAddLine fn-ml30 fn-mt20" tplID="t-test1" cttID="test1"><i class="icon icon-add"></i>增加一行</a>
            <script type="text/html" id="t-test1">
                <tr class="fnNewLine" orderName="productStructures">
                    <td><input class="text" type="text" name="name"></td>
                    <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="income1Str"></td>
                    <td><input class="text" type="text" name="incomeRatio1"></td>
                    <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="income2Str"></td>
                    <td><input class="text" type="text" name="incomeRatio2"></td>
                    <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="income3Str"></td>
                    <td><input class="text" type="text" name="incomeRatio3"></td>
                    <td class="fn-text-c"><a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除</a></td>
                </tr>
            </script>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">解释与说明：</dt>
                <dd class="fn-p-reb">
                     <div class="fn-mr20 fn-ml20">
                        <textarea class="ui-textarea2 fn-w500 fn-ml30 fnMakeUE" maxlength="9999999" name="explaination" placeholder="请控制在10000文字之内">$!{info.explaination}</textarea>
                    </div>
                </dd>
            </dl>
        </div>
		
		<div class="m-blank fn-mt20 fn-mb20"></div>
		<div class="fn-mt20 fn-ml30 fnUpAttach fnChangeApply">
		    <label class="fnChangeLabel fn-hide">上传附件</label>
		    <label class="m-label">上传附件：</label>
		    #set($attachmentTitle="上传附件")
		    #set($attachmentNameAttr="pathName_FORM_ATTACH")
		    #set($hiddenUrls = "")
		    #set($hiddenUrls = $!{hiddenUrls_FORM_ATTACH})
		    #set($attachments = "")
		    #set($attachments = $!{attaches_FORM_ATTACH})
		    #parse("/layout/common/uploadAttachment.vm")
		</div>		
        #parse("/projectMg/beforeLoanMg/investigation/editBaseButton.vm")
    </form>

</div>

    

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
#parse("/layout/common/commonue.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/project/bfcg.itn.edit.base3');
</script>

</body>
</html>