<ul class="ui-tool">
    <li>
        <a href="/x" id="saveAll">历史</a>
    </li>
    <li>
        <a href="javascript:scrollTo(0,0);">∧</a>
    </li>
</ul>

<h3 class="m-h2 fn-mt20 fn-mb20">基本信息</h3>

<div class="m-blank fn-mt20 fn-mb20"></div>

<div class="fn-clear">
    
    <div class="m-item m-item-half fn-left">
        <label class="m-label">项目编号：</label>
        <input type="hidden" name="projectCode" id="projectCode">
    </div>

    <div class="m-item m-item-half fn-left">
        <label class="m-label">客户名称：</label>
        <span id="customerName"></span>
    </div>

</div>

<div class="fn-clear">
    
    <div class="m-item m-item-half fn-left">
        <label class="m-label">项目名称：</label>
        <span id="projectName"></span>
    </div>

    <div class="m-item m-item-half fn-left">
        <label class="m-label">合同编号：</label>
        <span id="contractNumber"></span>
    </div>

</div>

<div class="m-blank fn-mt20 fn-mb20"></div>

<h3 class="m-h2 fn-mt20 fn-mb20">业务信息</h3>

<div class="m-blank fn-mt20 fn-mb20"></div>

<div class="fn-clear">
    
    <div class="m-item m-item-half fn-left">
        <label class="m-label">授信类型：</label>
        <span id="creditType"></span>
    </div>

    <div class="m-item m-item-half fn-left">
        <label class="m-label">担保期间：</label>
        <span id="guarantyPeriodStart"></span> - <span id="guarantyPeriodEnd"></span>
    </div>

</div>

<div class="fn-clear">
    
    <div class="m-item m-item-half fn-left">
        <label class="m-label">融资机构：</label>
        <span id="agencies"></span>
    </div>

    <div class="m-item m-item-half fn-left">
        <label class="m-label">担保金额：</label>
        <span id="amount"></span>
    </div>

</div>

<div class="m-blank fn-mt20 fn-mb20"></div>

<h3 class="m-h2 fn-mt20 fn-mb20">收费信息</h3>

<div class="m-blank fn-mt20 fn-mb20"></div>

<table class="m-table fn-tac">
    <thead>
        <tr>
            <th>收费种类</th>
            <th width="100">实际收费基数（万元）</th>
            <th width="80">收费费率（%）</th>
            <th width="220">计费期间</th>
            <th width="80">收费金额（元）</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>测试</td>
            <td>实际收费基数</td>
            <td>收费费率</td>
            <td>
                23232323-23232323
            </td>
            <td>收费金额</td>
        </tr>
    </tbody>
</table>

<div class="m-blank fn-mt20 fn-mb20"></div>

<div class="m-item">
    <label class="m-label">备注：</label>
    备注备注备注备注备注备注
</div>

<div class="m-blank fn-mt20 fn-mb20"></div>

<h3 class="m-h2 fn-mt20 fn-mb20">付款方信息<span class="fn-ml20 add-notice-subtitle">当付款方为代付时，<strong>请务必填正确的代付方信息</strong>，方便财务确认收费情况。</span></h3>

<div class="m-blank fn-mt20 fn-mb20"></div>

<div class="m-item">
    <label class="m-label">付款方户名：</label>
    付款方户名
</div>

<div class="m-item">
    <label class="m-label">付款方银行：</label>
    付款方银行付款方银行付款方银行
</div>

<div class="m-item">
    <label class="m-label">付款方账号：</label>
    付款方账号付款方账号付款方账号
</div>