<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
<title>支付明细表</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;资金管理&nbsp;&gt;&nbsp;报表分析&nbsp;&gt;&nbsp;支付明细表
</div>


<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    <form class="fnStep" action="/fundMg/report/accountPay.htm" method="POST" id="fnListSearchForm">

		
		<input type='hidden' name='billNos' value='$!billNos'>
		
        <h2 class="fn-tac apply-h2 fn-mt45">支付明细表</h2>

        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div class="m-search fn-clear">
			#*
            <div class="item">
                报表期间
                <input class="ui-text fn-w90 laydate-icon birth" type="text" name="period" value="$!period">
                <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-gray fnListSearchClear">清除</a>
            </div>
			*#
            <div class="item fnListSearchDateItem">
                申请日期起止
                <input class="ui-text fn-w90 laydate-icon fnListSearchDateS" type="text" name="applyTimeStart" value="$!conditions.applyTimeStart" onclick="laydate()">
                 -
                <input class="ui-text fn-w90 laydate-icon fnListSearchDateE" type="text" name="applyTimeEnd" value="$!conditions.applyTimeEnd" onclick="laydate()">
            </div>
            <div class="item">
                费用种类
                #*
                 <select class="ui-select fn-w90" name="expenseType">
                    <option value="">全部</option>
                            #foreach($!item in $!costCategorys)
                    <option value="$!item.categoryId" #if($!item.categoryId == $!conditions.expenseType) selected #end  >$!item.name</option>
                    #end
                </select>
                *#
                <input type='hidden' class="expenseType" name="expenseType" value="$!expenseType" />
                <input type="text" class="ui-text fn-w150 expenseName" name="expenseName" value="$!expenseName" readonly>
                <a class="ui-btn ui-btn-fill ui-btn-blue expenseTypeBtn">选择</a>
                <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-gray fnListSearchClear">清除</a>
                <input type='hidden' id="costCategorysJson" value="$!costCategorysJson" />
            </div>
            <div class="item">
                费用方向
                <select class="ui-select fn-w90" name="direction">
                    <option value="">全部</option>
                    <option value="PUBLIC" #if("PUBLIC" == $!conditions.direction) selected #end  >对公</option>
                    <option value="PRIVATE" #if("PRIVATE" == $!conditions.direction) selected #end >对私</option>
                    <option value="officialCard" #if("officialCard" == $!conditions.direction) selected #end >公务卡支付</option>
                </select>
            </div>

            <div class="item">
                单据状态
                <select class="ui-select fn-w90" name="accountStatus">
                    <option value="" selected>全部</option>
                    <option value="DRAFT" #if("DRAFT" == $!conditions.accountStatus.code) selected #end  >草稿</option>
                    <option value="CHECKING" #if("CHECKING" == $!conditions.accountStatus.code) selected #end  >审核中</option>
                    <option value="WAIT_PAY" #if("WAIT_PAY" == $!conditions.accountStatus.code) selected #end  >待付款</option>
                    <option value="PAYED" #if("PAYED" == $!conditions.accountStatus.code) selected #end  >已完成</option>
					<option #if("END"==$!conditions.accountStatus.code)  #end value="END">作废</option>
                </select>
            </div>

            <div class="item">
                报销部门
                <input class="ui-text fn-w90 fnListSearchOrgName" type="text" name="deptName" value="$!conditions.deptName" readonly>
                <input type="hidden" name="expenseDeptId" class="fnListSearchOrgId">
                <a class="ui-btn ui-btn-fill ui-btn-blue fnListSearchOrgChoose" single="true">选择</a>
                <a class="ui-btn ui-btn-fill ui-btn-gray fnListSearchClear">清除</a>
            </div>

            <div class="item">
                经办人
                <input class="ui-text fn-w90 fnListSearchUserName" type="text" name="agent" value="$!conditions.agent" readonly>
                <input type="hidden" name="agentId" value='$!conditions.agentId' class="fnListSearchUserId">
                <input type="hidden" name="" class="fnListSearchUserAccount">
                <a class="ui-btn ui-btn-fill ui-btn-blue fnListSearchUserChoose" single="true">选择</a>
                <a class="ui-btn ui-btn-fill ui-btn-gray fnListSearchClear">清除</a>
            </div>

            <div class="item fnListSearchDateItem">
                过账时间
                <input class="ui-text fn-w90 laydate-icon fnListSearchDateE" type="text" name="voucherSyncFinishTimeStart" value="$!conditions.voucherSyncFinishTimeStart" onclick="laydate()">
                -
                <input class="ui-text fn-w90 laydate-icon fnListSearchDateE" type="text" name="voucherSyncFinishTimeEnd" value="$!conditions.voucherSyncFinishTimeEnd" onclick="laydate()">
            </div>

            <div class="item">
                金额
                <input class="ui-text fn-w90 fnMakeMoney fnMakeMicrometer" type="text" name="amountStart" value="$!conditions.amountStart.toStandardString()">
                -
                <input class="ui-text fn-w90 fnMakeMoney fnMakeMicrometer" type="text" name="amountEnd" value="$!conditions.amountEnd.toStandardString()">
            </div>

            <div class="item">
                收款人
                <input class="ui-text fn-w90" type="text" name="payee" value="$!conditions.payee">
            </div>

            <div class="item">
                银行账户
                <input class="ui-text fn-w90" type="text" name="bankAccount" value="$!conditions.bankAccount">
            </div>

            <div class="item">
                事由
                <input class="ui-text fn-w90" type="text" name="reason" value="$!conditions.reason">
            </div>

            <div class="item">
                凭证号
                <input class="ui-text fn-w90" type="text" name="voucherNo" value="$!conditions.voucherNo">
            </div>

            <div class="item">
                单据编号
                <input class="ui-text fn-w90" type="text" name="billNo" value="$!conditions.billNo">
            </div>

            <div class="item">
                <a class="ui-btn ui-btn-fill ui-btn-seek" id="fnListSearchBtn">搜索</a>
                &nbsp;&nbsp;&nbsp;<a exportUrl="/fundMg/report/accountPayExport.htm" id="fnListExport" class="ui-btn ui-btn-fill ui-btn-danger">导出</a>
                &nbsp;&nbsp;&nbsp;<a href="/fundMg/report/accountPayPrint.htm?billNo=$!billNos" target="_blank" class="ui-btn ui-btn-fill ui-btn-blue">打印</a>
                &nbsp;&nbsp;&nbsp;<a href="javascript:;"  class="ui-btn ui-btn-fill ui-btn-green specSortcolA"  >过账时间和凭证号组合排序</a>
            </div>

        </div>

    ## search end

        <div class="fn-p15">
            <table class="m-table m-table-list fn-tac" id="list">
                <thead>
                    <tr id="fnListSearchTh" >
                        <th class="onbreaks">报销单号</th>
                        <th class="onbreaks" sortcol="voucher_no" >凭证号</th>
                        <th class="onbreaks">事由</th>
                        <th class="onbreaks">报销人</th>
                        <th class="onbreaks">部门</th>
                        <th class="onbreaks">收款人</th>
                        <th class="onbreaks">开户行</th>
                        <th class="onbreaks">帐号</th>
                        <th class="onbreaks">费用方向</th>
                        <th class="onbreaks">费用类型</th>
                        <th class="onbreaks">金额（元）</th>
                        <th class="onbreaks">申请时间</th>
                        <th class="onbreaks">审核通过时间</th>
                        <th class="onbreaks">单据状态</th>
                        <th class="onbreaks">待打款时间</th>
						## 过账号和凭证号组合排序时 sortcol="voucher_sync_finish_time,voucher_no" 
                        <th class="onbreaks"  sortcol="voucher_sync_finish_time" >过账时间</th>
                        <th class="onbreaks">操作</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach($!page in $!pages)
                        <tr>
                            #foreach($!item in $!page)
								#if($!velocityCount == $!page.size())
									<td class="fn-text-c"><a href="/fundMg/report/accountPayPrint.htm?id=$!item" target="_blank" >打印</a></td>
								#else
									
									<td class="fn-text-c">$!item</td>
								#end
							#end
							 
                        </tr>
                    #end
                </tbody>
                #if($!pages.size() > 0)
                    <tbody>
                        <tr>
                            <td class="fn-font-b2">合计</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td class="fn-text-c">$!all.toStandardString()</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    </tbody>
                #else
                    <tbody>
                        <tr>
                           <td class="fn-tac" colspan="16">暂无数据</td>
                        </tr>
                    </tbody>
                #end
            </table>
            <input type="hidden" id="fnPageNumber">
            ## #parse("/layout/common/pages.vm")
			## 排序
    <input type="hidden" name="sortOrder" value="$!conditions.sortOrder" id="fnSortOrder">
    <input type="hidden" name="sortCol" value="$!conditions.sortCol" id="fnSortCol">
        </div>

    </form>

</div>

<script type="text/html" id="Script">
    <div class="newPopup" style="width: 500px;">
        <span class="close">×</span>
        <dl>
            <dt><span>请选择费用种类</span></dt>
            <dd class="fn-mt10">
              <div class="overflowY1">
                <table class="m-table" border="1">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>费用种类</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{each list as value i}}
                          <tr>
                              <td class="fn-text-c"><input type="checkbox" value="{{value.id}}" valName="{{value.name}}"></td>
                              <td class="fn-text-c">{{value.name}}</td>
                          </tr>
                        {{/each}}
                    </tbody>
                </table>
              </div>
              <div class="fn-mt10 fn-text-c">
                <a class="ui-btn ui-btn-fill ui-btn-fill-big ui-btn-blue confirm">确定</a>
              </div>
            </dd>
        </dl>
    </div>
</script>


#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")

<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/fund/fme.rae.payDetail.js');
</script>

</body>
</html>