<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    #parse("/layout/common/head.vm")
    ## <link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
    <title>项目保证金利息计提表</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;资金管理&nbsp;&gt;&nbsp;报表分析&nbsp;&gt;&nbsp;#if($!isOut)存出保证金利息计提表#else存入保证金利息计提表#end
</div>


<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">
    <form class="fnStep" action="#if($!isOut)/fundMg/report/projectDepositPaidInterest.htm#else/fundMg/report/projectDepositInterest.htm#end" method="post" id="fnListSearchForm">
        <h2 class="fn-tac apply-h2 fn-mt45">#if($!isOut)存出保证金利息计提表#else存入保证金利息计提表#end</h2>

        <div class="m-search fn-clear fnListSearchDateItem">

            <div class="item">
                项目名称
                <input class="ui-text fn-w90" type="text" name="projectName" value="$!queryOrder.projectName">
            </div>
            <div class="item">
                客户名称
                <input class="ui-text fn-w90" type="text" name="customerName" value="$!queryOrder.customerName">
            </div>
            <div class="item">
                业务品种
                <input class="ui-text fn-w90" type="text" name="busiTypeName" value="$!busiTypeName" id="businessTypeName" readonly="readonly">
                <input type="hidden" name="busiType" value="$!queryOrder.busiType" id="businessTypeCode">
                <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-blue" id="businessTypeBtn">选择</a>
                <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-gray fnListSearchClear">清除</a>
            </div>
            <div class="item">
                业务部门
                <input class="fnOrgId" type='hidden' name='deptId' value='$!queryOrder.deptId' />
                <input class="ui-text fn-w90 fnOrgName borrowRemind" type="text" name="deptName" value="$!queryOrder.deptName" readonly>
                <a class="ui-btn ui-btn-fill ui-btn-blue creditorBtn">选择</a>
                <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-gray fnListSearchClear">清除</a>
            </div>
            <div class="item">
                客户经理
                <input type="text" class="ui-text fn-w90 limitHandleName" id="handleName" readonly="readonly" name="busiManagerName" value="$!queryOrder.busiManagerName">
                <input class="text" type="hidden" name="busiManagerId" id="handleNameID" value="$!queryOrder.busiManagerId">
                <input class="text" type="hidden" name="busiManagerAccount" id="handleAcc" value="$!queryOrder.busiManagerAccount">
                <a class="ui-btn ui-btn-fill ui-btn-blue" id="handleNameBtn">选择</a>
                <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-gray fnListSearchClear">清除</a>
            </div>

            <div class="item">
                起止时间
                <input class="ui-text fn-w90 laydate-icon DayTime fnListSearchDateS" type="text" name="startTime" value="$!dateUtil.dtSimpleFormat($!queryOrder.startTime)" onclick="laydate()">
                -
                <input class="ui-text fn-w90 laydate-icon toTime fnListSearchDateE" type="text" name="endTime" value="$!dateUtil.dtSimpleFormat($!queryOrder.endTime)" onclick="laydate()">
            </div>

            <div class="item">
                <input class="ui-btn ui-btn-fill ui-btn-seek" value="搜索" id="fnListSearchBtn" type="submit">
                <input exportUrl='#if($!isOut)/fundMg/report/projectDepositPaidInterestExport.htm#else/fundMg/report/projectDepositInterestExport.htm#end' id="fnListExport" class="ui-btn ui-btn-fill ui-btn-danger fn-mr30" value="导出" type="button">
            </div>

        </div>

        <div class="fn-pl15 fn-pr15 fn-mb20 fn-mt20 screen">
            <a class="ui-btn ui-btn-fill ui-btn-green #if('thisMonth'==$!selectType) ui-btn-danger #end " code="thisMonth">本月</a>
            <a class="ui-btn ui-btn-fill ui-btn-green #if('thisSeason'==$!selectType) ui-btn-danger #end " code="thisSeason">本季</a>
            <a class="ui-btn ui-btn-fill ui-btn-green #if('thisYear'==$!selectType) ui-btn-danger #end " code="thisYear">本年</a>
            <input type="hidden" name="selectType" value="$!selectType" >##筛选hidden
        </div>
        <div class="m-invn fn-mb20 fn-ml15 fn-mr15 fn-mt20">
            <table class="m-table m-table-list fn-tac" id="list">
                <thead>
                    <tr>
                        <th>项目编码</th>
                        <th>项目名称</th>
                        <th>客户名称</th>
                        <th>业务品种</th>
                        <th>客户经理</th>
                        <th>部门</th>
                        <th width="80px">#if($!isOut)保证金存出时间#else保证金收取时间#end</th>
                        <th>#if($!isOut)保证金存出金额(元)#else 保证金存入金额(元)#end</th>
                        <th>保证金剩余金额(元)</th>
                        <th>保证金利率(%/年)</th>
                        <th>保证金期限</th>
                        <th width="80px">保证金计提利息(元)</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach($!page in $!pages)
                    <tr>
                        #foreach($!item in $!page)
                            <td class="fn-text-c">$!item</td>
                        #end
                    </tr>
                    #end
                    #if($!all)
                    <tr>
                        <td class="fn-font-b2" colspan="7">合计</td>
                        <td class="fn-text-c">$!all</td>
                        <td class="fn-text-c">$!leftAmountAll</td>
                        <td></td>
                        <td></td>
                        <td>$!accruedInterestAll</td>
                    </tr>
                    #else
                    <tr>
                        <td colspan="12"><p class="fn-tac fn-fs20">暂无数据</p></td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
    </form>
</div>
<input type="hidden" id="fnPageNumber">

    #parse("/layout/common/footer.vm")
    #parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/fund/fme.rae.projectCashDepositDetail.js');
</script>
</body>
</html>