<dl>
    <dt></dt>
    <dd>
        <table class="m-table" border="1">

            <thead>
                <tr>
                    <th class="fn-font-b1 fn-text-c">二级指标</th>
                    <th class="fn-font-b1 fn-text-c" colspan="2">评分标准</th>
                    <th class="fn-font-b1 fn-text-c">得分</th>
                    <th class="fn-font-b1 fn-text-c">计算公式</th>
                    <th class="fn-font-b1 fn-text-c">操作</th>
                </tr>
            </thead>

            <tbody id="test">
			#if($!page.size()  > 0)
				#foreach($info in $page)
                <tr orderName="evaluatingBaseSet">
                    <td class="fn-text-c demandMerge addDemand">
                        <div class="headmanCover">
                            <i class = "xlsTop fn-p-abs"></i>
                            <i class = "xlsLeft fn-p-abs"></i>
                            <i class = "xlsRight fn-p-abs"></i>
                            <i class = "xlsBottom fn-p-abs"></i>
                        </div>
					##----------- 隐藏域 上级指标信息  每条信息必须带上--------------------------
						<input class="text cancel" type="hidden" name="level1Name" value="$!{info.level1Name}">$!{info.level1Name}-$!{info.level2Name}
						<input type="hidden" name="level1Id" value="$!{info.level1Id}">
						<input type="hidden" name="level1Description" value="$!{info.level1Description}">
						<input type="hidden" name="level1Score" value="$!{info.level1Score}" class="maxScore">
						<input type="hidden" name="level2Id" value="$!{info.level2Id}">
						<input type="hidden" name="level2Name" value="$!{info.level2Name}">
						<input type="hidden" name="level2Description" value="$!{info.level2Description}">
						<input type="hidden" name="compareMethod" value="$!{info.compareMethod}">
						<input type="hidden" name="level2Score" value="$!{info.level2Score}" class="level2Score">
						<input type="hidden" name="evaluatingContent" value="$!{info.evaluatingContent}">

						##　当前指标等级
						<input type="hidden" name="level" value="3">
						<input type="hidden" name="type" value="$!{type}">
						<input type="hidden" name="id" value="$!{info.id}">
					##--------------------------------------------------------------------
                    </td>
                    <td class="fn-text-c">
                        <select class="text" type="text" name="compareMethod2">
							<option value="">请选择</option>
						   #set($thisValue = "$!{info.compareMethod}")
						   #parse("/layout/customerMg/clientRate/compar.vm")
                        </select>
                    </td>
                    <td class="fn-text-c"><input class="text" type="text" name="compareStandardValue" value="$!{info.compareStandardValue}"></td>
                    <td class="fn-text-c"><input class="text score" type="text" name="level3Score" value="$!{info.level3Score}"></td>
                    <td class="fn-text-c"><input class="text" type="text" name="calculatingFormula" value="$!{info.calculatingFormula}"></td>
                    <td class="fn-text-c">
                        <a class="fn-999 removeDemand" href="javascript:void(0);">删除行</a>
                    </td>
                </tr>
               #end
			#end

            </tbody>

            <script type="text/html" id="addList">
                <tr orderName="evaluatingBaseSet">
                    <td class="fn-text-c demandMerge addDemand">
                        <div class="headmanCover">
                            <i class = "xlsTop fn-p-abs"></i>
                            <i class = "xlsLeft fn-p-abs"></i>
                            <i class = "xlsRight fn-p-abs"></i>
                            <i class = "xlsBottom fn-p-abs"></i>
                        </div>
					##----------- 隐藏域 上级指标信息  每条信息必须带上--------------------------
						<input class="text cancel" type="hidden" name="level1Name" value="$!{info.level1Name}">$!{info.level1Name}-$!{info.level2Name}
						<input type="hidden" name="level1Id">
						<input type="hidden" name="level1Description">
						<input type="hidden" name="level1Score" class="maxScore">
						<input type="hidden" name="level2Id">
						<input type="hidden" name="level2Name">
						<input type="hidden" name="level2Description">
						<input type="hidden" name="compareMethod">
						<input type="hidden" name="level2Score">
						<input type="hidden" name="evaluatingContent">
						##　当前指标等级
						<input type="hidden" name="level">
						<input type="hidden" name="type">
					##--------------------------------------------------------------------
                    </td>
                    <td class="fn-text-c">
                        <select class="text" type="text" name="compareMethod2">
                            <option value="">请选择</option>
							#foreach($symble in $!{comSymbl_gy})	
							<option value="$symble.value" #if($!{info.compareMethod2} == $symble.value) selected="true" #end>$symble.text</option>
							#end
                        </select>
                    </td>
                    <td class="fn-text-c"><input class="text" type="text" name="level3Name"></td>
                    <td class="fn-text-c"><input class="text score" type="text" name="level3Score"></td>
                    <td class="fn-text-c"><input class="text" type="text" name="calculatingFormula"></td>
                    <td class="fn-text-c">
                        <a class="fn-999 removeDemand" href="javascript:void(0);">删除行</a>
                    </td>
                </tr>
            </script>

        </table>
    </dd>
</dl>