<div class="fn-mb20 fn-mt30 fn-ml30 apply-step apply-step-finance" id="step" formId="$!form.formId">
    <ul class="ul fn-clear">

        <li tabId="CW_ZH" class="item icon-s1 #if($!{type} == 'CW_ZH') active #end">
        	<a href="javascript:void(0);">
	            <i class="icon"></i>
	            <p>综合类</p>
	            <div class="step-line"></div>
	            <div class="step-line2"></div>
            </a>
        </li>
		<li tabId="CW_GY" class="item icon-s2 #if($!{type} == 'CW_GY') active #end">
        	<a href="javascript:void(0);">
	            <i class="icon"></i>
	            <p>工业类</p>
	            <div class="step-line"></div>
	            <div class="step-line2"></div>
            </a>
        </li>
	     <li tabId="CW_NY" class="item icon-s3 #if($!{type} == 'CW_NY') active #end">
        	<a href="javascript:void(0);">
	            <i class="icon"></i>
	            <p>农业类</p>
	            <div class="step-line"></div>
	            <div class="step-line2"></div>
            </a>
        </li>
		<li tabId="CW_SM" class="item icon-s4 #if($!{type} == 'CW_SM') active #end">
        	<a href="javascript:void(0);">
	            <i class="icon"></i>
	            <p>商贸类</p>
	            <div class="step-line"></div>
	            <div class="step-line2"></div>
            </a>
        </li>
		<li tabId="CW_JA" class="item icon-s5 #if($!{type} == 'CW_JA') active #end">
        	<a href="javascript:void(0);">
	            <i class="icon"></i>
	            <p>建安类</p>
	            <div class="step-line"></div>
	            <div class="step-line2"></div>
            </a>
        </li>
		<li tabId="CW_JT" class="item icon-s6 #if($!{type} == 'CW_JT') active #end">
        	<a href="javascript:void(0);">
	            <i class="icon"></i>
	            <p>交通运输类</p>
	            <div class="step-line"></div>
	            <div class="step-line2"></div>
            </a>
        </li>
		 <li tabId="CW_FC" class="item icon-s7 #if($!{type} == 'CW_FC') active #end">
        	<a href="javascript:void(0);">
	            <i class="icon"></i>
	            <p>房产开发类</p>
	            <div class="step-line"></div>
	            <div class="step-line2"></div>
            </a>
        </li>

    </ul>
</div>