<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project1.css" rel="stylesheet">
<title>上会申报记录</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;项目管理&nbsp;&gt;&nbsp;风险管控&nbsp;&gt;&nbsp;上会申报记录
</div>

<form class="m-main border ui-bg-fff" action="/projectMg/riskHandle/list.htm" id="fnListSearchForm" method="POST">

    ## search start

    <div class="m-search fn-clear">

        <div class="item">
            客户名称
            <input class="ui-text fn-w90" type="text" name="customerName" value="$!queryConditions.customerName">
        </div>


        <div class="item">
            申报类别
            <select class="ui-select fn-w160" name="isRepay">
                <option value="">请选择申报类别</option>
                <option value="Y" #if($!queryConditions.isRepay=="Y") selected="selected" #end>代偿</option>
                <option value="N" #if($!queryConditions.isRepay=="N") selected="selected" #end>非代偿</option>
            </select>
        </div>

        <div class="item">
            审批状态
            <select class="ui-select fn-w100" name="formStatus">
                <option value="">全部</option>
                <option value="DRAFT" #if($!queryConditions.formStatus=="DRAFT") selected="selected" #end >草稿</option>
                <option value="SUBMIT" #if($!queryConditions.formStatus=="SUBMIT") selected="selected" #end >待审核</option>
                <option value="CANCEL" #if($!queryConditions.formStatus=="CANCEL") selected="selected" #end >已撤销</option>
                <option value="AUDITING" #if($!queryConditions.formStatus=="AUDITING") selected="selected" #end >审核中</option>
                <option value="BACK" #if($!queryConditions.formStatus=="BACK") selected="selected" #end >驳回</option>
                <option value="APPROVAL" #if($!queryConditions.formStatus=="APPROVAL") selected="selected" #end >审核通过</option>
            </select>
        </div>

        <div class="item">
            <a class="ui-btn ui-btn-fill ui-btn-seek" id="fnListSearchBtn">搜索</a>
        </div>

    </div>

    ## search end

    <div class="m-modal-box fn-hide" id="fnNewC">
        <div class="m-modal-overlay"></div>
        <div class="m-modal apply-org" style="width:550px;margin-left:-276px;height:300px;margin-top:-151px;">
            <div class="apply-org-hd"><span class="fn-usn fn-csp fn-right close">&times;</span>选择申报类别</div>
            <div class="apply-org-body fn-tac">
                <div class="fn-blank20 fn-mb20"></div>
                <div class="fn-blank20 fn-mb20"></div>
                <a href="/projectMg/riskHandle/edit.htm?isRepay=Y" class="ui-btn ui-btn-submit ui-btn-next fn-mr10">代偿上会</a>
                <a href="/projectMg/riskHandle/edit.htm" class="ui-btn ui-btn-submit ui-btn-cancel fn-ml10">非代偿上会</a>
            </div>
        </div>
    </div>

    <div class="fn-pl15 fn-pr15">
        
        <div class="fn-mb20 fn-mt20">
            #if($!dataPermissionUtil.isBusiManager() || $!dataPermissionUtil.isLegalManager() || $!dataPermissionUtil.isRiskManager())
                <a class="ui-btn ui-btn-fill ui-btn-green-empty" href="javascript:void(0);" id="fnNewBtn"><b>+</b>上会申报&nbsp;</a>
            #end
        </div>

        ## list start

        <table class="m-table m-table-list fn-tac" id="list">

            <thead>
                <tr id="fnListSearchTh">
                    <th sortcol="p.customer_name">客户名称</th>
                    <th width="150px" sortcol="p.project_code">项目编号</th>
					 <th width="150px" sortcol="p.project_name">项目名称</th>
                    <th width="80px" sortcol="rh.is_repay">申报类别</th>
                    <th width="60px" sortcol="f.status">审批状态</th>
                    <th width="80px" sortcol="f.form_id">状态更新时间</th>
                    <th width="80px">操作</th>
                </tr>
            </thead>
            <tbody>

                #foreach($item in $page.result)
                    <tr formid="$item.formId" formname="$!{item.customerName}的[上会申报记录 ]">
                        <td>$!{item.customerName}</td>
						<td>$!{item.projectCode}</td>
						 <td>$!{item.projectName}</td>
                        <td>
                            #if($!item.isRepay=="Y")
                                代偿
                            #elseif($!item.isRepay=="N")
                                非代偿
                            #else
                                未知
                            #end
                        </td>
                        <td>
							$!item.formStatus.message
							#if($!item.projectStatus.code == "PAUSE" && ($!item.formStatus.code == "DRAFT" || $!item.formStatus.code == "CANCEL" || $!item.formStatus.code == "BACK"))
								(暂缓)
							#end							
						</td>
                        <td>
                            #if($!item.submitTime)
                                $!dateUtil.simpleFormat($!item.submitTime)
                            #else
                                $!dateUtil.simpleFormat($!item.formAddTime)
                            #end
                        </td>
                        <td>
                            <a href="/projectMg/riskHandle/view.htm?formId=$!{item.formId}">[ 查看详情 ]</a>

							#if($!item.projectStatus.code == "PAUSE")
                            #elseif($!item.formStatus.code == "DRAFT"  && $!sessionLocal.userId == $!item.formUserId)
                                <br><a href="/projectMg/riskHandle/edit.htm?formId=$!{item.formId}">[ 编辑 ]</a>
                                <br><a href="javascript:void(0);" class="fnOPN del">[ 删除 ]</a>
                            #elseif($!item.formStatus.code == "SUBMIT" && $!sessionLocal.userId == $!item.formUserId)
                                <br><a href="javascript:void(0);" class="fnOPN withdraw">[ 撤回 ]</a>
                            #elseif($!item.formStatus.code == "AUDITING")
                                ##<a href="/projectMg/investigation/audit.htm?formId=$item.formId&projectCode=$!item.projectCode&formId=$!item.formId">审核</a>
                            #elseif($!item.formStatus.code == "APPROVAL")
                                
                            #elseif(($!item.formStatus.code == "CANCEL" || $!item.formStatus.code == "BACK") && $!sessionLocal.userId == $!item.formUserId)
                                <br><a href="/projectMg/riskHandle/edit.htm?formId=$!{item.formId}">[ 编辑 ]</a>
                                ##<a href="javascript:void(0);" class="fnOPN del">删除</a>
							#end
							
                            #set($processUrl = "")
                            #if($!stringUtil.isNotBlank($item.taskUserData))
                                #set($processUrl = $!formUtil.getProcessUrl($!item.taskUserData,$!sessionLocal.userId))
                            #end    
                            #if($!stringUtil.isNotBlank($processUrl))
                                <a href="$!processUrl">[ 处理 ]</a>
                            #end 							
                        </td>
                    </tr>
                #end
                
            </tbody>
        </table>

        ## list end

        ## page start

        #parse("/layout/common/pages.vm")

        ## page end

    </div>

</form>

#parse("/layout/common/footer.vm")

#parse("/layout/common/commonjs.vm")

<script type="text/javascript">
    seajs.use($_GLOBAL.zyw+'/project/rkct.mtrt.list');
</script>
</body>
</html>