## 参数设值
## 渠道分类
#set( $channelClassification = [{'value': 'YH', 'text': '银行'},{'value': 'ZQ', 'text': '证券公司'},{'value': 'XT', 'text': '信托公司'},{'value': 'JYPT', 'text': '交易平台'},{'value': 'JJ', 'text': '基金公司'},{'value': 'ZL', 'text': '租赁公司'},{'value': 'WLJR', 'text': '网络金融平台'},{'value': 'ZZYX', 'text': '自主营销'},{'value': 'QT', 'text': '其他渠道'}] )
## 金融机构属性
#set( $financialInstitutions = [{'value': 'ZCXYH', 'text': '政策性银行及邮储银行'},{'value': 'GYSY', 'text': '国有商业银行'},{'value': 'GFYH', 'text': '股份制商业银行'},{'value': 'CSSY', 'text': '城市商业银行'},{'value': 'NCJR', 'text': '农村金融机构'},{'value': 'QTJR', 'text': '其他金融机构'}] )

##公用事业类  城市开发类 比较符号
#set($comSymbl_gy = [{'value':'<','text':'<'},{'value':'<=','text':'≤'},{'value':'==','text':'='},{'value':'>=','text':'≥'},{'value':'>','text':'>'}] )

