<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    #parse("/layout/common/head.vm")
    <link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
    <title>权利凭证展期申请单详情</title>
</head>
<body>

    <div class="ui-breadcrumb">&nbsp;辅助系统&nbsp;&gt;&nbsp;档案管理&nbsp;&gt;&nbsp;
        权利凭证展期申请单详情</div>

    <div class="fn-blank20"></div>

    <div class="m-main border ui-bg-fff">

            <h2 class="fn-tac apply-h2 fn-mt45">
                权利凭证展期申请单
            </h2>
            <div class="m-blank fn-mt20 fn-mb20"></div>
                <form class="m-audit" id="auditForm">
                    <div class="m-audit" id="auditSubmitBtn">
                        #if($webNodeInfo.bpmButtonInfos && $webNodeInfo.bpmButtonInfos.size() > 0)
                    #parse("/layout/common/audit.vm")
                #end
                    </div>
                </form>
            <div class="m-invn">
                <dl class="fn-mt20">
                    <dd class="fn-p-reb">
                        <table class="m-table" border="1">
                            <thead>
                                <tr>
                                    <td >项目编号</td>
                                    <td >$!info.projectCode</td>
                                    <td >项目名称</td>
                                    <td>$!info.projectName</td>
                                </tr>
                                <tr><td class="m-item fn-font-b1 fn-text-c fn-text-c" colspan="2"><span class="m-required">*</span>展期时间</td>
                                    <td colspan="2">$!dateUtil.dtSimpleFormat($!info.extensionDate)</td>
                                </tr>
                            <tbody>
                                <tr>
                                    <td class="fn-font-b1 fn-text-c m-item" >
                                        <span class="m-required">*</span>
                                            展期说明
                                    </td>
                                        <td colspan="5">$!info.reason.replaceAll("\n","</br>").replaceAll(" ","&nbsp;")</td>
                                </tr>
                            </tbody>

                        </table>
                    </dd>
                </dl>
            </div>

            <div class="m-blank fn-mt20 fn-mb20"></div>

    </div>
    #parse("/layout/common/footer.vm")
    #parse("/layout/common/commonjs.vm")
    <script src="/js/laydate/laydate.js"></script>
    <script>seajs.use($_GLOBAL.zyw+'/project/assistsys.rme.investigateBePutInStorage');</script>

</body>
</html>