<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
<title>收款单新增</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;资金管理&nbsp;&gt;&nbsp;收款单
</div>


<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    <form class="fnStep" action="/fundMg/receipt/apply/save.htm" method="post" id="form">

        <input type='hidden' name='formId' value='$!form.formId' />

        <h2 class="fn-tac apply-h2 fn-mt45">收款单</h2>

        <div class="m-blank fn-mt20 fn-mb20"></div>

        <div class="m-item fn-mb20" style="margin-left:-75px;">
            <label class="m-label"><em class="remind">*</em> 收款来源：</label>
            <input type="hidden" name="formSource" value="$!receiptInfo.formSource.code"/>
            <span>
           	 	 <select class="ui-select fn-w150 choiceSelect" #if($!form.formId > 0)disabled="disabled"#end>
                   	<option value="FORM" #if($!receiptInfo.formSource.code == "FORM") selected="selected"#end)>关联单据</option>
                	<option value="OTHER" #if($!receiptInfo.formSource.code == "OTHER") selected="selected"#end>其他</option>
              	</select>
            </span>

            #if(!$form || $!form.formId == 0)
           		<a class="ui-btn ui-btn-fill ui-btn-blue relevanceBtn" style="display:none;">选择</a>
            #end
        </div>

        <div class="m-invn">
            <dl class="choice">
                <dd #if($!receiptInfo.formSource.code != "FORM")style="display:none"#end>
                	<input type='hidden' name='sourceFormSys' value='$!receiptInfo.sourceFormSys.code' />
					<input type='hidden' name='sourceForm' value='$!receiptInfo.sourceForm.code' />
                    <input type='hidden' name='sourceFormId' value='$!receiptInfo.sourceFormId' />
                                    <input class="text" type="hidden" name="applyDeptCode" id="applyDeptCode" value="$!receiptInfo.applyDeptCode">
                    <table class="m-table" border="1">
                        <tbody>
                        	#if($!projectUtil.isFinancial($!receiptInfo.projectCode))
	                           <tr>
	                            	<td class="fn-font-b2" width="13%">关联单据</td>
	                                <td class="m-invndd-font onbreak" >
                                        $!receiptInfo.sourceForm.message
                                        <input type="hidden" name="relevance" value="$!receiptInfo.sourceForm.message">
                                    </td>
	                                <td class="fn-font-b2" width="13%">关联项目</td>
	                                <td class="m-invndd-font onbreak">$!receiptInfo.projectName（$!receiptInfo.projectCode ）</td>
	                                #*
	                                <td class="fn-font-b2">产品名称</td>
	                                <td class="onbreak" width="13%"></td>
	                                *#
	                            </tr>
	                            <tr class="fnNewLine">
	                                <td class="fn-font-b2">经办人</td>
	                                <td class="m-invndd-font onbreak">
	                                	$!receiptInfo.applyUserName
	                                </td>
	                                <td class="fn-font-b2">部门</td>
	                                <td class="onbreak">$!receiptInfo.applyDeptName</td>
	                                #*
	                                <td class="fn-font-b2"><em class="remind">*</em> 收款日期</td>
	                                <td class="m-invndd-font onbreak">
	                                	<input class="text laydate-icon" onclick="laydate()" type="text" name="receiptDate" value="$!dateUtil.dtSimpleFormat($!receiptInfo.receiptDate)">
	                                </td>
	                                *#
	                            </tr>
                        	#else
	                          <tr>
	                            	<td class="fn-font-b2">关联单据</td>
	                                <td class="m-invndd-font onbreak" width="13%">
                                        $!receiptInfo.sourceForm.message
                                        <input type="hidden" name="relevance" value="$!receiptInfo.sourceForm.message">
                                    </td>
	                                <td class="fn-font-b2">关联项目</td>
	                                <td class="m-invndd-font onbreak" width="13%">
	                                    $!receiptInfo.projectName #if($!receiptInfo.projectCode)（$!receiptInfo.projectCode）#end
	                                </td>
	                                <td class="fn-font-b2">客户名称 </td>
	                                <td class="onbreak" width="13%">$!receiptInfo.customerName</td>
	                            </tr>
	                            <tr class="fnNewLine">
	                                <td class="fn-font-b2">客户经理</td>
	                                <td class="m-invndd-font onbreak">$!receiptInfo.applyUserName</td>
	                                <td class="fn-font-b2">部门</td>
	                                <td class="onbreak">$!receiptInfo.applyDeptName</td>
	                                <td class="fn-font-b2">合同编号</td>
	                                <td class="onbreak">#if($!receiptInfo.contractNo)$!receiptInfo.contractNo#else#end</td>
	                            </tr>
	                            #*
	                            <tr>
                                    <td class="fn-font-b2"><em class="remind">*</em> 收款日期</td>
                                    <td class="m-invndd-font">
                                        <input class="text laydate-icon" onclick="laydate()" type="text" name="receiptDate" value="$!dateUtil.dtSimpleFormat($!receiptInfo.receiptDate)">
                                    </td>
	                            	<td></td>
	                            	<td></td>
	                            	<td></td>
	                            	<td></td>
	                            </tr>
	                            *#
                        	#end
                        </tbody>
                    </table>
                </dd>
                <dd #if($!receiptInfo.formSource.code == "FORM")style="display:none"#end>
                    <table class="m-table" border="1">
                        <tbody>
                            <tr>
                                <td class="fn-font-b2"><em class="remind">*</em> 经办人</td>
                                <td class="m-invndd-font">
                                    <input type="text" class="text limitHandleName" id="handleName" readonly="readonly" name="applyUserName" value="$!receiptInfo.applyUserName">
                                	<input class="text" type="hidden" name="applyUserId" id="handleNameID" value="$!receiptInfo.applyUserId">
                                	<input class="text" type="hidden" name="applyUserAccount" id="handleAcc" value="$!receiptInfo.applyUserAccount">
                                	##<input type="text" class="text" id="handleName" readonly="readonly" name="applyUserName" value="肖望">
                                	##<input class="text" type="hidden" name="applyUserId" id="handleNameID" value="20000007200568">
                                	##<input class="text" type="hidden" name="applyUserAccount" id="handleAcc" value="xiaowang">
                                    <a class="ui-btn ui-btn-fill ui-btn-blue" id="handleNameBtn">选择</a>
                                </td>
                                <td class="fn-font-b2"><em class="remind">*</em> 经办人部门</td>
                                <td>
                                	<input class="text" type="hidden" name="applyDeptId" id="applyDeptId" value="$!receiptInfo.applyDeptId">
                                    <input class="text" type="hidden" name="applyDeptCode" id="applyDeptCode" value="$!receiptInfo.applyDeptCode">
                                	<input class="text" type="hidden" name="applyDeptName" id="applyDeptName" value="$!receiptInfo.applyDeptName">
                                    <select class="text applyDept limitApplyDept">
                                        <option value="">请先选择经办人</option>
                                    </select>
                                </td>
                                #*
                                <td class="fn-font-b2"><em class="remind">*</em>收款日期</td>
                                <td>
                                	<input class="text laydate-icon" onclick="laydate()" type="text" name="receiptDate" value="$!dateUtil.dtSimpleFormat($!receiptInfo.receiptDate)">
                                </td>
                                *#
                            </tr>
                            <tr>
                            	<td class="fn-font-b2"><em class="remind">*</em> 收款事由:</td>
                            	<td colspan="3" style="padding:0">
                            		<textarea name="remark" class="ui-textarea-full">#if($!receiptInfo.formSource.code != "FORM")$!receiptInfo.remark#end</textarea>
                            	</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>

            <div class="choiceList">
                <dl class="fn-mt20" #if($!receiptInfo.formSource.code != "FORM")style="display:none"#end>
                    <dt class="fn-pl30 fn-lh60">合计收款金额：<span class="totalAmount" id="totalAmount">$!receiptInfo.amount.toStandardString()</span>元</dt>
                    <dd class="fn-p-reb">
                        <table class="m-table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th><em class="remind">*</em>收款种类</th>
                                    <th><em class="remind">*</em>收款金额（元）</th>
                                    <th><em class="remind">*</em>收款账户</th>
                                    <th><em class="remind">*</em>收款日期</th>
                                    <th><em class="remind">*</em>会计科目</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="test1">
                            	#if($!listUtil.isNotEmpty($!receiptInfo.feeList))
    								#foreach($!fee in $!receiptInfo.feeList)
    		                            <tr class="fnNewLine" orderName="feeOrder">
    		                                <td class="fn-text-c testNum">
    		                                	$!foreach.count
    		                                	<input type="hidden" name="id" value="$!fee.id"/>
    		                                </td>
    		                                <td>
    		                                    <select class="text projectFeeType" name="feeType"> ##关联单据
                                                    <option value="">请选择</option>
                                                    #foreach($!item in $!projectFeeTypeList)
                                                        <option value="$!item.code" #if($!item == $!fee.feeType)selected="selected"#end>$!item.message</option>
                                                    #end
                                                </select>
    		                                </td>
    		                                <td><input class="text amountStrVali fnMakeMoney fnMakeMicrometer" type="text" name="amountStr" value="$!fee.amount.toStandardString()
"></td>
    		                                <td class="m-invndd-font"><input class="text fnBankAccount" type="text" name="account" value="$!fee.account" readonly><a class="ui-btn ui-btn-fill ui-btn-blue paymentBtn">选择</a></td>
		                                    <td class="m-invndd-font">
		                                        <input class="text laydate-icon" onclick="laydate()" type="text" name="receiptDateStr" value="$!dateUtil.dtSimpleFormat($!fee.receiptDate)">
		                                    </td>
    		                                <td class="m-invndd-font">
    		                                	<input class="text fnAtCodeName" type="text" name="fnAtCodeName" value="#if($!fee.atCode)$!fee.atCode $!fee.atName#end" readonly>
    		                                	<input class="text fnAtName" type="hidden" name="atName" value="$!fee.atName">
    	                                		<input class="text fnAtCode" type="hidden" name="atCode" value="$!fee.atCode">
    		                                	<a class="ui-btn ui-btn-fill ui-btn-blue subjectBtn">选择</a>
    		                                </td>
    		                                <td class="fn-text-c">
    		                                	#if($!foreach.count > 1)
    		                                		<a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除一行</a>
    		                                	#end
    		                                </td>
    		                            </tr>
    								#end
                            	#else
                            		<tr orderName="feeOrder">
    	                                <td class="fn-text-c testNum">1</td>
    	                                <td>
    	                                    <select class="text projectFeeType" name="feeType"> ##关联单据
                                                <option value="">请选择</option>
                                                #foreach($!item in $!projectFeeTypeList)
                                                    <option value="$!item.code" #if($!item == $!fee.feeType)selected="selected"#end>$!item.message</option>
                                                #end
                                            </select>
    	                                </td>
    	                                <td><input class="text amountStrVali fnMakeMoney fnMakeMicrometer" type="text" name="amountStr" value=""></td>
    	                                <td class="m-invndd-font">
    	                                	<input class="text fnBankAccount" type="text" name="account" value="" readonly>
    	                                	<a class="ui-btn ui-btn-fill ui-btn-blue paymentBtn">选择</a>
    	                                </td>
                   						<td class="m-invndd-font">
		                                    <input class="text laydate-icon" onclick="laydate()" type="text" name="receiptDateStr" value="">
		                                </td>
    	                                <td class="m-invndd-font">
    		                                <input class="text fnAtCodeName" type="text" name="fnAtCodeName" value="" readonly>
    		                                <input class="text fnAtName" type="hidden" name="atName" value="">
    	                                	<input class="text fnAtCode" type="hidden" name="atCode" value="">
    	                                	<a class="ui-btn ui-btn-fill ui-btn-blue subjectBtn">选择</a>
    	                                </td>
    	                                <td class="fn-text-c"></td>
                                	</tr>
                            	#end
                            </tbody>
                        </table>
                        <a class="ui-btn ui-btn-fill ui-btn-green fnAddLine fn-ml30 fn-mt20" tplID="t-test1" cttID="test1"><i class="icon icon-add"></i>增加一行</a>
                        <script type="text/html" id="t-test1">
                            <tr class="fnNewLine" orderName="feeOrder">
                                <td class="fn-text-c testNum">1</td>
                                <td>
                                    <select class="text projectFeeType" name="feeType"> ##关联单据
                                        <option value="">请选择</option>
                                        #foreach($!item in $!projectFeeTypeList)
                                            <option value="$!item.code">$!item.message</option>
                                        #end
                                    </select>
                                </td>
                                <td><input class="text amountStrVali fnMakeMoney fnMakeMicrometer" type="text" name="amountStr" value=""></td>
                                <td class="m-invndd-font"><input readonly class="text fnBankAccount" type="text" name="account" value="" readonly><a class="ui-btn ui-btn-fill ui-btn-blue paymentBtn">选择</a></td>
                   				<td class="m-invndd-font">
		                            <input class="text laydate-icon" onclick="laydate()" type="text" name="receiptDateStr" value="">
		                        </td>   
                                <td class="m-invndd-font">
    		                        <input class="text fnAtCodeName" name="fnAtCodeName" type="text" value="" readonly>
    		                        <input class="text fnAtName" type="hidden" name="atName" value="">
    	                            <input class="text fnAtCode" type="hidden" name="atCode" value="">
                                    <a class="ui-btn ui-btn-fill ui-btn-blue subjectBtn">选择</a>
                                </td>
                                <td class="fn-text-c"><a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除一行</a></td>
                            </tr>
                        </script>
                    </dd>
                </dl>
                <dl class="fn-mt20" #if($!receiptInfo.formSource.code == "FORM")style="display:none"#end>
                    <dd class="fn-p-reb">
                        <table class="m-table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th><em class="remind">*</em>收款种类</th>
                                    <th><em class="remind">*</em>收款金额（元）</th>
                                    <th><em class="remind">*</em>收款账户</th>
                                    <th><em class="remind">*</em>收款日期</th>
                                    <th><em class="remind">*</em>会计科目</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="test2">
                                #if($!listUtil.isNotEmpty($!receiptInfo.feeList))
                                    #foreach($!fee in $!receiptInfo.feeList)
                                        <tr class="fnNewLine" orderName="feeOrder">
                                            <td class="fn-text-c testNum">
                                                $!foreach.count
                                                <input type="hidden" name="id" value="$!fee.id"/>
                                            </td>
                                            <td>
                                                <select class="text otherFeeType" name="feeType"> ##其他
                                                    <option value="">请选择</option>
                                                    #foreach($!item in $!otherFeeTypeList)
                                                        <option value="$!item.code" #if($!item == $!fee.feeType)selected="selected"#end>$!item.message</option>
                                                    #end
                                                </select>
                                            </td>
                                            <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="amountStr" value="$!fee.amount.toStandardString()
"></td>
                                            <td class="m-invndd-font"><input class="text fnBankAccount" type="text" name="account" value="$!fee.account" readonly><a class="ui-btn ui-btn-fill ui-btn-blue paymentBtn">选择</a></td>
		                                    <td class="m-invndd-font">
		                                        <input class="text laydate-icon" onclick="laydate()" type="text" name="receiptDateStr" value="$!dateUtil.dtSimpleFormat($!fee.receiptDate)">
		                                    </td>
                                            <td class="m-invndd-font">
    		                                	<input class="text fnAtCodeName" type="text" name="fnAtCodeName"  value="#if($!fee.atCode)$!fee.atCode $!fee.atName#end" readonly>
    		                                	<input class="text fnAtName" type="hidden" name="atName" value="$!fee.atName">
    	                                		<input class="text fnAtCode" type="hidden" name="atCode" value="$!fee.atCode">
                                                <a class="ui-btn ui-btn-fill ui-btn-blue subjectBtn">选择</a>
                                            </td>
                                            <td class="fn-text-c">
                                            	#if($!foreach.count > 1)
                                            		<a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除一行</a>
                                            	#end
                                            </td>
                                        </tr>
                                    #end
                                #else
                                    <tr orderName="feeOrder">
                                        <td class="fn-text-c testNum">1</td>
                                        <td>
                                            <select class="text otherFeeType" name="feeType"> ##其他
                                                <option value="">请选择</option>
                                                #foreach($!item in $!otherFeeTypeList)
                                                    <option value="$!item.code" #if($!item == $!fee.feeType)selected="selected"#end>$!item.message</option>
                                                #end
                                            </select>
                                        </td>
                                        <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="amountStr" value=""></td>
                                        <td class="m-invndd-font">
                                            <input class="text fnBankAccount" type="text" name="account" value="" readonly>
                                            <a class="ui-btn ui-btn-fill ui-btn-blue paymentBtn">选择</a>
                                        </td>
	                                    <td class="m-invndd-font">
	                                        <input class="text laydate-icon" onclick="laydate()" type="text" name="receiptDateStr" value="">
	                                    </td>
                                        <td class="m-invndd-font">
    		                                <input class="text fnAtCodeName" type="text" name="fnAtCodeName"  value="" readonly>
    		                                <input class="text fnAtName" type="hidden" name="atName" value="">
    	                                	<input class="text fnAtCode" type="hidden" name="atCode" value="">
                                            <a class="ui-btn ui-btn-fill ui-btn-blue subjectBtn">选择</a>
                                        </td>
                                        <td class="fn-text-c"></td>
                                    </tr>
                                #end
                            </tbody>
                        </table>
                        <a class="ui-btn ui-btn-fill ui-btn-green fnAddLine fn-ml30 fn-mt20" tplID="t-test2" cttID="test2"><i class="icon icon-add"></i>增加一行</a>
                        <script type="text/html" id="t-test2">
                            <tr class="fnNewLine" orderName="feeOrder">
                                <td class="fn-text-c testNum">1</td>
                                <td>
                                    <select class="text otherFeeType" name="feeType"> ##其他
                                        <option value="">请选择</option>
                                        #foreach($!item in $!otherFeeTypeList)
                                            <option value="$!item.code">$!item.message</option>
                                        #end
                                    </select>
                                </td>
                                <td><input class="text fnMakeMoney fnMakeMicrometer" type="text" name="amountStr" value=""></td>
                                <td class="m-invndd-font"><input readonly class="text fnBankAccount" type="text" name="account" value="" readonly><a class="ui-btn ui-btn-fill ui-btn-blue paymentBtn">选择</a></td>
		                        <td class="m-invndd-font">
		                           <input class="text laydate-icon" onclick="laydate()" type="text" name="receiptDateStr" value="">
		                        </td>
                                <td class="m-invndd-font">
    		                        <input class="text fnAtCodeName" type="text" name="fnAtCodeName"  value="" readonly>
    		                        <input class="text fnAtName" type="hidden" name="atName" value="">
    	                            <input class="text fnAtCode" type="hidden" name="atCode" value="">
                                    <a class="ui-btn ui-btn-fill ui-btn-blue subjectBtn">选择</a>
                                </td>
                                <td class="fn-text-c"><a class="ui-btn ui-btn-fill ui-btn-green fnDelLine" parentsClass="fnNewLine"><i class="icon icon-del"></i>删除一行</a></td>
                            </tr>
                        </script>
                    </dd>
                </dl>
            </div>

        </div>

        <div class="fn-tac fn-pt10 fn-pb20">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5" type="button" value="提交" id="submit">
            <a class="fnAddLine ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 fn-csp diy-back" href="/fundMg/receipt/apply/list.htm">返回</a>
        </div>

    </form>

    #parse("/layout/fundMg/fme.applyAddPopupCommom.vm")
</div>
#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/fund/fme.ghg.applyAdd.js');
</script>

</body>
</html>