<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
<title>担保/委贷业务项目调查</title>
</head>
<body>

<div class="fn-blank20"></div>



<div class="m-main border ui-bg-fff">


    <h2 class="fn-tac apply-h2 fn-mt45">一、整体授信方案</h2>
    <div class="m-blank fn-mt20 fn-mb20"></div>
    <div class="m-invn">
        <h3 class="m-invndt fn-ml20 fn-mt40 fn-fontw100"><b>（一）授信概况</b>（续授信的说明上次授信情况及（反）担保措施）</h3>
        <dl>
            <dt class="fn-pl30 fn-lh60">1、授信内容简介</dt>
            <dd>
                <table class="m-table" border="1">
                    <tbody id="tbodyYHDKQK">
                        <tr>
                            <td class="fn-font-b2">客户名称</td>
                            <td>$!{info.customerName}</td>
                            <td class="fn-font-b2">行业</td>
                            <td colspan="4">$!{info.industryName}</td>
                        </tr>
                        <tr class="fnNewLine">
                            <td class="fn-font-b2">授信金额</td>
                            <td><span name="creditAmountStr">$moneyUtil.getMoneyByw2($!{info.creditAmount})</span>&nbsp;&nbsp;万元</td>
                            <td class="fn-font-b2">授信期限</td>
                            <td colspan="4">$!{info.timeLimit}&nbsp;$!{info.timeUnit.message}</td>
                        </tr>
                        <tr>
                            <td class="fn-font-b2">业务品种</td>
                            <td class="m-invndd-font">$!{info.busiTypeName}</td>
                            <td class="fn-font-b2">项目渠道</td>
                            <td colspan="4" class="m-invndd-font">$!{info.projectChannelName}</td>
                        </tr>
                        <tr class="fnNewLine">
                            <td class="fn-font-b2">资金渠道</td>
                            <td class="m-invndd-font">$!{info.capitalChannelName}</td>
                            <td class="fn-font-b2">用途</td>
                            <td colspan="4">$!{info.loanPurpose}</td>
                        </tr>
                        <tr class="fnNewLine">
                            <td class="fn-font-b2">还款方式</td>
                            <td>$!{info.repayWay}</td>
                            <td class="fn-font-b2">收费方式</td>
                            <td>$!{info.chargePhase.message}</td>
                            <td>$!{info.chargeWay.message}</td>
                            <td class="fn-font-b2">费率</td>
                            <td class="m-invndd-font">$!rateUtil.formatRate($!{info.chargeRate})&nbsp;%</td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
        <dl>
            <dt class="fn-pl30 fn-lh60">2、需重点说明的授信事项：</dt>
            <dd class="fn-p-reb">
                <span class="fn-ml30">$!{info.statement}</span>
            </dd>
        </dl>
    </div>
    <div class="m-invn">
        <h3 class="m-invndt fn-mt20 fn-ml20 fn-mt40 fn-fontw100"><b>（二）（反）担保措施</b>（简要列明，按《尽职调查操作办法》第十九条规定的标准表述）<a class="fn-right fn-mr35">该客户的风险覆盖率为：$!rateUtil.formatRate($!{riskCoverRate})%</a></h3></h3>
        #parse("/layout/common/viewCounterGuaranteeCommon.vm")
    </div>

</div>


<div class="m-main border ui-bg-fff">

        #parse("/projectMg/beforeLoanMg/investigation/investigationCommon2.vm")
        #if($!{info})
        <input type="hidden" name="MReviewId" value="$!{info.MReviewId}" />
        #end

        <h2 class="fn-tac apply-h2 fn-mt45">二、客户主体评价</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（一）客户基本情况</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <tbody>
                            <tr>
                                <td class="fn-font-b2">成立时间</td>
                                <td>$dateUtil.dtSimpleFormat($!{info.establishedTime})</td>
                                <td class="fn-font-b2">经营期限</td>
                                <td>$!{info.operatingTerm}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">法定代表人</td>
                                <td>$!{info.legalPersion}</td>
                                <td class="fn-font-b2">住所</td>
                                <td>$!{info.livingAddress}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">实际控制人</td>
                                <td>$!{info.actualControlPerson}</td>
                                <td class="fn-font-b2">营业执照号</td>
                                <td>$!{info.busiLicenseNo}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">企业类型</td>
                                <td>$info.enterpriseType.message</td>
                                <td class="fn-font-b2">办公地址</td>
                                <td>$!{info.workAddress}</td>
                            </tr>
                            #if($!{info.isOneCert.code}!="IS")
                            <tr>
                                <td class="fn-font-b2">组织机构代码证</td>
                                <td>$!{info.orgCode}</td>
                                <td class="fn-font-b2">税务登记证号</td>
                                <td>$!{info.taxCertificateNo}</td>
                            </tr>
                            #end
                            <tr>
                                <td class="fn-font-b2">贷款卡号</td>
                                <td>$!{info.loanCardNo}</td>
                                <td class="fn-font-b2">业务范围</td>
                                <td>$!{info.busiScope}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">最后年检年度</td>
                                <td>$!{info.lastCheckYear}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60 fn-mt20">已获得的资质证书</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>资质证书名称</th>
                                <th>编码</th>
                                <th>有效期</th>
                            </tr>
                        </thead>
                        <tbody id="test2">
                            #set($index = 1)
                            #foreach($item in $!{info.certificates})
                                <tr #if($index!=1) class="fnNewLine" #end orderName="certificates">
                                    <td>$!{item.certificateName}</td>
                                    <td>$!{item.certificateCode}</td>
                                    <td>$dateUtil.dtSimpleFormat($!{item.validDate})</td>
                                </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60 fn-mt20">开户情况</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <tbody>
                            #set($index = 0)
                            #foreach($bank in $!{info.banks})
                            <tr orderName="banks">
                                <td>$!{bank.bankDesc}</td>
                                <input type="hidden" name="bankDesc" value="$!{bank.bankDesc}" />
                                <td>$!{bank.bankName}</td>
                                <td class="fn-font-b2">账号</td>
                                <td>$!{bank.accountNo}</td>
                            </tr>
                            #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
        <div class="m-invn fn-mt30">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（二）客户发展沿革（背景）及重大机构变革</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.customerDevEvolution}</span>
                </dd>
            </dl>
        </div>
        #set($certTypes = [
            {"code":"ID_CARD", "name":"身份证"},
            {"code":"SOLDIERS", "name":"士兵证"},
            {"code":"OFFICER", "name":"军官证"},
            {"code":"POLICE_OFFICER", "name":"警官证"},
            {"code":"PASSPORT", "name":"护照"},
            {"code":"OTHER", "name":"其它"}
        ])      
        <div class="m-invn fn-mt30">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（三）客户隶属关系或控制关系情况</b></h3>
            <dl>
                <dt class="fn-pl30 fn-lh60 fn-mt20">1、主要股东情况表（单位：万元、%）(提示：股东持比前四名必填)</dt>
            </dl>
            <dl id="test">
                #if($listUtil.isNotEmpty($!{info.holders}))
                    #set($index = 1)
                    #foreach($item in $!{info.holders})
                        <dd class="fn-p-reb #if($index!=1) fnNewLine fn-mt45 #end " orderName="holders">
                            <table class="m-table" border="1">
                                <tbody class="shareholderNature">
                                    <tr>
                                        <td class="fn-pl5 fn-font-b2">股东性质</td>
                                        <td>$!{item.holderType.message}</td>
                                        <td class="fn-pl5 fn-font-b2">主要股东名称</td>
                                        <td>$!{item.holderName}</td>
                                    </tr>
                                </tbody>
                                <tbody class="shareholderNatureObj">
                                    #if($!{item.holderType.code}=="LEGAL_PERSON")
                                    <tr>
                                        <td class="fn-pl5 fn-font-b2">股东证件号码</td>
                                        <td>$!{item.holderCertNo}</td>
                                        <td class="fn-pl5 fn-font-b2">实际投资金额</td>
                                        <td class="m-invndd-font">$!{item.actualInvestment}元</td>
                                    </tr>
                                    <tr>
                                        <td class="fn-pl5 fn-font-b2">占实收资本比例</td>
                                        <td class="m-invndd-font">$rateUtil.formatRate($!{item.paidinCapitalRatio})%</td>
                                        <td class="fn-pl5 fn-font-b2">股东主营业务</td>
                                        <td>$!{item.holderMajorBusi}</td>
                                    </tr>
                                    <tr>
                                        <td class="fn-pl5 fn-font-b2">股东规模（资产）</td>
                                        <td class="m-invndd-font">$!{item.capitalScale}元</td>
                                        <td class="fn-pl5 fn-font-b2">股东规模（收入）</td>
                                        <td class="m-invndd-font">$!{item.incomeScale}元</td>
                                    </tr>
                                    <tr>
                                        <td class="fn-pl5 fn-font-b2">股东规模（生产能力）</td>
                                        <td class="m-invndd-font">$!{item.produceScale}元</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    #else
                                    <tr>
                                        <td class="fn-pl5 fn-font-b2">股东证件类型</td>
                                        <td>
                                            #foreach($cert in $certTypes)
                                                #if($!{item.holderCertType}==$!{cert.code})
                                                    $!{cert.name}
                                                #end
                                            #end                                            
                                        </td>
                                        <td class="fn-pl5 fn-font-b2">证件号码</td>
                                        <td>$!{item.holderCertNo}</td>
                                    </tr>
                                    <tr>
                                        <td class="fn-pl5 fn-font-b2">联系电话（手机）</td>
                                        <td>$!{item.holderContactNo}</td>
                                        <td class="fn-pl5 fn-font-b2">婚姻状况</td>
                                        <td>$!{item.maritalStatus}</td>
                                    </tr>
                                    <tr>
                                        <td class="fn-pl5 fn-font-b2">配偶姓名</td>
                                        <td>$!{item.spouseName}</td>
                                        <td class="fn-pl5 fn-font-b2">配偶联系电话（手机）</td>
                                        <td>$!{item.spouseContactNo}</td>
                                    </tr>
                                    <tr>
                                        <td class="fn-pl5 fn-font-b2">配偶证件类型</td>
                                        <td>
                                            #foreach($cert in $certTypes)
                                                #if($!{item.spouseCertType}==$!{cert.code})
                                                    $!{cert.name}
                                                #end
                                            #end
                                        </td>
                                        <td class="fn-pl5 fn-font-b2">配偶证件号码</td>
                                        <td>$!{item.spouseCertNo}</td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </dd>
                        #set($index = $index + 1)
                    #end
                #else
                <dd class="fn-p-reb" orderName="holders">
                    <table class="m-table" border="1">
                        <tbody class="shareholderNature">
                            <tr>
                                <td class="fn-pl5 fn-font-b2">股东性质</td>
                                <td>$!{holderType.code}</td>
                                <td class="fn-pl5 fn-font-b2">主要股东名称</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody class="shareholderNatureObj">
                            <tr>
                                <td class="fn-pl5 fn-font-b2">股东证件号码</td>
                                <td>$!{item.holderCertNo}</td>
                                <td class="fn-pl5 fn-font-b2">实际投资金额</td>
                                <td class="m-invndd-font">$!{item.actualInvestment}元</td>
                            </tr>
                            <tr>
                                <td class="fn-pl5 fn-font-b2">占实收资本比例</td>
                                <td class="m-invndd-font">$rateUtil.formatRate($!{item.paidinCapitalRatio})%</td>
                                <td class="fn-pl5 fn-font-b2">股东主营业务</td>
                                <td>$!{item.holderMajorBusi}</td>
                            </tr>
                            <tr>
                                <td class="fn-pl5 fn-font-b2">股东规模（资产）</td>
                                <td class="m-invndd-font">$!{item.capitalScale}元</td>
                                <td class="fn-pl5 fn-font-b2">股东规模（收入）</td>
                                <td class="m-invndd-font">$!{item.incomeScale}元</td>
                            </tr>
                            <tr>
                                <td class="fn-pl5 fn-font-b2">股东规模（生产能力）</td>
                                <td class="m-invndd-font">$!{item.produceScale}元</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
                #end
            </dl>

            <dl>
                <dt class="fn-pl30 fn-lh60 fn-mt20">实际控制人或自然人股东个人资产、负债状况（非国有必填）</dt>
            </dl>
            <dl id="test33">
                #if($listUtil.isNotEmpty($!{info.assetAndLiabilities}))
                    #set($index = 1)
                    #foreach($item in $!{info.assetAndLiabilities})
                        <dd class="fn-p-reb #if($index!=1) fnNewLine fn-mt45 #end" orderName="assetAndLiabilities">
                            <table class="m-table" border="1">
                                <tbody>
                                    <thead>
                                        <tr>
                                            <th colspan="8">个人资产信息</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="fn-font-b2">姓名</td>
                                            <td>$!{item.name}</td>
                                            <td class="fn-font-b2">性别</td>
                                            <td>$!{item.sex}</td>
                                            <td class="fn-font-b2">证件号码</td>
                                            <td colspan="3">$!{item.certNo}</td>
                                        </tr>
                                        <tr>
                                            <td class="fn-font-b2">房屋数量</td>
                                            <td>$!{item.houseNum}</td>
                                            <td class="fn-font-b2">车辆数量</td>
                                            <td>$!{item.carNum}</td>
                                            <td class="fn-font-b2">投资金额（元）</td>
                                            <td>$!{item.investAmount}</td>
                                            <td class="fn-font-b2">个人存款金额（元）</td>
                                            <td>$!{item.depositAmount}</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th colspan="8">婚姻及配偶信息</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="fn-font-b2">婚姻情况</td>
                                            <td>$!{item.maritalStatus}</td>
                                            <td class="fn-font-b2">配偶姓名</td>
                                            <td>$!{item.spouseName}</td>
                                            <td class="fn-font-b2">证件类型</td>
                                            <td>
                                                #foreach($cert in $certTypes)
                                                    #if($!{item.spouseCertType}==$!{cert.code})
                                                        $!{cert.name}
                                                    #end
                                                #end                                                
                                                
                                            </td>
                                            <td class="fn-font-b2">证件号码</td>
                                            <td>$!{item.spouseCertNo}</td>
                                        </tr>
                                        <tr>
                                            <td class="fn-font-b2">联系电话（手机）</td>
                                            <td>$!{item.spouseContactNo}</td>
                                            <td class="fn-font-b2">家庭住址</td>
                                            <td>$!{item.spouseAddress}</td>
                                            <td class="fn-font-b2">不动产信息</td>
                                            <td>$!{item.spouseImmovableProperty}</td>
                                            <td class="fn-font-b2">动产信息</td>
                                            <td>$!{item.spouseMovableProperty}</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th colspan="8">负债状况</th>
                                        </tr>
                                    </thead>
                                    <tbody class="hasBankLoan">
                                        <tr class="hasFolkLoan">
                                            <td class="fn-font-b2">负债情况</td>
                                            #set($folkLoan = false)
                                            #if($!{item.hasFolkLoan.contains("F")})
                                                #set($folkLoan = true)
                                            #end
                                            #set($banknLoan = false)
                                            #if($!{item.hasBankLoan.contains("B")})
                                                #set($banknLoan = true)
                                            #end
                                            <td colspan="3">
                                                <span>
                                                    <input class="fn-H11 fn-ml20 fn-mr5 hasFolkLoanCheckbox" type="checkbox" name="hasFolkLoan" value="F" #if($!{folkLoan}) checked #end disabled>
                                                </span>民间借贷
                                                <span>
                                                    <input class="fn-H11 fn-ml20 fn-mr5 hasBankLoanCheckbox" type="checkbox" name="hasBankLoan" value="B" #if($!{banknLoan}) checked #end disabled>
                                                </span>银行负债
                                                <span class="hasBankLoanSpan">
                                                    #if($!{banknLoan})
                                                    (
                                                    <em>
                                                        <input class="fn-H11 fn-mr5" type="checkbox" name="consumerLoanBankCheckbox" value="C" id="consumerLoanBank" #if($!{banknLoan} && $!{item.hasBankLoan.contains("C")}) checked #end disabled>
                                                    </em>消费类借款
                                                    <em>
                                                        <input class="fn-H11 fn-ml20 fn-mr5" type="checkbox" name="businesLoanBankCheckbox" value="P" id="businesLoanBank" #if($!{banknLoan} && $!{item.hasBankLoan.contains("P")}) checked #end disabled>
                                                    </em>个人经营性贷款
                                                    <em>
                                                        <input class="fn-H11 fn-ml20 fn-mr5" type="checkbox" name="mortgageLoanBankCheckbox" value="M" id="mortgageLoanBank" #if($!{banknLoan} && $!{item.hasBankLoan.contains("M")}) checked #end disabled>
                                                    </em>按揭类贷款
                                                    )
                                                    #end
                                                </span>
                                            </td>
                                            <td class="fn-font-b2 target">#if($!{folkLoan}) 民间借贷总金额（元） #end</td>
                                            <td class="target" colspan="3">#if($!{folkLoan}) $!{item.folkLoanAmount} #end</td>
                                        </tr>
                                        #if($!{banknLoan})
                                        <tr class="target t-hasBankLoan0">
                                            #if($!{item.hasBankLoan.contains("C")})
                                            <td class="fn-font-b2">消费类借款银行</td>
                                            <td>$!{item.consumerLoanBank}</td>
                                            <td class="fn-font-b2">金额（元）</td>
                                            <td>$!{item.consumerLoanAmount}</td>
                                            <td class="fn-font-b2">贷款起日</td>
                                            <td>$dateUtil.dtSimpleFormat($!{item.consumerLoanStartDate})</td>
                                            <td class="fn-font-b2">贷款止日</td>
                                            <td>$dateUtil.dtSimpleFormat($!{item.consumerLoanEndDate})</td>
                                            #end
                                        </tr>
                                        <tr class="target t-hasBankLoan1">
                                            #if($!{item.hasBankLoan.contains("P")})
                                            <td class="fn-font-b2">个人经营性贷款银行</td>
                                            <td>$!{item.businesLoanBank}</td>
                                            <td class="fn-font-b2">金额（元）</td>
                                            <td>$!{item.businesLoanAmount}</td>
                                            <td class="fn-font-b2">贷款起日</td>
                                            <td>$dateUtil.dtSimpleFormat($!{item.businesLoanStartDate})</td>
                                            <td class="fn-font-b2">贷款止日</td>
                                            <td>$dateUtil.dtSimpleFormat($!{item.businesLoanEndDate})</td>
                                            #end
                                        </tr>
                                        <tr class="target t-hasBankLoan2">
                                            #if($!{item.hasBankLoan.contains("M")})
                                            <td class="fn-font-b2">按揭性贷款银行</td>
                                            <td>$!{item.mortgageLoanBank}</td>
                                            <td class="fn-font-b2">金额（元）</td>
                                            <td>$!{item.mortgageLoanAmount}</td>
                                            <td class="fn-font-b2">贷款起日</td>
                                            <td>$dateUtil.dtSimpleFormat($!{item.mortgageLoanStartDate})</td>
                                            <td class="fn-font-b2">贷款止日</td>
                                            <td>$dateUtil.dtSimpleFormat($!{item.mortgageLoanEndDate})</td>
                                            #end
                                        </tr>
                                        #end
                                    </tbody>
                                </table>
                        </dd>
                        #set($index = $index + 1)
                    #end
                #end
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60 fn-mt20">2、客户下属公司、全资和控股子公司情况表（单位：万元、%）</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>公司名称</th>
                                <th>从属关系</th>
                                <th>注册资本</th>
                                <th>持股比例</th>
                                <th>主营业务</th>
                                <th>资产规模</th>
                                <th>资产负债率</th>
                                <th>本年净利润</th>
                            </tr>
                        </thead>
                        <tbody id="test3">
                            #set($index = 1)
                            #foreach($item in $!{info.subsidiaries})
                                <tr #if($index != 1) class="fnNewLine" #end orderName="subsidiaries">
                                    <td>$!{item.companyName}</td>
                                    <td>$!{item.relationDesc}</td>
                                    <td>$!{item.registerCapital}</td>
                                    <td>$!rateUtil.formatRate($!{item.capitalRatio})</td>
                                    <td>$!{item.majorBusi}</td>
                                    <td>$!{item.assetScale}</td>
                                    <td>$!rateUtil.formatRate($!{item.assetLiabilityRatio})</td>
                                    <td>$!{item.netProfitThisYear}</td>
                                </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60 fn-mt20">3、客户主要参股公司情况表（单位：万元、%）</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>公司名称</th>
                                <th>注册资本</th>
                                <th>持股比例</th>
                                <th>主营业务</th>
                                <th>资产规模</th>
                                <th>资产负债率</th>
                                <th>本年净利润</th>
                            </tr>
                        </thead>
                        <tbody id="test4">
                            #set($index = 1)
                            #foreach($item in $!{info.participations})
                                <tr #if($index != 1) class="fnNewLine" #end orderName="participations">
                                    <td>$!{item.companyName}</td>
                                    <td>$!{item.registerCapital}</td>
                                    <td>$!rateUtil.formatRate($!{item.capitalRatio})</td>
                                    <td>$!{item.majorBusi}</td>
                                    <td>$!{item.assetScale}</td>
                                    <td>$!rateUtil.formatRate($!{item.assetLiabilityRatio})</td>
                                    <td>$!{item.netProfitThisYear}</td>
                                </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60 fn-mt20">4、客户其它关联公司情况表（单位：万元、%）</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>公司名称</th>
                                <th>注册资本</th>
                                <th>关联关系</th>
                                <th>主营业务</th>
                                <th>资产规模</th>
                                <th>资产负债率</th>
                                <th>本年净利润</th>
                            </tr>
                        </thead>
                        <tbody id="test5">
                            #set($index = 1)
                            #foreach($item in $!{info.correlations})
                                <tr #if($index != 1) class="fnNewLine" #end orderName="correlations">
                                    <td>$!{item.companyName}</td>
                                    <td>$!{item.registerCapital}</td>
                                    <td>$!{item.relationDesc}</td>
                                    <td>$!{item.majorBusi}</td>
                                    <td>$!{item.assetScale}</td>
                                    <td>$!rateUtil.formatRate($!{item.assetLiabilityRatio})</td>
                                    <td>$!{item.netProfitThisYear}</td>
                                </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60 ui-textarea-dt">关联交易情况<i class="triangle-t"></i></dt>
                <dd class="fn-p-reb">
                    <span class="fn-ml30">$!{info.relatedTrade}</span>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60 ui-textarea-dt">关联担保情况<i class="triangle-t"></i></dt>
                <dd class="fn-p-reb">
                    <span class="fn-ml30">$!{info.relatedGuarantee}</span>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60 ui-textarea-dt">关联资金占用<i class="triangle-t"></i></dt>
                <dd class="fn-p-reb">
                    <span class="fn-ml30">$!{info.relatedCapitalTieup}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn fn-mt30">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（四）客户经营范围及资质</b></h3>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">1、主营业务范围及资质情况</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.busiQualification}</span>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">2、经营场所调查情况</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.busiPlace}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn fn-mt30">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（五）信用评价</b>（主要依据人行征信系统和客户提供的融资明细，两者有差异的进行说明）</h3>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">1、客户信用状况（查询时间：$dateUtil.dtSimpleFormat($!{info.queryTime}))（单位：万元）</dt>
                <dd class="fn-p-reb">
                     <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>融资机构</th>
                                <th>融资余额</th>
                                <th>融资期限（起日）</th>
                                <th>融资期限（止日）</th>
                                <th>融资成本</th>
                                <th>担保方式及扣保物</th>
                                <th>提供的对价</th>
                            </tr>
                        </thead>
                        <tbody id="test7">
                        #if($listUtil.isNotEmpty($!{info.customerCredits}))
                            #set($index = 1)
                            #foreach($item in $!{info.customerCredits})
                            <tr #if($index!=1) class="fnNewLine" #end orderName="customerCredits">
                                <td>$!{item.loanInstitution}</td>
                                <td>$!{item.loanBalance}</td>
                                <td>$dateUtil.dtSimpleFormat($!{item.loanStartDate})</td>
                                <td>$dateUtil.dtSimpleFormat($!{item.loanEndDate})</td>
                                <td>$!{item.loanCost}</td>
                                <td>$!{item.guaranteePledge}</td>
                                <td>$!{item.consideration}</td>
                            </tr>
                            #set($index = $index + 1)
                            #end
                        #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20 fn-color-soil">前两年度银行借贷变动及异常情况说明，并分析公司授信到期时客户需偿还的金额及偿付能力。</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.loanRepaySituationCustomer}</span>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">对外担保的情况（单位：万元）</dt>
                <dd class="fn-p-reb">
                     <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>被担保人</th>
                                <th>担保金额</th>
                                <th>担保方式</th>
                                <th>担保到期</th>
                                <th>提供的对价</th>
                            </tr>
                        </thead>
                        <tbody id="test6">
                            #set($index = 1)
                            #foreach($item in $!{info.customerGuarantees})
                            <tr #if($index!=1) class="fnNewLine" #end orderName="customerGuarantees">
                                <td>$!{item.warrantee}</td>
                                <td>$!{item.amount}</td>
                                <td>$!{item.guarranteeWay}</td>
                                <td>$!{item.timeLimit}</td>
                                <td>$!{item.consideration}</td>
                            </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">2、个人信用状态（单位：万元）（企业实际控制人、主要股东、管理人员、担保人等征信报告核对）</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>与企业的关系</th>
                                <th>融资机构</th>
                                <th>融资余额</th>
                                <th>融资期限（起日）</th>
                                <th>融资期限（止日）</th>
                                <th>融资成本</th>
                                <th>担保方式及扣保物</th>
                                <th>提供的对价</th>
                            </tr>
                        </thead>
                        <tbody id="test8">
                        #if($listUtil.isNotEmpty($!{info.personalCredits}))
                            #set($index = 1)
                            #foreach($item in $!{info.personalCredits})
                            <tr #if($index!=1) class="fnNewLine" #end orderName="personalCredits">
                                <td>$!{item.persionalName}</td>
                                <td>$!{item.persionalDesc}</td>
                                <td>$!{item.loanInstitution}</td>
                                <td>$!{item.loanBalance}</td>
                                <td>$dateUtil.dtSimpleFormat($!{item.loanStartDate})</td>
                                <td>$dateUtil.dtSimpleFormat($!{item.loanEndDate})</td>
                                <td>$!{item.loanCost}</td>
                                <td>$!{item.guaranteePledge}</td>
                                <td>$!{item.consideration}</td>
                            </tr>
                            #set($index = $index + 1)
                            #end
                        #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20 fn-color-soil">前两年度银行借贷变动及异常情况说明，并分析公司授信到期时客户需偿还的金额及偿付能力。</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.loanRepaySituationPersional}</span>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">对外担保的情况（单位：万元）</dt>
                <dd class="fn-p-reb">
                     <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>被担保人</th>
                                <th>担保金额</th>
                                <th>担保方式</th>
                                <th>担保到期</th>
                                <th>提供的对价</th>
                            </tr>
                        </thead>
                        <tbody id="test9">
                            #set($index = 1)
                            #foreach($item in $!{info.personalGuarantees})
                            <tr #if($index!=1) class="fnNewLine" #end orderName="personalGuarantees">
                                <td>$!{item.warrantee}</td>
                                <td>$!{item.amount}</td>
                                <td>$!{item.guarranteeWay}</td>
                                <td>$!{item.timeLimit}</td>
                                <td>$!{item.consideration}</td>
                            </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">3、其他信用信息（工商、税务、诉讼、环保等信息）</dt>
                <dd class="fn-p-reb">
                     <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>网站名称</th>
                                <th>查询状态</th>
                                <th>异常备注</th>
                            </tr>
                        </thead>
                        <tbody id="test11">
                            #set($index = 1)
                            #foreach($item in $!{info.siteStatus})
                                <tr #if(6 <= $index) class="fnNewLine" #end orderName="siteStatus">
                                    <td><a href="$!{item.site}" target="_blank">$!{item.siteName}</a></td>
                                    <input type="hidden" name="siteName" value="$!{item.siteName}" />
                                    <input type="hidden" name="site" value="$!{item.site}" />
                                    <td>$!{item.status.message}</td>
                                    <td>$!{item.remark}</td>
                                </tr>
                                #if($index == 1)
                                #else
                                #end
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">4、其他</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.other}</span>
                </dd>
            </dl>

        </div>

</div>



<div class="m-main border ui-bg-fff">

        #if($!{info})
        <input type="hidden" name="maReviewId" value="$!{info.maReviewId}" />
        #end
        <h2 class="fn-tac apply-h2 fn-mt45">三、客户管理能力评价</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（一）客户基本情况</b></h3>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">客户主要高管人员表</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>学历</th>
                                <th>职务</th>
                                <th>履历</th>
                            </tr>
                        </thead>
                        <tbody id="test">
                            #set($index = 1)
                            #foreach($item in $!{info.leadingTeams})
                                <tr orderName="leadingTeams">
                                    <td>$!{item.name}</td>
                                    <td>$!{item.sex}</td>
                                    <td>$!{item.age}</td>
                                    <td>$!{item.degree}</td>
                                    <td>$!{item.title}</td>
                                    <td>$!{item.resume}</td>
                                </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">领导人整体评价（包括主要领导人简历、管理层的稳定性）</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.leaderReview}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（二）员工基本情况及整体素质评价</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.staffReview}</span>
                </dd>
            </dl>
        </div>


</div>


<div class="m-main border ui-bg-fff">

        #if($!{info})
        <input type="hidden" name="opReviewId" value="$!{info.opReviewId}" />
        #end

        <h2 class="fn-tac apply-h2 fn-mt45">四、客户经营能力评价</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（一）客户发展战略及市场定位</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.strategyMarketpos}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（二）客户所在行业的宏观环境分析</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.industryEnv}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（三）客户核心竞争力评价、主要竞争对手基本情况</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.competitivenessRival}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（四）客户主要上下游情况（余额前五大）</b>（城投类客户根据实际情况可不填写）</h3>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">客户主要高管人员表</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr orderName="investigationOpabilityReviewUpdownStream">
                                <th>对方名称</th>
                                <th>结算方式</th>
                                <th>帐期</th>
                                <th>期末余额（元）</th>
                                <th>备注（产品种类、合作年限等）</th>
                            </tr>
                        </thead>
                        <tbody id="test">
                            #set($index = 1)
                            #foreach($item in $!{info.updownStreams})
                            <tr #if($index!=1) class="fnNewLine" #end orderName="updownStreams">
                                <td>$!{item.name}</td>
                                <td>$!{item.clearingForm}</td>
                                <td>$!{item.paymentTerms}</td>
                                <td>$!{item.endingBalance}</td>
                                <td>$!{item.remark}</td>
                            </tr>
                            #set($index = $index + 1)
                            #end
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="fn-text-c">合计</td>
                                <td></td>
                                <td></td>
                                <td>
                                    $!{info.totalBalance}
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（五）客户主要产品结构、下游主要客户情况</b>（城投类客户根据实际情况可不填写）</h3>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60">单位：万元</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            #set($reportPeriod1 = "")
                            #set($reportPeriod2 = "")
                            #set($reportPeriod3 = "")
                            #if($listUtil.isNotEmpty($!{info.productStructures}))
                                #set($index = 1)
                                #foreach($item in $!{info.productStructures})
                                    #if($index == 1)
                                        #set($reportPeriod1 = $!{item.reportPeriod1})
                                        #set($reportPeriod2 = $!{item.reportPeriod2})
                                        #set($reportPeriod3 = $!{item.reportPeriod3})
                                    #end
                                #end
                            #end
                            <tr orderName="productStructures">
                                <th rowspan="2">主要产品</th>
                                <th colspan="2">$!{reportPeriod1}</th>
                                <th colspan="2">$!{reportPeriod2}</th>
                                <th colspan="2">$!{reportPeriod3}</th>
                            </tr>
                            <tr>
                                <th>收入</th>
                                <th>占比</th>
                                <th>收入</th>
                                <th>占比</th>
                                <th>收入</th>
                                <th>占比</th>
                            </tr>
                        </thead>
                        <tbody id="test1">
                            #set($index = 1)
                            #foreach($item in $!{info.productStructures})
                            <tr orderName="productStructures">
                                <td>$!{item.name}</td>
                                <td>$!{item.income1}</td>
                                <td>$!rateUtil.formatRate($!{item.incomeRatio1})</td>
                                <td>$!{item.income2}</td>
                                <td>$!rateUtil.formatRate($!{item.incomeRatio2})</td>
                                <td>$!{item.income3}</td>
                                <td>$!rateUtil.formatRate($!{item.incomeRatio3})</td>
                            </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">解释与说明</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.explaination}</span>
                </dd>
            </dl>
        </div>


</div>


<div class="m-main border ui-bg-fff">

        #if($!{info})
        <input type="hidden" name="id" value="$!{info.id}" />
        #end

        <h2 class="fn-tac apply-h2 fn-mt45">六、重大事项调查</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（一）其他重点财务情况调查</b>（民间借贷、异常科目等）</h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.financialCondition}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（二）多元化投资调查</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.investment}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（三）其他重大事项调查</b>（城市开发类项目对当地经济、财政、支持程度的分析填写本项内容）</h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.otherEvents}</span>
                </dd>
            </dl>
        </div>

</div>




<div class="m-main border ui-bg-fff">

        #if($!{info})
        <input type="hidden" name="statusId" value="$!{info.statusId}" />
        #end

        <h2 class="fn-tac apply-h2 fn-mt45">七、项目情况调查</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（一）项目概述</b>（简要说明客户/项目发起人的项目计划，生产规模，地理位置等）</h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.overview}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（二）项目建设背景/必要性</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.background}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（三）项目审批依据或手续</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.approval}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20 fn-fontw100"><b>（四）项目建设进度</b>（如项目已开工，请简述工程形象进度和资金投入进度）</h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.progress}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（五）市场前景分析</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.marketOutlook}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（六）项目总成本及资金筹措</b></h3>
            <dl class="fn-mt20">

                <dt class="fn-ml30 fn-mb10 m-invndd-font">项目总成本：$!{info.totalCost}元</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.costFundraising}</span>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60 fn-mt20">项目投资与资金筹措表(单位：万元、%)</dt>
                <dd class="fn-p-reb">
                     <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>项目</th>
                                <th>金额</th>
                                <th>百分比</th>
                                <th>资金来源</th>
                                <th>金额</th>
                                <th>百分比</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($item in $!{info.funds})
                                <tr orderName="funds">
                                    <td class="fn-font-b2">$!{item.item}</td>
                                    <td>$!{item.itemAmount}</td>
                                    <td>$!rateUtil.formatRate($!{item.itemPercent})</td>
                                    <td class="fn-text-c fn-font-b2">$!{item.fundSource}</td>
                                    <td>#if($!{item.fundSource}) $!{item.fundAmount} #end</td>
                                    <td>#if($!{item.fundSource}) $!rateUtil.formatRate($!{item.fundPercent}) #end</td>
                                </tr>
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（七）项目财务效益评估</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.benefitReview}</span>
                </dd>
            </dl>
        </div>


</div>



<div class="m-main border ui-bg-fff">

        #if($!{info})
        <input type="hidden" name="csrReviewId" value="$!{info.csrReviewId}" />
        #end

        <h2 class="fn-tac apply-h2 fn-mt45">八、授信方案主要事项合理性评价</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（一）本次授信额度合理性评价</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.amountLimitReview}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（二）本次授信期限合理性评价</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.timeLimitReview}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（三）授信用途合理性评价</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.loanPurposeReview}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（四）第一还款来源分析</b></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.repaySourceReview}</span>
                </dd>
            </dl>
        </div>
        <div class="m-invn">
            <h3 class="m-invndt fn-mt40 fn-ml20"><b>（五）（反）担保措施分析</b></h3>
            <h4 class="m-invndt fn-mt40 fn-ml30"><b>1、保证方式评价</b></h4>
            <dl>
                <dt class="fn-pl30 fn-lh60">（1）、保证人合法性评价（此处不含担保公司评价）</dt>
                <dd class="fn-p-reb">
                     <table class="m-table" border="1">
                        <tbody>
                            #set($mainlyReview = $!{info.mainlyReview})
                            #if($!{mainlyReview})
                            <input type="hidden" name="mainlyReview.MReviewId" value="$!{mainlyReview.MReviewId}" />
                            #end
                            <tr>
                                <td class="fn-font-b2">成立时间</td>
                                <td>$dateUtil.dtSimpleFormat($!{mainlyReview.establishedTime})</td>
                                <td class="fn-font-b2">经营期限</td>
                                <td>$!{mainlyReview.operatingTerm}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">法定代表人</td>
                                <td>$!{mainlyReview.legalPersion}</td>
                                <td class="fn-font-b2">住所</td>
                                <td>$!{mainlyReview.livingAddress}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">实际控制人</td>
                                <td>$!{mainlyReview.actualControlPerson}</td>
                                <td class="fn-font-b2">营业执照号</td>
                                <td>$!{mainlyReview.busiLicenseNo}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">企业类型</td>
                                <td>
                                #foreach($item in $!{typeList})
                                    #if($item.code==$!{mainlyReview.enterpriseType.code})
                                        $!{item.message}
                                    #end
                                #end
                                </td>
                                <td class="fn-font-b2">办公地址</td>
                                <td>$!{mainlyReview.workAddress}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">组织机构代码证</td>
                                <td>$!{mainlyReview.orgCode}</td>
                                <td class="fn-font-b2">税务登记证号</td>
                                <td>$!{mainlyReview.taxCertificateNo}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">贷款卡号</td>
                                <td>$!{mainlyReview.loanCardNo}</td>
                                <td class="fn-font-b2">业务范围</td>
                                <td>$!{mainlyReview.busiScope}</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">最后年检年度</td>
                                <td>$!{mainlyReview.lastCheckYear}</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60">已获得的资质证书</dt>
                <dd class="fn-p-reb">
                     <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>资质证书名称</th>
                                <th>编码</th>
                                <th>有效期</th>
                            </tr>
                        </thead>
                        <tbody id="test1">
                            #set($index = 1)
                            #foreach($item in $!{info.certificates})
                                <tr #if($index!=1) class="fnNewLine" #end orderName="certificates">
                                    <td>$!{item.certificateName}</td>
                                    <td>$!{item.certificateCode}</td>
                                    <td>$dateUtil.dtSimpleFormat($!{item.validDate})</td>
                                </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60">客户主要高管人员表</dt>
                <dd class="fn-p-reb">
                     <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>学历</th>
                                <th>职务</th>
                                <th>履历</th>
                            </tr>
                        </thead>
                        <tbody id="test2">
                            #set($index = 1)
                            #foreach($item in $!{info.leadingTeams})
                                <tr #if($index!=1) class="fnNewLine" #end orderName="leadingTeams">
                                    <td>$!{item.name}</td>
                                    <td>$!{item.sex}</td>
                                    <td>$!{item.age}</td>
                                    <td>$!{item.degree}</td>
                                    <td>$!{item.title}</td>
                                    <td>$!{item.resume}</td>
                                </tr>
                                #set($index = $index + 1)
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60">领导人整体评价（包括主要领导人简历、管理层的稳定性）</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{mainlyReview.customerDevEvolution}</span>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-lh60">（2）、保证人主要财务指标(单位：万元、%)</dt>
                <dd class="fn-p-reb">
                     <table class="m-table" border="1" id="toLead">
                        <thead>
                            <tr>
                                <th>项目</th>
                                <input type="hidden" name="header.itemName" value="项目" />
                                <th>$!{info.header.value}</th>
                                <th>$!{info.header.value1}</th>
                                <th>$!{info.header.value2}</th>
                                <th>$!{info.header.value3}</th>
                            </tr>
                        </thead>
                        <tbody id="test2">
                            #foreach($kpi in $!{info.kpies})
                                #if($foreach.index!=0)
                                <tr orderName="kpies">
                                    <td class="fn-font-b2">$!{kpi.itemName}</td>
                                    <input type="hidden" name="itemName" value="$!{kpi.itemName}" />
                                    <td>$!{kpi.value}</td>
                                    <td>$!{kpi.value1}</td>
                                    <td>$!{kpi.value2}</td>
                                    <td>$!{kpi.value3}</td>
                                </tr>
                                #end
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60">（3）、保证人保证能力总体评价（非必填）</a></dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>保证人姓名</th>
                                <th>担保能力评级</th>
                                <th>上年净资产总额</th>
                                <th>除土地使用权以外的无形资产</th>
                                <th>或有负债</th>
                                <th>对外可提供担保额度</th>
                            </tr>
                        </thead>
                        <tbody id="test3">
                            #if($listUtil.isNotEmpty($!{info.guarantorAbilities}))
                                #foreach($item in $!{info.guarantorAbilities})
                            <tr orderName="guarantorAbilities">
                                #set($index = $foreach.index+1)
                                <td class="fn-text-c">$index</td>
                                <td>$!{item.guarantor}</td>
                                <td>$!{item.abilityLevel}</td>
                                <td>$!{item.totalCapital}</td>
                                <td>$!{item.intangibleAssets}</td>
                                <td>$!{item.contingentLiability}</td>
                                <td>$!{item.guaranteeAmount}</td>
                            </tr>
                                #end
                            #end
                        </tbody>
                    </table>
                </dd>
            </dl>
            <h4 class="m-invndt fn-mt40 fn-ml30"><b>2、抵、质押方式评价</b></h4>
            <dl>
                <dt class="fn-pl30 fn-lh60">（1）、担保人基本情况及合法性评价（如担保人为客户本人，仅对担保物部分进行评价即可）</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.guarantorInfo}</span>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60">（2）、担保物基本情况及评估价值评价<a class="ui-btn ui-btn-fill ui-btn-blue fn-ml10">历史担保物信息</a></dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.pledgeValue}</span>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60">评估机构名称、评估时间、评估方法、初评价值评价</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.reviewSummary}</span>
                </dd>
            </dl>
            <dl>
                <dt class="fn-pl30 fn-lh60">（3）、其它还款来源（如客户准备收回的投资、取得的投资收益或他行未用的授信额度，搭桥资金，股东注资以及其它容易变现的资产等）</dt>
                <dd class="fn-p-reb">
                     <span class="fn-ml30">$!{info.otherRepaySource}</span>
                </dd>
            </dl>
        </div>


</div>



<div class="m-main border ui-bg-fff">

        #if($!{info})
        <input type="hidden" name="riskId" value="$!{info.riskId}" />
        #end

        <h2 class="fn-tac apply-h2 fn-mt45">九、风险点分析</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                    <span class="fn-ml30">$!{info.riskAnalysis}</span>
                </dd>
            </dl>
        </div>
        <h2 class="fn-tac apply-h2 fn-mt45">十、结论意见</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                    <span class="fn-ml30">$!{info.conclusion}</span>
                </dd>
            </dl>
        </div>


</div>



#parse("/layout/common/commonjs.vm")
#*
#if($!{audit}!="YES")
    #parse("/layout/common/footer.vm")
    <script>
        seajs.use($_GLOBAL.zyw+'/project/bfcg.audit.investigation.common');
    </script>
#end
*#
<script>
    seajs.use($_GLOBAL.zyw+'/project/bfcg.itn.view.base.common');
    window.print();
</script>

</body>
</html>