<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project1.css" rel="stylesheet">
<title>授  信  逾  期  通  知  书（2015版）</title>
</head>
<style type="text/css">
    p{ line-height: 35px; font-size: 14px; }
    .fn-text-input{ line-height: 18px; }
</style>
<body>

<h1 class="m-h1 fn-tac">授  信  逾  期  通  知  书（2015版）</h1>

<p class="fn-tar fn-mt20">重进出逾通字（20）第  11111  号</p>

<p>致：<span class="ui-dpib fn-text-input">$!{project.customerName}</span>（债务人全称）</p>

<p class="fn-ti2">到<span class="ui-dpib fn-text-input">2016</span>年<span class="ui-dpib fn-text-input">01</span>月<span class="ui-dpib fn-text-input">01</span>日止，您（单位）仍欠债务本金（币种及金额大写）<span class="ui-dpib fn-text-input">来一点测试数据</span>整及利息（大写）<span class="ui-dpib fn-text-input">来一点测试数据</span>整（详见下列《欠款清单》）。</p>

<p class="fn-ti2"><span class="fn-right">单位：元</span>欠款清单</p>

<table class="m-table m-table-list fn-tac">
	<tbody>
		<tr>
			<td>合同编号</td>
			<td>债务金额</td>
			<td>到期日</td>
			<td>尚欠本金</td>
			<td>尚欠利息</td>
		</tr>
		<tr>
			<td>3434343</td>
			<td>343434</td>
			<td>2016-05-11</td>
			<td>23232</td>
			<td>232323</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>合计</td>
			<td>343434</td>
			<td>2016-05-11</td>
			<td>23232</td>
			<td>232323</td>
		</tr>
	</tfoot>
</table>

<p class="fn-ti2">上述债务均已逾期，您（单位）已构成违约，请立即履行还款义务。</p>

<p class="fn-ti2">特此通知。</p>

<p class="fn-tar"><span class="fn-tal fn-w400">重庆进出口信用担保有限公司（盖章）</span></p>
<p class="fn-tar"><span class="fn-tal fn-w400">经办人：</span></p>
<p class="fn-tar"><span class="fn-tal fn-w400">签发时间：<span class="ui-dpib fn-text-input">2016</span>年<span class="ui-dpib fn-text-input">01</span>月<span class="ui-dpib fn-text-input">01</span>日</span></p>

<br>

<p>注：1、此通知书一次填写    份，债务人签收后，债务人和我司各留一份，送（反）担保人    份。</p>

<hr>

<p>您公司送达的《授信到期通知书》，（编号：<span class="ui-dpib fn-text-input">23232323233</span>）,我单位：</p>

<p>（1）已收到；</p>

<p>（2）认可欠款事实；</p>

<p>（3）承诺按期偿还。</p>

<p class="fn-tar"><span class="fn-tal fn-w400">单位：（公章）</span></p>
<p class="fn-tar"><span class="fn-tal fn-w400">法定代表人：（签章）</span></p>
<p class="fn-tar"><span class="fn-tal fn-w400">经办人：（签章）</span></p>
<p class="fn-tar"><span class="fn-tal fn-w200"><span class="ui-dpib fn-text-input">2016</span>年<span class="ui-dpib fn-text-input">01</span>月<span class="ui-dpib fn-text-input">01</span>日</span></p>

</body>
</html>