<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
<title>客户评分</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;客户管理 &nbsp;&gt;&nbsp;客户评级 &nbsp;&gt;&nbsp;客户评分
</div>
 #set( $customerRelations = [{'value': 'DBKH','text': '担保客户'},{'value': 'TZYW','text': '投资业务客户'},{'value': 'WTDK','text': '委托贷款客户'},{'value': 'HZJR','text': '合作金融机构'},{'value': 'DBR','text': '担保人'},{'value': 'GLQY','text': '客户重要关联企业'},{'value': 'QT','text': '其他'}] )
<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">
    #if($!{audit})
        <form class="fn-pt20 m-audit" id="auditForm">
            #if($webNodeInfo.bpmButtonInfos && $webNodeInfo.bpmButtonInfos.size() > 0)
                <div class="m-audit" id="auditSubmitBtn">
                    <input type="hidden" name="_SYSNAME" value="CRM"/>
                    #parse("/layout/common/audit.vm")
                </div>
            #end
        </form>
    #end

    #if($!{audit})## 审核
        #set($post_url = '/customerMg/evaluting/auditUpdate.htm')
        #set($step = "1")
        #set($evalutingMap0 = $evalutingMap)
        #set($evalutingMap = $evalutingMap1)
        <input type="hidden" id="nextUrl" value="/customerMg/evaluting/edit.htm?">
    #else
        #set($step = "0")
        <input type="hidden" id="nextUrl" value="/customerMg/evaluting/add.htm?">
        #set($post_url = '/customerMg/evaluting/update.htm')
    #end


    <form class="fnStep submitStatus" action="$!{post_url}" method="post" id="form" userID="$!{info.userId}" #if($!{audit})audit#end>

        <h2 class="fn-tac apply-h2 fn-mt45">客户评分</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn fn-mt30 fn-clear" style="margin-left:-105px;">
            <div class="m-item m-item-half fn-left fn-mt30">
                <label class="m-label">客户：</label>
                <input type="text" class="ui-text fn-w200 fn-mr5" id="customerName"  name="customerName" value="$!{customerName}" readOnly>
                <input type="hidden" name="customerId" id="customerId" value="$!{customerId}">
                <input type="hidden" name="evalue_type" value="$!{showType}">
                <input type="hidden" name="formId" value="$!{formId}">
                <input type="hidden" name="userId" value="$!{info.userId}">
                <input type="hidden" name="editStatus" value="$!{editStatus}">
                #if($!auditInfo && $!auditInfo.status !="BACK")
                    <input type="hidden" name="projectCode" value="$!{projectCode}">
                #else
                    <input type="hidden" name="projectCode" value="">
                #end

                <input type="hidden" name="operator" value="$!{operator}">
                #if(!$!{audit})
                <a class="ui-btn ui-btn-fill ui-btn-blue" id="queryUserBtn">选择</a>
                #end
            </div>

            <div class="fn-left fn-mt30 fn-ml40 fn-lh45">
                <input class="text fn-mr5 qualifiedCheckbox" type="checkbox" name="isProsecute" value="IS" #if($!{evalueInfo.isProsecute} == "IS") checked="true" #end #if($!{audit}) disabled #end>被公司提起或准备提起法律诉讼的客户
            </div>
            <div class="fn-ml30 fn-lh45 qualified fn-left fn-mt30" id="aboutRadio">
                <input class="text fn-mr5" type="radio" checked name="evaluetingType" value="inner" #if($!{evalueInfo.evaluetingType} == "inner" || $!{evaluetingType} == "inner") checked="true" #end #if($!{audit}) disabled #end>内部评级
                <input class="text fn-mr5 fn-ml5" type="radio" name="evaluetingType" value="outer" #if($!{evalueInfo.evaluetingType} == "outer" ||$!{evaluetingType} == "outer") checked="true" #end #if($!{audit}) disabled #end>外部评级
                <input class="text fn-mr5 fn-ml5" type="radio" name="evaluetingType" value="none" #if($!{evalueInfo.evaluetingType} == "none" ||$!{evaluetingType} == "none") checked="true" #end #if($!{audit}) disabled #end>无
            </div>
            <div class="m-item m-item-half fn-mt30 fn-left onQualified fn-hide">
                <label class="m-label">信用等级为：</label>
                <select class="ui-select disabled fn-w200" disabled>
                    <option>F</option>
                </select>
            </div>
        </div>

        <script type="text/html" id="newPopupScript">
            <div class="newPopup">
                <span class="close">×</span>
                <dl>
                    <dt><span>选择客户</span></dt>
                    <dd class="fn-mt10">
                        <table class="m-table" style="width:540px;margin:0;" border="1">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>客户名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{if success}}

                            {{each page.result as value i}}
                            <tr>
                                <td class="fn-text-c onbreak">{{i+1}}</td>
                                <td class="fn-text-c onbreak" customerId="{{value.customerId}}">{{value.customerName}}</td>
                                <td class="fn-text-c onbreak"><a class="fn-csp choose">[选择]</a></td>
                            </tr>
                            {{/each}}

                            {{else}}

                            <tr>
                                <td class="fn-text-c" colspan="6">{{message}}</td>
                            </tr>

                            {{/if}}

                            </tbody>
                        </table>

                        {{if success}}

                        <div class="pageBox fn-text-r fn-mt5">

                            第{{page.currentPageNo}}页，共{{page.totalPageCount}}页，合计{{page.totalCount}}条&nbsp;|&nbsp;

                            {{if page.currentPageNo<2}}
                            <a class="disabled">首页</a>
                            <a class="disabled">上一页</a>
                            {{else}}
                            <a class="btn" page="1" href="javascript:void(0);">首页</a>
                            <a class="btn" page="{{page.currentPageNo-1}}" href="javascript:void(0);">上一页</a>
                            {{/if}}

                            {{if page.currentPageNo+1>page.totalPageCount}}
                            <a class="disabled">下一页</a>
                            <a class="disabled">尾页</a>
                            {{else}}
                            <a class="btn" page="{{page.currentPageNo+1}}" href="javascript:void(0);">下一页</a>
                            <a class="btn" page="{{page.totalPageCount}}" href="javascript:void(0);">尾页</a>
                            {{/if}}

                        </div>

                        {{/if}}

                    </dd>
                </dl>
            </div>
        </script>

        <script type="text/html" id="newPopupScript2" projectId>
            <div class="newPopup">
                <span class="close">×</span>
                <dl>
                    <dt><span>选择项目</span></dt>
                    <dd class="fn-mt10">
                        <table class="m-table" style="width:540px;margin:0;" border="1">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>项目名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{if success}}

                            {{each result.pageList as value i}}
                            <tr>
                                <td class="fn-text-c onbreak">{{i+1}}</td>
                                <td class="fn-text-c onbreak" projectCode="{{value.projectCode}}">{{value.projectName}}</td>
                                <td class="fn-text-c onbreak"><a class="fn-csp choose">[选择]</a></td>
                            </tr>
                            {{/each}}

                            {{else}}

                            <tr>
                                <td class="fn-text-c" colspan="6">{{message}}</td>
                            </tr>

                            {{/if}}

                            </tbody>
                        </table>

                        {{if success}}

                        <div class="pageBox fn-text-r fn-mt5">

                            第{{result.pageNumber}}页，共{{result.pageCount}}页，合计{{result.totalCount}}条&nbsp;|&nbsp;

                            {{if result.pageNumber<2}}
                            <a class="disabled">首页</a>
                            <a class="disabled">上一页</a>
                            {{else}}
                            <a class="btn" page="1" href="javascript:void(0);">首页</a>
                            <a class="btn" page="{{result.pageNumber-1}}" href="javascript:void(0);">上一页</a>
                            {{/if}}

                            {{if result.pageNumber+1>result.pageCount}}
                            <a class="disabled">下一页</a>
                            <a class="disabled">尾页</a>
                            {{else}}
                            <a class="btn" page="{{result.pageNumber+1}}" href="javascript:void(0);">下一页</a>
                            <a class="btn" page="{{result.pageCount}}" href="javascript:void(0);">尾页</a>
                            {{/if}}

                        </div>

                        {{/if}}

                    </dd>
                </dl>
            </div>
        </script>

        #if($info)## 客户信息

        <div class="m-invn fn-mt20 fn-mb30 qualified">

            <div class="m-blank fn-mt20 fn-mb20"></div>
            <div id="about">
                <div class="fn-hide">

                ##页签
                #parse("/layout/customerMg/clientRate/gradeIndexNav.vm")

                #if($showType == "KHGK")
                    ##客户概况
                    #parse("/layout/customerMg/clientRate/customerProfiling.vm")
                #end
                #if($showType == "ZBPF")
                    ##指标评分
                    #parse("/layout/customerMg/clientRate/IndexScore.vm")
                #end
                #if($showType == "CWZB")
                    ##财务评价指标计分表
                    <input type="hidden" value="$!{financeName}" id="financeName">
                    #parse("/layout/customerMg/clientRate/financialEvaluationIndex.vm")
                #end
                #if($showType == "ZBXY")
                    ##资本信用
                    #parse("/layout/customerMg/clientRate/creditReputation.vm")
                #end
                #if($showType == "TZSX")
                    ##调整事项
                    #parse("/layout/customerMg/clientRate/adjustingEvents.vm")
                #end
                #if($showType == "JFZB")
                    ##计分总表
                    #parse("/layout/customerMg/clientRate/summaryStatement.vm")
                #end

                </div>
                #if($!{evalueInfo.evaluetingType} == "outer")##如果是外部评级
                #set($outer_evalue = true)
                #end

                <div class="fn-hide">
                    <div class="m-item m-item-half">
                        <label class="m-label"><em class="remind">*</em>信用等级为：</label>
                        <select class="ui-select fn-w200" name="level">
                            <option value="">请选择信用等级</option>
                            #foreach($levels in ${evaluetingLevelEnum})
                            <option value="$!{levels.code()}" #if($outer_evalue && $!{evalueInfo.level} == $!{levels.code()}) selected="selected" #end>$!{levels.code()}</option>
                            #end
                        </select>
                    </div>
                    <div class="m-item m-item-half">
                        <label class="m-label"><em class="remind">*</em>评级机构名称：</label>
                        <input class="ui-text fn-w200" type="text" name="evaluetingInstitutions" #if($outer_evalue && $!{evalueInfo.evaluetingInstitutions}) value="$!{evalueInfo.evaluetingInstitutions}" #end>
                    </div>
                    <div class="m-item m-item-half">
                        <label class="m-label"><em class="remind">*</em>评级日期：</label>
                       ## <input class="ui-text fn-w200" type="text" name="evaluetingTime">
                        <input class="ui-text fn-w100 laydate-icon fnChangeInput fnRequired" type="text" name="evaluetingTime" #if($outer_evalue && $!{evalueInfo.evaluetingTime}) value="$!dateUtil.dtSimpleFormat($!evalueInfo.evaluetingTime)"#end onclick="laydate()">
                    </div>
                    <div class="fnUpAttach" style="margin-left: 66px;">
                        <label class="m-label"><em class="remind">*</em>上传会议纪要：</label>
                        <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-blue fnUpAttachBtn" todownload=true><i class="icon icon-add"></i>上传附件</a>
                        <input class="fnUpAttachVal" type="hidden" name="auditImg" value="$!{evalueInfo.auditImg}">
                        <div class="fn-blank5"></div>
                        <div class="m-attach fnUpAttachUl">
                            #if($outer_evalue && $!stringUtil.isNotBlank($!{evalueInfo.auditImg}))
                                 #set($attachs  =  $!evalueInfo.auditImg.split(";"))
                                 #if($attachs)
                                     #foreach($files in $attachs)
                                        #set($file = $!files.split(","))
                                        #set($pic = false)
                                        #if($!file[0].endsWith(".jpg") || $!file[0].endsWith(".JPG") ||
                                            $!file[0].endsWith(".png") || $!file[0].endsWith(".PNG") ||
                                            $!file[0].endsWith(".jpeg") || $!file[0].endsWith(".JPEG") ||
                                            $!file[0].endsWith(".bmp") || $!file[0].endsWith(".BMP"))
                                            #set($pic = true)
                                        #end

                                        <span class="attach-item fnAttachItem" val="$!{file[0]},$!{file[1]},$!file[2]">
                                            <i class="icon #if($!file[2].endsWith(".jpg") || $!file[2].endsWith(".JPG") ||$!file[2].endsWith(".png") || $!file[2].endsWith(".PNG") ||$!file[2].endsWith(".jpeg") || $!file[2].endsWith(".JPEG") ||$!file[2].endsWith(".bmp") || $!file[2].endsWith(".BMP")) icon-img #else icon-file #end">
                                            </i>
                                            #if($pic)
                                            <span class="fileItems fnAttachView fn-csp" href="$!file[2]" target="_blank">$!{file[0]}</span>
                                            #else
                                            <a class="fn-csp" href="$!file[2]" target="_blank">$!{file[0]}</a>
                                            #end
                                            <span class="attach-del fn-csp fn-usn fnUpAttachDel">&times;</span>
                                        </span>
                                     #end
                                 #end
                            #end
                        </div>
                    </div>
                </div>

                <div class="fn-hide">
            </div>



            </div>


        </div>
#*
        #if($!{audit})
            <dl>
                <dt class="fn-pl30 fn-lh60">备注：</dt>
                <dd class="fn-p-reb">
                    <textarea class="ui-textarea2 fn-w500 fn-ml30" name="auditOpinion1" placeholder="请控制在1000文字之内"></textarea>
                </dd>
            </dl>
        #end
*#
        <div class="fn-tac fn-pt10 fn-pb20">

            #if($!{audit})
                #if( $!evalueInfo.evaluetingType == "outer")
                  <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5" type="button" value="暂存" id="TS">
                  <input  type="hidden" name="evaluetingType" value="$!{evalueInfo.evaluetingType}">
                #elseif($!evalueInfo.evaluetingType == "none")
                    <input  type="hidden" name="evaluetingType" value="$!{evalueInfo.evaluetingType}">
                #elseif($!evalueInfo.isProsecute == "IS")
                    <input  type="hidden" name="isProsecute" value="$!{evalueInfo.isProsecute}">
                #else
                    <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5" type="button" value="暂存" id="TS">
                    <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5 step steps" type="button" value="上一步" stepatt="prev">
                    <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 step steps" type="button" value="下一步" stepatt="next">
                #end
            #else
                <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5 step steps" type="button" value="上一步" stepatt="prev">
                <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5" type="button" value="暂存" id="TS">
                <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5" type="button" value="保存并提交" id="submit">
                <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 step steps" type="button" value="下一步" stepatt="next">
            #end
            <a class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 fn-csp" href="/customerMg/evaluting/list.htm">返回</a>

       </div>

        #else
        <div style="height:400px;"></div>
        #end

    </form>

</div>


#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>

    #if(!$!showType)
        seajs.use($_GLOBAL.zyw+'/customer/gae.gradeIndexInitCommon');
    #end

    ##客户概况js
    #if($showType == "KHGK")
    seajs.use($_GLOBAL.zyw+'/customer/gae.gradeIndexCustomerProfiling');
    #end

    ##指标评分js
    #if($showType == "ZBPF")
    seajs.use($_GLOBAL.zyw+'/customer/gae.gradeIndexIndexScore');
    #end

    ##财务评价指标计分表js
    #if($showType == "CWZB")
    seajs.use($_GLOBAL.zyw+'/customer/gae.gradeIndexFinancialEvaluationIndex');
    #end

    ##资本信用js
    #if($showType == "ZBXY")
    seajs.use($_GLOBAL.zyw+'/customer/gae.gradeIndexCreditReputation');
    #end

    ##调整事项js
    #if($showType == "TZSX")
    seajs.use($_GLOBAL.zyw+'/customer/gae.gradeIndexAdjustingEvents');
    #end

    ##计分总表js
    #if($showType == "JFZB")
    seajs.use($_GLOBAL.zyw+'/customer/gae.gradeIndexSummaryStatement');
    #end
</script>



</body>
</html>