<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
<title>会议纪要审核</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;辅助系统&nbsp;&gt;&nbsp;会议管理&nbsp;&gt;&nbsp;会议纪要审核
</div>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    <form class="fnStep" id="form">
        <h2 class="fn-tac apply-h2 fn-mt30">会议纪要审批</h2>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="m-invn">
            <h3 class="m-invndt fn-ml30 fn-mt40">2015年10月20日下午，公司风险控制委员会副主任王红卫主持召开了2015年第32次项目评审会。会议议定事项如下：</h3>
            <h3 class="m-invndt fn-mt40 fn-ml20 ui-textarea-dt"><b>项目一：[2015]1亿委托贷款004号</b><i class="triangle-t"></i></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <tbody>
                            <tr>
                                <td class="fn-font-b2">投票结果</td>
                                <td class="fn-color-520 fn-font-b">出席会议的委员7人，其中同意7票</td>
                                <td class="fn-font-b2">客户名称</td>
                                <td>重庆ZZZZ有限公司</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">授信品种</td>
                                <td>委托贷款</td>
                                <td class="fn-font-b2">授信额度</td>
                                <td>1，000，000万元</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">授信期限</td>
                                <td>12月</td>
                                <td class="fn-font-b2">年利率</td>
                                <td>9.2%</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">收费方式</td>
                                <td>按月收取</td>
                                <td class="fn-font-b2">不足一月</td>
                                <td>按实际天数收取</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-mb20">授信前提条件</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>授信条件</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fn-font-b2">1</td>
                                <td>asdsadsadsadas</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">2</td>
                                <td>asdsadsadsadas</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">3</td>
                                <td>asdsadsadsadas</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <h3 class="m-invndt fn-mt40 fn-ml20 ui-textarea-dt"><b>项目二：[2015]1亿委托贷款004号</b><i class="triangle-t"></i></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <tbody>
                            <tr>
                                <td class="fn-font-b2">投票结果</td>
                                <td class="fn-color-520 fn-font-b">出席会议的委员7人，其中同意7票</td>
                                <td class="fn-font-b2">客户名称</td>
                                <td>重庆ZZZZ有限公司</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">授信用途</td>
                                <td>综合授信</td>
                                <td class="fn-font-b2">出资机构</td>
                                <td>分行</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">授信额度</td>
                                <td>000</td>
                                <td class="fn-font-b2">授信期限</td>
                                <td>12月</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">担保费率</td>
                                <td> 3%/年</td>
                                <td class="fn-font-b2">收费方式</td>
                                <td>一次性收取</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">不足一月</td>
                                <td>按实际天数收取</td>
                                <td class="fn-font-b2">收费时间</td>
                                <td>xxxx年xx月xx日</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">还款计划</td>
                                <td colspan="3">的比例等额偿还债券本金</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="fn-mt20">
                <dt class="fn-pl30 fn-mb20">授信前提条件</dt>
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>授信条件</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fn-font-b2">1</td>
                                <td>asdsadsadsadas</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">2</td>
                                <td>asdsadsadsadas</td>
                            </tr>
                            <tr>
                                <td class="fn-font-b2">3</td>
                                <td>asdsadsadsadas</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <h3 class="m-invndt fn-mt40 fn-ml20 ui-textarea-dt"><b>修改记录</b><i class="triangle-t"></i></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                    <table class="m-table" border="1">
                        <thead>
                            <tr>
                                <th>修改时间</th>
                                <th>修改人</th>
                                <th>修改字段</th>
                                <th>原值</th>
                                <th>新值</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2016-02-21     14:21:33</td>
                                <td>张三</td>
                                <td>保全被申请人</td>
                                <td>王五</td>
                                <td>王武</td>
                            </tr>
                            <tr>
                                <td>2016-02-21     14:21:33</td>
                                <td>张三</td>
                                <td>保全被申请人</td>
                                <td>王五</td>
                                <td>王武</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <h3 class="m-invndt fn-mt40 fn-ml20 ui-textarea-dt"><b>审核意见</b><i class="triangle-t"></i></h3>
            <dl class="fn-mt20">
                <dd class="fn-p-reb">
                    <textarea class="ui-textarea2 fn-w500 fn-ml30" name="relatedTrade" placeholder="请输入审核意见（请控制在1000文字之内）"></textarea>
                </dd>
            </dl>
        </div>
        <div class="fn-tac fn-pt30 fn-pb30">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 fnNext" type="submit" value="通过">
            <input class="ui-btn ui-btn-submit ui-btn-cancel fn-ml5 fn-mr5 fnNext" type="submit" value="不通过">
            <input class="ui-btn ui-btn-submit ui-btn-vip fn-ml5 fn-mr5 fnNext" type="submit" value="一票否决">
            <input class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 fnNext" type="button" value="返回">
        </div>
    </form>

</div>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")

<script src="/js/laydate/laydate.js"></script>
<script>
    //seajs.use('');
</script>

</body>
</html>