<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project2.css" rel="stylesheet">
<title>查看会议纪要 - 项目评审会</title>
</head>
<body>

<div class="ui-breadcrumb">&nbsp;项目签报&nbsp;&gt;&nbsp;表单签报&nbsp;&gt;&nbsp;项目批复签报</div>


<div class="fn-blank20"></div>

<div class="m-main ui-bg-fff">

    <div id="fnOldReport" class="m-change-view old">
        <h2 class="fn-tac m-h2">修改前</h2>
    </div>

    <div id="fnNewReport" class="m-change-view new active">
        <h2 class="fn-tac m-h2">修改后</h2>
    </div>

</div>

#parse("/layout/common/changeApply.vm")
#parse("/layout/common/commonjs.vm")

<script>
    seajs.use($_GLOBAL.zyw+'/project/assistsys.amend.view');
</script>

</body>
</html>