table{word-break:break-all; word-wrap:break-all;}
body{background-color:transparent;}
html,body,table {margin: 0px;padding: 0px;font-size: 12px;}
.center {width: 100%;text-align: center;}
.top {width: 100%;background-color: #1F4E7C;}
.title1 {margin-left: auto;margin-right: auto;height: 61px;line-height: 61px;}
.title2 {height: 60px;line-height: 60px;}
.title3 {width: 980px;margin-left: auto;margin-right: auto;}
.left {text-align: left;}
.tree {width: 19%;float: left;}
.title_hr {BORDER-BOTTOM-STYLE: dotted;BORDER-LEFT-STYLE: dotted;BORDER-RIGHT-STYLE: dotted;BORDER-TOP-STYLE: dotted;margin-top:-9px;}
.content {width: 80%;float: left;}
ul,li {list-style: none;padding: 0px;margin: 0px;}
ul li a {display:block;width:85%;height:30px;line-height:30px;cursor:pointer;padding-left:17px;}
ul li a:hover{background-color:#eee;}
ul li a span {margin-left: 15px;}
.tree ul li a{margin: 2px;}
.menu{background-image:url(../image/1.png);background-position:5px -32px;background-repeat:no-repeat;background-color: #ffffff;}
.menu.expland{background-position:5px -65px;}
.son{display:none;}
.son a{background-color: white;}
.editDate{width:100%;height:30px;line-height:30px;font-size: 14px; text-align: left; background-image:url(../image/tableTR.png);}
.bankDIV{width:100%;height:15px;}
table{width: 100%;}
td, th{height:30px;}
table, table thead tr td, table tbody tr td{border: 1px solid #BEC0BF;border-collapse: collapse;text-align:center;}
th{background-color: #BEC0BF;}
.tableTitle{margin-top:9px;width:100%;border-bottom:1px solid #e0eaf5;padding-bottom:20px;}
.span1{color:#3B93C0; font-size:15px;float:left;}
.span2{color:GRAY;float:right;}
.title_font{color:white; font-size: 28px;}
.editDate b {margin-left: 16px;}
a {text-decoration:none; color:black;}
/*a:link {color:black;; } */
/*a:visited {color:black;} */
/*a:hover {color:black;} */
/*a:active { color:black;}*/
.xxx_sel {color:red;}
.kongge{width:20px;}
